<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'LEVEL.All Levels' | translate }}</h4>
                <a class=" font-weight-bolder" routerLink="/branch">  {{branchName}} </a>
                <span class="font-weight-bold text-danger"><i class="fas fa-chevron-left"></i>
                   {{ 'LEVEL.Level' | translate }}
                </span>
            </div>
            <div class="card-body">
                <div class="row"  >
                    <div class="col-lg-3" *ngFor="let item of level">
                        <div class="padd">
                            <div class="widget navy-bg text-center">
                                <div style="height: 10em;">
                                    <div class="row h-100">
                                        <div class="col-sm-12 my-auto">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conta">
                                <button class="btn btn-primary btn-md" (click)="open(edit , item.id)" title="Edit"> <i
                                        class="fas fa-edit"></i></button> &nbsp;
                                <a routerLink="/class/{{item.id}}" class="btn btn-success btn-md" data-toggle="tooltip"
                                    title="Details"><i class="fas fa-eye"></i></a> </div>
                        </div>
                    </div>
 
                    <div class="col-lg-3" (click)="addLevel(addnewlevel)">
                        <div class="padd cursor-pointer">
                            <div class="dotted">
                                <div style="height: 12em;">
                                    <div class="row    h-100">
                                        <div class="col-sm-12 my-auto   text-center">
                                            {{ 'LEVEL.Add Level' | translate }}
                                            <br>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
 <ng-template #addnewlevel let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'LEVEL.Enter Your Level' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <form [formGroup]="LevelForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'LEVEL.Level Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'LEVEL.Level is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ar_name"> {{ 'LEVEL.ar_name' | translate }}</label>
                        <input type="text" formControlName="ar_name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.ar_name.errors }" />
                        <div *ngIf="submitted && f.ar_name.errors" class="invalid-feedback">
                            <div *ngIf="f.ar_name.errors.required">{{ 'LEVEL.ar_name is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="min_age"> {{ 'LEVEL.min_age' | translate }}</label>
                        <input type="text" formControlName="min_age" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.min_age.errors }" />
                        <div *ngIf="submitted && f.min_age.errors" class="invalid-feedback">
                            <div *ngIf="f.min_age.errors.required">{{ 'LEVEL.min_age is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="max_age"> {{ 'LEVEL.max_age' | translate }}</label>
                        <input type="text" formControlName="max_age" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.max_age.errors }" />
                        <div *ngIf="submitted && f.max_age.errors" class="invalid-feedback">
                            <div *ngIf="f.max_age.errors.required">{{ 'LEVEL.max_age is required' | translate }}</div>
                        </div>
                    </div>

                </div>
              
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 
 <ng-template #edit let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'LEVEL.Edit Your level' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <form [formGroup]="LevelForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'LEVEL.Level Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'LEVEL.Level is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ar_name"> {{ 'LEVEL.ar_name' | translate }}</label>
                        <input type="text" formControlName="ar_name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.ar_name.errors }" />
                        <div *ngIf="submitted && f.ar_name.errors" class="invalid-feedback">
                            <div *ngIf="f.ar_name.errors.required">{{ 'LEVEL.ar_name is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="min_age"> {{ 'LEVEL.min_age' | translate }}</label>
                        <input type="text" formControlName="min_age" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.min_age.errors }" />
                        <div *ngIf="submitted && f.min_age.errors" class="invalid-feedback">
                            <div *ngIf="f.min_age.errors.required">{{ 'LEVEL.min_age is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="max_age"> {{ 'LEVEL.max_age' | translate }}</label>
                        <input type="text" formControlName="max_age" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.max_age.errors }" />
                        <div *ngIf="submitted && f.max_age.errors" class="invalid-feedback">
                            <div *ngIf="f.max_age.errors.required">{{ 'LEVEL.max_age is required' | translate }}</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 