<div class="row">
  <div class="col-md-12">

    <h4 class="card-title font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Registration' | translate }} </h4>
    <a [routerLink]="['/registration']" class="text-secondary"><i class="fas fa-chevron-left"></i>
      {{ 'REGISTRATION-DETAILS.All registrations' | translate }}
    </a>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <button style="background: transparent; border: 0;" printSectionId="print-section" ngxPrint><i
            class="fas fa-print"></i> {{ 'REGISTRATION-DETAILS.Print' | translate }}</button>

        <button routerLink="/Edit_Application/{{applicationId}}/Child/{{childrenId}}" class="btn btn-primary pull-right">{{
          'REGISTRATION-DETAILS.Edit Application' | translate }}</button>

        <button routerLink="/bill/{{applicationId}}" class="btn btn-primary pull-right">{{ 'REGISTRATION-DETAILS.View
          Invoices' | translate }}</button>
        <button (click)="sendID()" routerLink="/create-Invoice/{{applicationId}}" class="btn btn-primary pull-right">{{
          'REGISTRATION-DETAILS.Create Invoices' | translate }}</button>
        <button *ngIf="!notActive" routerLink="/assign-to-plan/{{applicationId}}" class="btn btn-primary pull-right">{{
          'REGISTRATION-DETAILS.assign-to-plan' | translate }}</button>
        <!-- <p  [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}"assign-to-plan
              printSectionId="print-section"
              ngxPrint class="text-secondary"> <i class="fas fa-print"></i> Print</p> -->
        <div class="alert alert-success mt-5">

          <p class="mb-0">
            {{ 'REGISTRATION-DETAILS.max_students_number' | translate }}
            <strong>{{max_students_number }}</strong>
          </p>
          <p class="mb-0">
            {{ 'REGISTRATION-DETAILS.current_enroll_number' | translate }}
            <strong>{{current_enroll_number}}</strong>

          </p>

        </div>
        <div id="print-section">
          <div class="card-box card-box px-4 p-3 mt-3">
            <div class="row">
              <div class="col-md-12">

                <h4 class="font-weight-bolder mt-0"> {{children.first_name}} {{children.middle_name}}
                  {{children.last_name}}</h4>

              </div>
              <div class="col-md-6">

                <div>

                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.Date Of Birth' | translate }}:
                    {{children.date_of_birth}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.Applying For' | translate }} : {{children.level}}
                  </p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.Gender' | translate }}: {{children.gender}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.lives_with' | translate }}: {{children.lives_with}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.parents_are' | translate }}: {{children.parents_are}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.branch' | translate }}: {{branchName}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.name_ar' | translate }}: {{children.name_ar}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.type' | translate }}: {{this.info.type}}</p>
                  <p class="text-secondary" *ngIf="details.data.extra"> {{ 'REGISTRATION.extra' | translate }}:
                    {{details.data.extra}}</p>
                </div>
                <p class="font-weight-bolder" [ngStyle]="{'color':getColor(status)}"> {{status}}</p>
              </div>
              <div class="col-md-6">
                <p class="text-secondary"> {{ 'REGISTRATION.father name' | translate }}: {{children.father_name}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.father_job' | translate }}: {{children.father_job}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.father_email' | translate }}: {{children.father_email}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.father_phone' | translate }}: {{children.father_phone}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.mother name' | translate }}: {{children.mother_name}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.mother_job' | translate }}: {{children.mother_job}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.mother_email' | translate }}: {{children.mother_email}}</p>
                <p class="text-secondary"> {{ 'REGISTRATION.mother_phone' | translate }}: {{children.mother_phone}}</p>
                <p class="text-secondary"> {{ 'NAVBAR.language' | translate }}:
                  <span *ngFor="let item of language"> - {{item}} </span>
                </p>
                <p class="text-secondary"> {{ 'REGISTRATION.nationality' | translate }}:
                  <span *ngFor="let item of nationality"> - {{item}} </span>
                </p>

              </div>
            </div>

          </div>
          <div class="card-box card-box mt-3">
            <div class="box-header">
              <div class="p-3">
                <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Guardians' | translate }} </h4>
              </div>
            </div>
            <div class=" p-3">
              <div class="table-responsive">
                <table class="table table-borderless ">
                  <thead>
                    <tr>

                      <th>{{ 'REGISTRATION-DETAILS.Name' | translate }}</th>
                      <th>{{ 'REGISTRATION-DETAILS.Phone' | translate }}</th>
                      <th>{{ 'REGISTRATION-DETAILS.Relation' | translate }}</th>
                      <th>{{ 'REGISTRATION-DETAILS.Email' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td>{{parent.first_name}}</td>
                      <td>{{parent.mobile}}</td>
                      <td>{{this.details.data.first_guardian_relation}}</td>
                      <td>{{parent.email}}</td>
                    </tr>
                    <tr *ngIf="parent_two">

                      <td>{{parent_two.first_name}}</td>

                      <td>{{parent_two.mobile}}</td>
                      <td>{{parent_two.relation}}</td>
                      <td>{{parent_two.email}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <div class="card-box card-box mt-3">
            <div class="box-header">
              <div class="p-3">
                <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Medical Information' | translate }} </h4>
              </div>
            </div>
            <div class=" p-3">
              <div class="row">
                <div class="col-md-12 mb-3" *ngFor="let item of children.medical; let i = index">
                  <!-- <label *ngIf="medicalPartEn">{{form_elem.question}}</label> -->
                  <label *ngIf="medicalPartAr"> <strong> {{i + 1}} - {{ 'REGISTRATION-DETAILS.Question' | translate
                      }}</strong><span class="mx-2 text-primary">{{item.question_ar}}</span></label>
                  <label *ngIf="medicalPartEn"> <strong> {{i + 1}} - {{ 'REGISTRATION-DETAILS.Question' | translate
                      }}</strong><span class="mx-2 text-primary">{{item.question}}</span><br></label>
                  <br>

                  <strong> {{ 'REGISTRATION-DETAILS.Answer' | translate }}</strong><span class="mx-2"
                    *ngIf="item.valid==1;else noContent">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                  <ng-template #noContent> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                  <br>
                  <strong> {{ 'REGISTRATION-DETAILS.Comment' | translate }}</strong><span
                    class="mx-2">{{item.comment}}</span> <br>

                </div>
              </div>
            </div>

          </div>
          <div class="card-box card-box mt-3">
            <div class="box-header">
              <div class="p-3">
                <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Emergency Contact' | translate }} </h4>
              </div>
            </div>
            <div class=" p-3">
              <div class="row">
                <div class="col-md-6">
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.first_name' | translate }}: {{contact.first_name}}
                  </p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.last_name' | translate }}: {{contact.last_name}}
                  </p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.mobile' | translate }}: {{contact.mobile}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.alt_mobile' | translate }}: {{contact.alt_mobile}}
                  </p>

                </div>
                <div class="col-md-6">
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.address' | translate }}: {{contact.address}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.relation' | translate }}: {{contact.relation}}</p>
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.can_pick_child' | translate }}: </span><span
                    *ngIf="contact.can_pick_child == 1; else no">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                  <ng-template #no> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                </div>

              </div>
            </div>

          </div>
          <div class="card-box card-box mt-3">
            <div class="box-header">
              <div class="p-3">
                <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Child Ability' | translate }} </h4>
              </div>
            </div>
            <div class=" p-3">
              <div class="row">
                <div class="col-md-4">
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.can_eat_alone' | translate }}: </span><span
                    *ngIf="info.can_eat_alone == 1; else can_eat_alone">{{ 'REGISTRATION-DETAILS.yes' | translate
                    }}</span>
                  <ng-template #can_eat_alone> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                </div>
                <div class="col-md-4">
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.use_right_hand' | translate }}: </span><span
                    *ngIf="info.use_right_hand == 1; else use_right_hand">{{ 'REGISTRATION-DETAILS.yes' | translate
                    }}</span>
                  <ng-template #use_right_hand> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                </div>
                <div class="col-md-4">
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.go_toilet_alone' | translate }}: </span><span
                    *ngIf="info.go_toilet_alone == 1; else use_right_hand">{{ 'REGISTRATION-DETAILS.yes' | translate
                    }}</span>
                  <ng-template #go_toilet_alone> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                </div>


              </div>
            </div>

          </div>
        </div>
        <div *ngIf="notActive" class="card-box card-box mt-3">
          <div class="box-header">
            <div class="p-3">
              <h4 class="m-0 font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Actions' | translate }}</h4>
            </div>
          </div>
          <div class=" p-3">
            <div class="row text-center">
              <div class="col-sm-4">
                <button class="btn btn-primary" (click)="accept()">{{ 'REGISTRATION-DETAILS.Accept' | translate
                  }}</button>
              </div>
              <div class="col-sm-4">
                <button *ngIf="removeWaitingBtn" class="btn btn-warning" (click)="waiting()">{{ 'SIDEBAR.waiting' |
                  translate }}</button>
              </div>
              <div class="col-sm-4">
                <button *ngIf="removeRejectBtn" class="btn btn-danger" (click)="reject()">{{
                  'REGISTRATION-DETAILS.Reject' | translate }}</button>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- <p>registration-details works!</p>
<h3>{{details.data.children[0].first_name}}</h3>
<h3>{{details.data.parent.first_name}}</h3>
<h3>{{details.data.status}}</h3>
<button class="btn btn-primary" (click)="accept()">accept</button>
<button class="btn btn-danger" (click)="reject()">Reject</button> -->