<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="fetchEvents()"
  (viewChange)="fetchEvents()"
>
</mwl-demo-utils-calendar-header>

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
<br /><br /><br />
  
<h3>
  {{ 'EVENT.Edit events' | translate }}
</h3>
<button class="btn btn-primary  float-right" (click)="open(content)">{{ 'EVENT.Add New Event' | translate }}</button>  
  <div class="clearfix"></div>



<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> {{ 'EVENT.Title' | translate }}</th>
        <th> {{ 'STUDENTS.Class' | translate }}</th>
        <th> {{ 'EVENT.cost' | translate }}</th>
        <th> {{ 'EVENT.type' | translate }}</th>
        <th> {{ 'EVENT.description' | translate }}</th>
        <th>{{ 'EVENT.start' | translate }}</th>
        <th> {{ 'EVENT.Remove' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor=" let  event of  events$ | async ">
        <td>
          <input type="text" disabled class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
        </td>
        <td>
          <span *ngIf="event.class != null">
            <span disabled class="form-control">
              {{event.class.branch.name }} / {{event.class.level.name }} / {{event.class.name}}
            </span>
           </span>
        </td>
        <td>
          <input type="text" disabled class="form-control" [(ngModel)]="event.cost" (keyup)="refresh.next()" />
        </td>
        <td>
          <input type="text" disabled class="form-control" [(ngModel)]="event.type" (keyup)="refresh.next()" />
        </td>
        <td>
          <input type="text" disabled class="form-control" [(ngModel)]="event.description" (keyup)="refresh.next()" />
        </td>


        <td>
          <input class="form-control" disabled type="text" mwlFlatpickr [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i:s" placeholder="Not set" />
        </td>
        <!-- <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td> -->
        <td>
          <button class="btn btn-danger " (click)="delete(deleteEvent , event  , event.id )">
            {{ 'EVENT.Delete' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title"> {{ 'EVENT.Add New Event' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="eventForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title"> {{ 'EVENT.title' | translate }}</label>
            <input type="text" formControlName="title" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div *ngIf="f.title.errors.required">{{ 'EVENT.title is required' | translate }}</div>
            </div>
          </div>

        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="description"> {{ 'EVENT.description' | translate }}</label>
            <textarea class="form-control" formControlName="description" rows="4" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea> 
           
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">{{ 'EVENT.description is required' | translate }}</div>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="form-group ">
            <label> {{ 'EVENT.type' | translate }}</label>
            <select formControlName="type" class="form-control"  (change)="selectChangeHandler($event)"
              [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
              <option selected value="">{{ 'EVENT.type' | translate }}</option>
              <option value="private">{{ 'EVENT.private' | translate }}</option>
              <option value="public">{{ 'EVENT.public' | translate }}</option>

            </select>
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
              <div *ngIf="f.type.errors.required">
                {{ 'EVENT.type is required' | translate }}</div>
            </div>
          </div>

        </div>
        <!-- <div class="col-md-6" *ngIf="showClass">
          <div class="form-group ">
            <label>{{ 'EVENT.Class' | translate }} </label>
            <select formControlName="class_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }">
              <option selected value="" disabled>{{ 'EVENT.Class' | translate }}</option>

              <option *ngFor="let item of class" [value]="item.id">{{item.name}}</option>


            </select>
            <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback">
              <div *ngIf="f.class_id.errors.required">
                {{ 'EVENT.Class is required' | translate }}</div>
            </div>
          </div>
        </div> -->
         <div class="col-md-6 multiClass" *ngIf="showClass">
          <div class="form-group ">
            <label>{{ 'EVENT.Class' | translate }} </label>
            <!-- <select formControlName="class_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }">
              <option selected value="" disabled>{{ 'EVENT.Class' | translate }}</option>

              <option *ngFor="let item of class" [value]="item.id">{{item.name}}</option>


            </select> -->
            <mat-form-field appearance="outline">
              <mat-select formControlName="class_id" placeholder="{{ 'EVENT.Class' | translate }}"  [(value)]="selectedNationality" multiple>
                <mat-option *ngFor="let item of class" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback">
              <div *ngIf="f.class_id.errors.required">
                {{ 'EVENT.Class is required' | translate }}</div>
            </div>
          </div>
        </div> 
        
        <div class="col-md-12">
          <div class="form-group form-check">
              <label class="form-check-label">
                  <input type="checkbox"  (change)="toggleEditable($event)"
                      class="form-check-input" value="">
                  {{ 'EVENT.check if you want to add payment' | translate }}
                  <span class="form-check-sign"></span>
              </label>
          </div>
      </div>
        <div class="col-md-6" *ngIf="SchoolPayment">
          <div class="form-group">
            <label for="cost"> {{ 'EVENT.cost' | translate }}</label>
            <input type="number" formControlName="cost" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.cost.errors }" />
            <div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
              <div *ngIf="f.cost.errors.required">{{ 'EVENT.cost is required' | translate }}</div>
            </div>
          </div>

        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="Date">{{ 'EVENT.Date' | translate }}</label>


            <input [minDate]="{year: 1980, month: 1, day: 1}"  type="text"
              formControlName="event_date" placeholder="YYYY-MM-DD " class="form-control BrithDate" ngbDatepicker
              #d="ngbDatepicker" (click)="d.toggle()" [ngClass]="{ 'is-invalid': submitted && f.event_date.errors }" />
            <div *ngIf="submitted && f.event_date.errors" class="invalid-feedback">
              <div *ngIf="f.event_date.errors.required">
                {{ 'EVENT.Date is required' | translate }}</div>
            </div>
          </div>
        </div>
        
        <div class="col-md-12 mt-3" >
          <!--  -->

          <div class="form-group form-check">
            <label class="form-check-label" for="is_trip"> {{ 'EVENT.is_trip' | translate }} 
              <input type="checkbox" formControlName="is_trip" id="is_trip"
                  class="form-check-input"
                  [ngClass]="{ 'is-invalid': submitted && f.is_trip.errors }" />
                  <span class="form-check-sign"></span>
                </label>
              <div *ngIf="submitted && f.is_trip.errors" class="invalid-feedback">
                  {{ 'EVENT.is_trip is required' | translate }}</div>
          </div> <!--  -->

      </div>
        <div class="col-md-12">
          <div class="form-group ">
            <label> {{ 'VISIT.Time' | translate }}</label>


            <ngb-timepicker [(ngModel)]="timeFrom" formControlName="from"></ngb-timepicker>

          </div>
        </div>

      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>
<ng-template #deleteEvent let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'VISIT.delete Time' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
        <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>