/* .form-check input[type=checkbox], .form-check-radio input[type=radio] {
    opacity: 1;
    position: absolute;
    visibility: visible;
} */
.form-check .form-check-sign::after {
    font-family: FontAwesome;
    content: "";
    top: -1px;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    color: #fff;
    border: 0;
    background-color: inherit;
}
.form-check .form-check-sign::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    cursor: pointer;
    border-radius: 6px;
    top: 0;
    background-color: #aaa7a4;
    transition: opacity .3s linear;
}
.form-check .form-check-sign::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    cursor: pointer;
    border-radius: 6px;
    top: 0;
    background-color: #aaa7a4;
    transition: opacity .3s linear;
}
.form-check .form-check-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 26px;
    margin-bottom: 0;
}
.cdk-overlay-container {
    position: fixed;
    z-index: 999999 !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .6em 0 .6em 0 !important;
}