.card-box
{
    background-color: #f9f7f7;
}
.box-header
{
    border-bottom: 2px solid #fff;
}
.form-check input[type=checkbox], .form-check-radio input[type=radio] {
    opacity: 1;
    position: absolute;
    visibility: visible;
}
.card-sign {
    background-color: #ddd;
    border-radius: 8px;
    margin: 12em 0 20px;
    padding: 0;
}