<div class="row">
    <div class="col-md-12">

        <h4 class="card-title font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Registration' | translate }} </h4>
        <a [routerLink]="['/registration']" class="text-secondary"><i class="fas fa-chevron-left"></i>
            {{ 'REGISTRATION-DETAILS.All registrations' | translate }}
        </a>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="GuardianForm" (ngSubmit)="onSubmit()" class="Guardian-form">
                    <div class="card-sign">
                        <div class="header-title">
                            <h4 class="p-3"> {{ 'REGISTRATION.Guardian Information' | translate }} </h4>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-12">

                                <div class="form-group ">
                                    <label>{{ 'REGISTRATION-DETAILS.select parent' | translate }} </label>
                                    <select formControlName="info_Relation" class="form-control"
                                        (change)="getGurdian($event)"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_Relation.errors }">
                                        <option selected value="">
                                            {{ 'REGISTRATION-DETAILS.select parent'  | translate }}</option>
                                        <option *ngFor="let item of Parent" [value]="item.email">{{item.first_name}} -
                                            {{item.email}} - {{item.mobile}} </option>

                                    </select>
                                    <div *ngIf="submitted && f.info_Relation.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_Relation.errors.required">
                                            {{ 'CREATEAPPLICATION.Relation is required' | translate }}</div>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info_name">{{ 'CREATEAPPLICATION.Full name' | translate }} </label>
                                    <input type="text"  formControlName="info_name"
                                        placeholder="{{ 'CREATEAPPLICATION.Full name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_name.errors }" />
                                    <div *ngIf="submitted && f.info_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_name.errors.required">
                                            {{ 'CREATEAPPLICATION.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for=" info_Email"> {{ 'CREATEAPPLICATION.Email' | translate }}</label>
                                    <input type="text"   formControlName="info_Email" class="form-control"
                                        placeholder="{{ 'CREATEAPPLICATION.Email' | translate }}"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_Email.errors }" />
                                    <div *ngIf="submitted && f.info_Email.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_Email.errors.required">
                                            {{ 'CREATEAPPLICATION.Email is required' | translate }}</div>
                                        <div *ngIf="f.info_Email.errors.email">
                                            {{ 'CREATEAPPLICATION.Email must be a valid email address' | translate }}
                                        </div>
                                    </div>
                                </div>

                            </div> -->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info_mobile"> {{ 'CREATEAPPLICATION.Mobile number' | translate }}</label>
                                    <input type="number"  formControlName="info_mobile" placeholder="05XXXXXXXX"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_mobile.errors }" />
                                    <div *ngIf="submitted && f.info_mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_mobile.errors.required">
                                            {{ 'PROFILE.Mobile is required' | translate }}</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info_Alternative"> {{ 'REGISTRATION.Alternative Mobile' | translate
                                        }}</label>
                                    <input type="number" formControlName="info_Alternative" placeholder="05XXXXXXXX"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_Alternative.errors }" />
                                    <div *ngIf="submitted && f.info_Alternative.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_Alternative.errors.required">
                                            {{ 'REGISTRATION.Alternative Mobile required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.IDIqama' | translate }}</label>
                                    <input type="text" formControlName="info_IDIqama"
                                        placeholder=" {{ 'REGISTRATION.IDIqama' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_IDIqama.errors }" />
                                    <div *ngIf="submitted && f.info_IDIqama.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_IDIqama.errors.required">
                                            {{ 'REGISTRATION.IDIqama is required' | translate }} </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group ">
                                    <label>{{ 'REGISTRATION-DETAILS.relation' | translate }} </label>
                                    <select formControlName="info_Relation" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_Relation.errors }">
                                        <option selected value="">
                                            {{ 'REGISTRATION-DETAILS.relation' | translate }}</option>
                                        <option value="Father">{{ 'REGISTRATION.Father' | translate }}</option>
                                        <option value="Mother">{{ 'REGISTRATION.Mother' | translate }}</option>
                                        <option value="Uncle">{{ 'REGISTRATION.Uncle' | translate }}</option>
                                        <option value="Aunt">{{ 'REGISTRATION.Aunt' | translate }}</option>
                                        <option value="Grandpa">{{ 'REGISTRATION.Grandpa' | translate }}
                                        </option>

                                        <option value="Grandmother">
                                            {{ 'REGISTRATION.Grandmother' | translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && f.info_Relation.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_Relation.errors.required">
                                            {{ 'CREATEAPPLICATION.Relation is required' | translate }}</div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info_Occupation">
                                        {{ 'REGISTRATION.occupation' | translate }}</label>
                                    <input type="text" formControlName="info_Occupation"
                                        placeholder="{{ 'REGISTRATION.occupation' | translate }} " class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_Occupation.errors }" />
                                    <div *ngIf="submitted && f.info_Occupation.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_Occupation.errors.required">
                                            {{ 'REGISTRATION.occupation is required' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="info_Phone"> {{ 'REGISTRATION.Work Phone' | translate }}</label>
                                    <input type="number" formControlName="info_Phone" placeholder="05XXXXXXXX"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_Phone.errors }" />
                                    <div *ngIf="submitted && f.info_Phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_Phone.errors.required">
                                            {{ 'PROFILE.Mobile is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION-DETAILS.address' | translate }}</label>
                                    <input type="text" formControlName="info_address"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.address' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.info_address.errors }" />
                                    <div *ngIf="submitted && f.info_address.errors" class="invalid-feedback">
                                        <div *ngIf="f.info_address.errors.required">
                                            {{ 'CREATEAPPLICATION.address is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-sign mt-0">
                        <div class="header-title">
                            <h4 class="p-3"> {{ 'REGISTRATION-DETAILS.Child Information' | translate }}</h4>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="child_first_name">
                                        {{ 'REGISTRATION-DETAILS.first_name' | translate }}</label>
                                    <input type="text" formControlName="child_first_name"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.first_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_first_name.errors }" />
                                    <div *ngIf="submitted && f.child_first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_first_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION-DETAILS.Middle_name' | translate }}</label>
                                    <input type="text" formControlName="child_middle_name"
                                        placeholder="{{ 'REGISTRATION-DETAILS.Middle_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_middle_name.errors }" />
                                    <div *ngIf="submitted && f.child_middle_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_middle_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION-DETAILS.last_name' | translate }}</label>
                                    <input type="text" formControlName="child_last_name"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.last_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_last_name.errors }" />
                                    <div *ngIf="submitted && f.child_last_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_last_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Middle">
                                        {{ 'REGISTRATION.name in Arabic' | translate }}</label>
                                    <input type="text" formControlName="name_ar"
                                        placeholder=" {{ 'REGISTRATION.name in Arabic' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.name_ar.errors }" />
                                    <div *ngIf="submitted && f.name_ar.errors" class="invalid-feedback">
                                        <div *ngIf="f.name_ar.errors.required">
                                            {{ 'REGISTRATION.name in arabic is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Date">{{ 'REGISTRATION-DETAILS.Date Of Birth' | translate }}</label>


                                    <input [minDate]="{year: 1980, month: 1, day: 1}" type="text"
                                        (dateSelect)="onDateSelect($event)" formControlName="child_date_of_birth"
                                        placeholder="YYYY-MM-DD " class="form-control BrithDate" ngbDatepicker
                                        #d="ngbDatepicker" (click)="d.toggle()"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_date_of_birth.errors }" />
                                    <div *ngIf="submitted && f.child_date_of_birth.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_date_of_birth.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Date is required' | translate }}</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="showLeavelBranch">
                                <div class="form-group ">
                                    <label> {{ 'BRANCH.Branch Name' | translate }}</label>
                                    <select formControlName="branch_id" (change)="getLevel($event)" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.branch_id.errors }">
                                        <option value="" selected disabled>
                                            {{ 'BRANCH.Branch Name' | translate }}</option>
                                        <option *ngFor="let item of Branch" [value]="item.id">{{item.name}}</option>

                                    </select>
                                    <div *ngIf="submitted && f.branch_id.errors" class="invalid-feedback">
                                        <div *ngIf="f.branch_id.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Branch is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="showLeavelBranch">
                                <div class="form-group ">

                                    <label>{{ 'STUDENTS.level' | translate }} </label>
                                    <!-- <select (change)="getLevel($event)" formControlName="child_level"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_level.errors }">
                                        <option selected value="" disabled>
                                            {{ 'REGISTRATION-DETAILS.level' | translate }}</option>
                                        <option *ngFor="let item of levels" [value]="item.name">{{item.name}}
                                        </option>
                                        

                                    </select> -->
                                    <select formControlName="child_level" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_level.errors }">
                                        <option selected value="" disabled>
                                            {{ 'STUDENTS.level' | translate }}</option>
                                        <option *ngFor="let item of levels" [value]="item.name">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.child_level.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_level.errors.required">
                                            {{ 'REGISTRATION-DETAILS.level is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label> {{ 'REGISTRATION-DETAILS.Fullday or Extra or Fullday and Extra' | translate
                                        }}</label><br>
                                    <div class="form-check-inline">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="type" value="Fullday"
                                                    formControlName="type" (change)="changeGender($event)"> {{
                                                'REGISTRATION-DETAILS.Fullday' | translate }}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-check-inline">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="type"
                                                    value="Fullday and Extra" formControlName="type"
                                                    (change)="changeGender($event)"> {{ 'REGISTRATION-DETAILS.Fullday
                                                and Extra' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="type" value="Extra"
                                                    formControlName="type" (change)="changeGender($event)"> {{
                                                'REGISTRATION-DETAILS.Extra' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline" *ngIf="showCheckSummer || showCheckWinter">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="type" value="Camp"
                                                    formControlName="type" (change)="changeGender($event)"> {{
                                                'REGISTRATION-DETAILS.winter_camp or summer_camp' | translate }}
                                            </label>
                                        </div>
                                    </div>

                                    <div *ngIf="f.type.touched && f.type.invalid" class="alert alert-danger">
                                        <div *ngIf="f.type.errors.required"> {{ 'REGISTRATION-DETAILS.Type is required'
                                            | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="showCamp">
                                <div class="row">
                                    <div class="col-md-7" *ngIf="showCheckWinter">
                                        <div class="form-group form-check">

                                            <label for="winter_camp" class="form-check-label">
                                                <input type="checkbox" formControlName="monthWinter" id="winter_camp"
                                                    class="form-check-input" (change)="winterCampFunc($event)"
                                                    [ngClass]="{ 'is-invalid': submitted && f.winter_camp.errors }" />
                                                {{ 'REGISTRATION-DETAILS.winter_camp' | translate }} </label>
                                            <div *ngIf="submitted && f.winter_camp.errors" class="invalid-feedback">
                                                {{ 'REGISTRATION-DETAILS.Accept Ts & Cs is required' | translate }}
                                            </div>
                                        </div> <!--  -->
                                    </div>
                                    <div class="col-md-5" *ngIf="showMonthWinter">
                                        <!--  -->
                                        <div>

                                            <mat-form-field [floatLabel]="'never'" appearance="outline">
                                                <mat-select formControlName="monthWinter"
                                                    placeholder="{{ 'REGISTRATION-DETAILS.winter_camp' | translate }}"
                                                    multiple>

                                                    <mat-option *ngFor="let item of WinterCampMonths"
                                                        [value]="item.month">
                                                        {{item.month}}</mat-option>
                                                </mat-select>

                                            </mat-form-field>

                                        </div>
                                        <!-- <div class="" >
                                          <mat-form-field appearance="outline">
                                            <mat-select formControlName="monthWinter" [(value)]="selectedNationality" multiple>
                                              <mat-option *ngFor="let item of monthList1" [value]="item">{{item}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        </div> -->
                                    </div>
                                    <div class="col-md-7" *ngIf="showCheckSummer">
                                        <div class="form-group form-check">

                                            <label for="summer_camp" class="form-check-label">
                                                <input type="checkbox" formControlName="summer_camp" id="summer_camp"
                                                    class="form-check-input" (change)="summerCampFunc($event)"
                                                    [ngClass]="{ 'is-invalid': submitted && f.summer_camp.errors }" />
                                                {{ 'REGISTRATION-DETAILS.summer_camp' | translate }} </label>
                                            <div *ngIf="submitted && f.summer_camp.errors" class="invalid-feedback">
                                                {{ 'REGISTRATION-DETAILS.Accept Ts & Cs is required' | translate }}
                                            </div>
                                        </div> <!--  -->
                                    </div>
                                    <div class="col-md-4" *ngIf="showMonthSummer">
                                        <div class="">

                                            <mat-form-field appearance="outline">
                                                <mat-select formControlName="monthSummer"
                                                    placeholder="{{ 'REGISTRATION-DETAILS.summer_camp' | translate }}"
                                                    [(value)]="selectedNationality" multiple>
                                                    <mat-option *ngFor="let item of SummerCampMonths"
                                                        [value]="item.month">{{item.month}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-md-12" *ngIf="SchoolAfterList">
                                <div class="form-group">
                                    <label> {{ 'REGISTRATION-DETAILS.Hours' | translate }} </label>
                                    <select formControlName="hour" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.hour.errors }">
                                        <option value=""> {{ 'REGISTRATION-DETAILS.Hours' | translate }}</option>
                                        <option *ngFor="let hour of Hours" [value]="hour.id">{{hour.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.hour.errors" class="invalid-feedback">
                                        <div *ngIf="f.hour.errors.required">
                                            {{ 'REGISTRATION-DETAILS.hour is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.IDIqama' | translate }}</label>
                                    <input type="text" formControlName="IDIqama"
                                        placeholder=" {{ 'REGISTRATION.IDIqama' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.IDIqama.errors }" />
                                    <div *ngIf="submitted && f.IDIqama.errors" class="invalid-feedback">
                                        <div *ngIf="f.IDIqama.errors.required">
                                            {{ 'REGISTRATION.IDIqama is required' | translate }} </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <label> {{ 'REGISTRATION.nationality' | translate }} </label>
                                <mat-form-field>
                                    <mat-select [ngClass]="{'is-invalid': (
                                        GuardianForm.get('nationality').errors)}" formControlName="nationality"
                                        placeholder="{{ 'REGISTRATION.nationality' | translate }}" multiple>
                                        <!-- <div class="col-md-12">
                                            <div class="form-group mt-2">
                                                <input [(ngModel)]="searchText" class="form-control"
                                                    [ngModelOptions]="{standalone: true}"
                                                    placeholder="{{ 'REGISTRATION-DETAILS.Search for Nationality' | translate }}">
                                            </div>
                                        </div> -->
                                        <mat-option *ngFor="let Nationality of Nationalities "
                                            [value]="Nationality.name">{{Nationality.name}}</mat-option>
                                    </mat-select>
                                    <span class="invalid-feedback mt-2"
                                        *ngIf=" submitted && GuardianForm.get('nationality').errors">
                                        <span *ngIf="GuardianForm.get('nationality').errors.required ">
                                            {{ 'REGISTRATION-DETAILS.Nationality is required' | translate }}
                                        </span>

                                    </span>
                                </mat-form-field>

                            </div>
                            <div class="col-md-4">
                                <label> {{ 'NAVBAR.language' | translate }} </label>
                                <mat-form-field>
                                    <mat-select [ngClass]="{'is-invalid': (
                                    GuardianForm.get('language').errors)}" formControlName="language"
                                        placeholder="{{ 'NAVBAR.language' | translate }}" multiple>
                                        <!-- <div class="col-md-12">
                                            <div class="form-group mt-2">
                                                <input [(ngModel)]="searchTextlang" class="form-control"
                                                    [ngModelOptions]="{standalone: true}"
                                                    placeholder="{{ 'REGISTRATION-DETAILS.Search for Languages' | translate }}">
                                            </div>| filter : searchTextlang
                                        </div> -->
                                        <mat-option *ngFor="let Language of Languages " [value]="Language.name">
                                            {{Language.name}}</mat-option>
                                    </mat-select>
                                    <span class="invalid-feedback mt-2"
                                        *ngIf=" submitted && GuardianForm.get('language').errors">
                                        <span *ngIf="GuardianForm.get('language').errors.required ">
                                            {{ 'REGISTRATION-DETAILS.Languages is required' | translate }}
                                        </span>

                                    </span>
                                </mat-form-field>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION-DETAILS.address' | translate }}</label>
                                    <input type="text" formControlName="address"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.address' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">
                                            {{ 'REGISTRATION-DETAILS.address is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.father name' | translate }}</label>
                                    <input type="text" formControlName="father_name"
                                        placeholder="{{ 'REGISTRATION.father name' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }" />
                                    <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_name.errors.required">
                                            {{ 'REGISTRATION.father name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION.father_job' | translate }}</label>
                                    <input type="text" formControlName="father_job"
                                        placeholder="{{ 'REGISTRATION.father_job' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_job.errors }" />
                                    <div *ngIf="submitted && f.father_job.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_job.errors.required">
                                            {{ 'REGISTRATION-DETAILS.father_job is required' | translate }} </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.father_phone' | translate }}</label>
                                    <input type="text" formControlName="father_Mobile"
                                        placeholder="{{ 'REGISTRATION.father_phone' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_Mobile.errors }" />
                                    <div *ngIf="submitted && f.father_Mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_Mobile.errors.required">
                                            {{ 'REGISTRATION-DETAILS.father_Mobile is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.father_email' | translate }}</label>
                                    <input type="text" formControlName="father_email"
                                        placeholder="{{ 'REGISTRATION.father_email' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_email.errors }" />
                                    <div *ngIf="submitted && f.father_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_email.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Email is required' | translate }}</div>
                                        <div *ngIf="f.father_email.errors.email">
                                            {{ 'REGISTRATION-DETAILS.Email must be a valid email address' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.mother name' | translate }}</label>
                                    <input type="text" formControlName="Mother_name"
                                        placeholder="{{ 'REGISTRATION.mother name' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Mother_name.errors }" />
                                    <div *ngIf="submitted && f.Mother_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Mother_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Mother name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION.mother_job' | translate }}</label>
                                    <input type="text" formControlName="mother_job"
                                        placeholder="{{ 'REGISTRATION.mother_job' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.mother_job.errors }" />
                                    <div *ngIf="submitted && f.mother_job.errors" class="invalid-feedback">
                                        <div *ngIf="f.mother_job.errors.required">
                                            {{ 'REGISTRATION-DETAILS.mother_job is required' | translate }} </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.mother_phone' | translate }}</label>
                                    <input type="text" formControlName="Mother_Mobile"
                                        placeholder="{{ 'REGISTRATION.mother_phone' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Mother_Mobile.errors }" />
                                    <div *ngIf="submitted && f.Mother_Mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.Mother_Mobile.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Mother_Mobile is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.mother_email' | translate }}</label>
                                    <input type="text" formControlName="Mother_email"
                                        placeholder="{{ 'REGISTRATION.mother_email' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Mother_email.errors }" />
                                    <div *ngIf="submitted && f.Mother_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.Mother_email.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Email is required' | translate }}</div>
                                        <div *ngIf="f.Mother_email.errors.email">
                                            {{ 'REGISTRATION-DETAILS.Email must be a valid email address' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label>{{ 'REGISTRATION.The child lives with' | translate }}</label>
                                    <select formControlName="lives_with" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.lives_with.errors }">
                                        <option selected value="" disabled>
                                            {{ 'REGISTRATION.The child lives with' | translate }}</option>
                                        <option value="Father">{{ 'REGISTRATION.Father' | translate }}</option>
                                        <option value="Mother">{{ 'REGISTRATION.Mother' | translate }}</option>
                                        <option value="both">{{ 'REGISTRATION.both' | translate }}</option>
                                        <option value="others">{{ 'REGISTRATION.others' | translate }}</option>

                                    </select>
                                    <div *ngIf="submitted && f.lives_with.errors" class="invalid-feedback">
                                        <div *ngIf="f.lives_with.errors.required">
                                            {{ 'REGISTRATION.lives_with is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label>{{ 'REGISTRATION.The parents are' | translate }}</label>
                                    <select formControlName="parents_are" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.parents_are.errors }">
                                        <option selected value="" disabled>
                                            {{ 'REGISTRATION.The parents are' | translate }}</option>
                                        <option value="Together">{{ 'REGISTRATION.Together' | translate }}
                                        </option>
                                        <option value="separate">{{ 'REGISTRATION.separate' | translate }}
                                        </option>

                                    </select>
                                    <div *ngIf="submitted && f.parents_are.errors" class="invalid-feedback">
                                        <div *ngIf="f.parents_are.errors.required">
                                            {{ 'CREATEAPPLICATION.parents_are is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION-DETAILS.Gender' | translate }}</label>
                                    <select formControlName="gender" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                        <option selected value="" disabled>
                                            {{ 'REGISTRATION-DETAILS.Gender' | translate }}</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>

                                    </select>
                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                        <div *ngIf="f.gender.errors.required">
                                            {{ 'REGISTRATION-DETAILS.gender is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>




                            <!-- <div class="col-md-6">
                                <div class="form-group form-check">
                                    <label>
                                        <input type="checkbox" (change)="toggleEditable($event)"
                                            class="form-check-input" value="">
                                        {{ 'REGISTRATION-DETAILS.check if you want extra hours after School' | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="SchoolAfterList">
                                <label> {{ 'REGISTRATION-DETAILS.Hours' | translate }} </label>
                                <select formControlName="hour" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.hour.errors }">
                                    <option value=""> {{ 'REGISTRATION-DETAILS.choose' | translate }}</option>
                                    <option *ngFor="let hour of Hours" [value]="hour.id">{{hour.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.hour.errors" class="invalid-feedback">
                                    <div *ngIf="f.hour.errors.required">
                                        {{ 'REGISTRATION-DETAILS.hour is required' | translate }}</div>
                                </div>
                            </div> -->

                        </div>
                    </div>

                    <div class="card-sign mt-0" *ngIf="showMedicalSec">
                        <div class="header-title">
                            <h4 class="p-3"> {{ 'REGISTRATION-DETAILS.Medical Information' | translate }}</h4>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-12" *ngFor="let form_elem of Medical ">
                                <div class="form-group">
                                    <label *ngIf="medicalPartEn">{{form_elem.question}}</label>
                                    <label *ngIf="medicalPartAr">{{form_elem.question_ar}}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="{{form_elem.radio}}" value="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="{{form_elem.radio}}" value="0">{{
                                            'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                    <!-- <label><input type="radio" formControlName="{{form_elem.radio}}" value="1" /> yes</label> 
                                                    <label><input type="radio" formControlName="{{form_elem.radio}}" value="0" />no</label> -->
                                </div>
                                <div class="form-group">
                                    <!-- <label for="Middle"> {{form_elem.input}}</label> -->
                                    <input type="text" formControlName="{{form_elem.input}}"
                                        placeholder="{{ 'REGISTRATION-DETAILS.If yes please specify' | translate }}"
                                        class="form-control" />

                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="card-sign mt-0">
                        <div class="header-title">
                            <h4 class="p-3"> {{ 'REGISTRATION-DETAILS.Child Ability' | translate }}</h4>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.can_eat_alone' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_eat"
                                                value="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_eat"
                                                value="0">{{ 'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.use_right_hand' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_hand"
                                                value="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_hand"
                                                value="0">{{ 'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.go_toilet_alone' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Ability_toilet" value="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Ability_toilet" value="0">{{ 'REGISTRATION-DETAILS.No'
                                            | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-sign mt-0">
                        <div class="header-title">
                            <h4 class="p-3"> {{ 'REGISTRATION-DETAILS.Emergency Contact' | translate }}</h4>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_first_name">
                                        {{ 'REGISTRATION-DETAILS.first_name' | translate }}</label>
                                    <input type="text" formControlName="Emergency_first_name"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.first_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_first_name.errors }" />
                                    <div *ngIf="submitted && f.Emergency_first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_first_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_last_name">
                                        {{ 'REGISTRATION-DETAILS.last_name' | translate }}</label>
                                    <input type="text" formControlName="Emergency_last_name"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.last_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_last_name.errors }" />
                                    <div *ngIf="submitted && f.Emergency_last_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_last_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_mobile">
                                        {{ 'REGISTRATION-DETAILS.Phone' | translate }}</label>
                                    <input type="text" formControlName="Emergency_mobile"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.Phone' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_mobile.errors }" />
                                    <div *ngIf="submitted && f.Emergency_mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_mobile.errors.required">
                                            {{ 'PROFILE.Mobile is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_Alternative_Mobile">
                                        {{ 'REGISTRATION-DETAILS.alt_mobile' | translate }}</label>
                                    <input type="text" formControlName="Emergency_Alternative_Mobile"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.alt_mobile' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_Alternative_Mobile.errors }" />
                                    <div *ngIf="submitted && f.Emergency_Alternative_Mobile.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.Emergency_Alternative_Mobile.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Alternative Mobile required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_Relation_Family">
                                        {{ 'REGISTRATION-DETAILS.relation' | translate }}</label>
                                    <input type="text" formControlName="Emergency_Relation_Family"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.relation' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_Relation_Family.errors }" />
                                    <div *ngIf="submitted && f.Emergency_Relation_Family.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.Emergency_Relation_Family.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Relation is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_Address">
                                        {{ 'REGISTRATION-DETAILS.address' | translate }}</label>
                                    <input type="text" formControlName="Emergency_Address"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.address' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_Address.errors }" />
                                    <div *ngIf="submitted && f.Emergency_Address.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_Address.errors.required">
                                            {{ 'REGISTRATION-DETAILS.address is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.can_pick_child' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Emergency_Permission" value="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Emergency_Permission" value="0">{{
                                            'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-sign mt-0">
                        <div class="header-title">
                            <h4 class="p-3"> {{ 'REGISTRATION-DETAILS.Other Guardian Information' | translate }} </h4>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-12">
                                <div class="form-group form-check ">
                                    <label>
                                        <input type="checkbox" (change)="toggleGuardian($event)"
                                            class="form-check-input" value="">
                                        {{ 'REGISTRATION-DETAILS.Check add guardian' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 " *ngIf="GuardianCheck">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first_name">{{ 'REGISTRATION-DETAILS.Full name' | translate }} </label>
                                    <input type="text" formControlName="first_name"
                                        placeholder="{{ 'REGISTRATION-DETAILS.Full name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.first_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION-DETAILS.Relation' | translate }}</label>
                                    <select formControlName="Relation" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Relation.errors }">
                                        <option selected value="">{{ 'REGISTRATION-DETAILS.Relation' | translate }}
                                        </option>
                                        <option value="Father">{{ 'REGISTRATION-DETAILS.Father' | translate }}</option>
                                        <option value="Mother">{{ 'REGISTRATION-DETAILS.Mother' | translate }}</option>
                                        <option value="Uncle">{{ 'REGISTRATION-DETAILS.Uncle' | translate }}</option>
                                        <option value="Aunt">{{ 'REGISTRATION-DETAILS.Aunt' | translate }}</option>
                                        <option value="Grandpa">{{ 'REGISTRATION-DETAILS.Grandpa' | translate }}
                                        </option>
                                        <option value="GrandMother">
                                            {{ 'REGISTRATION-DETAILS.Grandmother' | translate }}</option>
                                    </select>
                                    <div *ngIf="submitted && f.Relation.errors" class="invalid-feedback">
                                        <div *ngIf="f.Relation.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Relation is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mobile"> {{ 'REGISTRATION-DETAILS.Mobile number' | translate }}</label>
                                    <input type="number" formControlName="mobile" placeholder="05XXXXXXXX"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.mobile.errors.required">
                                            {{ 'PROFILE.Mobile is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="guardianOccupation">
                                        {{ 'REGISTRATION-DETAILS.Occupation' | translate }}</label>
                                    <input type="text" formControlName="guardianOccupation"
                                        placeholder="{{ 'REGISTRATION-DETAILS.Occupation' | translate }} "
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.guardianOccupation.errors }" />
                                    <div *ngIf="submitted && f.guardianOccupation.errors" class="invalid-feedback">
                                        <div *ngIf="f.guardianOccupation.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Occupation is required' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email"> {{ 'REGISTRATION-DETAILS.Email' | translate }}</label>
                                    <input type="text" formControlName="email" class="form-control"
                                        placeholder="{{ 'REGISTRATION-DETAILS.Email' | translate }}"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Email is required' | translate }}</div>
                                        <div *ngIf="f.email.errors.email">
                                            {{ 'REGISTRATION-DETAILS.Email must be a valid email address' | translate }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div> -->
                    <div class="card-sign mt-0">
                        <div class="row p-3">

                            <div class="col-md-12 mt-3">
                                <!--  -->

                                <div class="form-group form-check">

                                    <label for="acceptTerms" class="form-check-label">
                                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                                            class="form-check-input"
                                            [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                        {{ 'REGISTRATION-DETAILS.AcceptTerms' | translate }} </label>
                                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                        {{ 'REGISTRATION-DETAILS.Accept Ts & Cs is required' | translate }}</div>
                                </div> <!--  -->

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-danger btn-block mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                            {{ 'BUTTON.Save' | translate }}
                        </button>

                    </div>
                </form>
            </div>


        </div>

    </div>

</div>