<div class="row">
    <div class="col-md-12">

        <h4 class="card-title font-weight-bolder"> {{ 'REGISTRATION-DETAILS.View Invoices' | translate }} </h4>
        <a [routerLink]="['/Payment']" class="text-secondary"><i class="fas fa-chevron-left"></i>
            {{ 'BILL.All Bills' | translate }}
        </a>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <button style="background: transparent; border: 0;" printSectionId="print-section" ngxPrint><i
                    class="fas fa-print"></i> {{ 'REGISTRATION-DETAILS.Print' | translate }}</button>
                <div id="print-section">
                    <div class="card-box card-box px-4 p-3 mt-3">
                      <div class="row">
                        <div class="col-md-12">
          
                          <h4 class="font-weight-bolder mt-0"> {{ 'REGISTRATION-DETAILS.View Invoices' | translate }}</h4>
          
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'BILL.TIER' | translate }}</th>
                                        <th> {{ 'BILL.Days' | translate }}</th>
                                        <th> {{ 'DASHBOARD.total' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tier</td>
                                        <td>31</td>
                                        <td>500 SR</td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 offset-md-6 text-right">
                            <div class="row">
                                <div class="col-md-6 mt-2"> {{ 'BILLDETAILS.Subtotal' | translate }}</div>
                                <div class="col-md-6 mt-2">360 SR</div>
                                <div class="col-md-6 mt-2"> {{ 'BILLDETAILS.Discount' | translate }}</div>
                                <div class="col-md-6 mt-2">0 SR</div>
                                <div class="col-md-6 mt-2"> {{ 'BILL.vat' | translate }}</div>
                                <div class="col-md-6 mt-2">10 SR</div>
                                <div class="col-md-6 mt-2 font-weight-bolder">{{ 'DASHBOARD.total' | translate }}</div>
                                <div class="col-md-6 mt-2 font-weight-bolder">350 SR</div>
                            </div>
                        </div>
                       
                        
                      </div>
          
                    </div>
                </div>
               
            </div>


        </div>

    </div>

</div>