<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{ 'STUDENTS.All Students' | translate }}</h4>
      </div>
      <div class="card-body">
        <ngb-tabset #t="ngbTabset">
          <ngb-tab id="tab-selectbyid1" title="{{ 'STUDENTS.Active students' | translate }}">

            <ng-template ngbTabContent>
              <form [formGroup]="filterForm" (ngSubmit)="filterActive()" class="register-form">
                <div class="row pt-4">
                  <div class="col-md-5 offset-md-7">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                          <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && a.name.errors }" />
                          <div *ngIf="submitted && a.name.errors" class="invalid-feedback">
                            <div *ngIf="a.name.errors.required">{{ 'STUDENTS.student name is required' | translate }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group mt-4">
                          <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                            {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="table-responsive">
                <table class="table mt-5">
                  <thead class=" text-primary">
                    <th> {{ 'STUDENTS.Name' | translate }}</th>
                    <th> {{ 'STUDENTS.level' | translate }}</th>
                    <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'STUDENTS.gender' | translate }} </th>
                    <th> {{ 'STUDENTS.Class' | translate }}</th>
                    <th> {{ 'STUDENTS.Action' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of students">
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.first_name}}
                        {{student.child.middle_name}} {{student.child.last_name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.class.level.name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.date_of_birth}}
                      </td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.gender}}</td>
                      <!-- <td >  </td> -->
                      <td *ngIf="student.class?.id; else elsePerfId">
                        <a routerLink="/students/{{student.class.id}}" data-toggle="tooltip"
                          title="Details">{{student.class.name}}</a>
                      </td>
                      <ng-template #elsePerfId>
                        <td class="text-danger"> {{ 'STUDENTS.Not Assign' | translate }}</td>
                      </ng-template>
                      <td> <button class="btn btn-info p-2 mx-1" data-toggle="tooltip" title="Change Class"
                          (click)="EditClass(Eclass ,student.class.level_id, student.id)"> <i
                            class="fas fa-pen-square"></i></button>
                        <button *ngIf="student.class" class="btn  btn-warning p-2 mx-1" data-toggle="tooltip"
                          title="Edit status" (click)="edit(editStatus ,  student.class.id , student.id )">
                          <i class="fas fa-pen-square"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page"
                [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>{{ 'STUDENTS.Deactivated students' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <form [formGroup]="filterFormDeactivated" (ngSubmit)="filterDeactivated()" class="register-form">
                <div class="row pt-4">
                  <div class="col-md-5 offset-md-7">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                          <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && d.name.errors }" />
                          <div *ngIf="submitted && d.name.errors" class="invalid-feedback">
                            <div *ngIf="d.name.errors.required">{{ 'STUDENTS.student name is required' | translate }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group mt-4">
                          <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                            {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="table-responsive">
                <table class="table mt-5">
                  <thead class=" text-primary">
                    <th> {{ 'STUDENTS.Name' | translate }}</th>
                    <th> {{ 'STUDENTS.level' | translate }}</th>
                    <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'STUDENTS.gender' | translate }} </th>
                    <th> {{ 'STUDENTS.Class' | translate }}</th>
                    <th> {{ 'STUDENTS.Action' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentsPending">
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.first_name}}
                        {{student.child.middle_name}} {{student.child.last_name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.class.level.name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.date_of_birth}}
                      </td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.gender}}</td>
                      <!-- <td >  </td> -->
                      <td *ngIf="student.class?.id; else elsePerfId">
                        <a routerLink="/students/{{student.class.id}}" data-toggle="tooltip"
                          title="Details">{{student.class.name}}</a>
                      </td>
                      <ng-template #elsePerfId>
                        <td class="text-danger"> {{ 'STUDENTS.Not Assign' | translate }}</td>
                      </ng-template>
                      <td>
                        <button *ngIf="student.class" class="btn  btn-warning p-2 mx-2" data-toggle="tooltip"
                          title="Edit Status" (click)="edit(editStatus ,  student.class.id , student.id )">
                          <i class="fas fa-pen-square"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total3" [(pageSize)]="per_page3"
                [(page)]="page3" [maxSize]="7" [rotate]="true" (pageChange)="loadPageDeactive($event)"></ngb-pagination>

            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid3">
            <ng-template ngbTabTitle> {{ 'STUDENTS.Unassigned students' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <form [formGroup]="filterFormUnassigned" (ngSubmit)="filterUnassigned()" class="register-form">
                <div class="row pt-4">
                  <div class="col-md-5 offset-md-7">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                          <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && u.name.errors }" />
                          <div *ngIf="submitted && u.name.errors" class="invalid-feedback">
                            <div *ngIf="u.name.errors.required">{{ 'STUDENTS.student name is required' | translate }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group mt-4">
                          <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                            {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="table-responsive">
                <table class="table mt-5">
                  <thead class=" text-primary">
                    <th> {{ 'STUDENTS.Name' | translate }}</th>
                    <th> {{ 'STUDENTS.level' | translate }}</th>
                    <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'STUDENTS.gender' | translate }} </th>
                    <th> {{ 'STUDENTS.Class' | translate }}</th>
                    <th> {{ 'STUDENTS.Action' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentsUnassigned">
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.first_name}}
                        {{student.child.middle_name}} {{student.child.last_name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.level}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.date_of_birth}}
                      </td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.gender}}</td>
                      <!-- <td >  </td> -->
                      <td *ngIf="student.class?.id; else elsePerfId">
                        <a routerLink="/students/{{student.class.id}}" data-toggle="tooltip"
                          title="Details">{{student.class.name}}</a>
                      </td>
                      <ng-template #elsePerfId>
                        <td class="text-danger"> {{ 'STUDENTS.Not Assign' | translate }}</td>
                      </ng-template>
                      <td> <button *ngIf="student.child.application.type != 'Extra' " class="btn btn-info p-2"
                          (click)="open(content , student.id)"><i class="fas fa-eye"></i></button>
                        <button *ngIf="student.class" class="btn  btn-warning p-2 mx-2" data-toggle="tooltip"
                          title="Edit Status" (click)="edit(editStatus ,  student.class.id , student.id )">
                          <i class="fas fa-pen-square"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total4" [(pageSize)]="per_page4"
                [(page)]="page4" [maxSize]="7" [rotate]="true" (pageChange)="loadPageUnassign($event)"></ngb-pagination>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid4">
            <ng-template ngbTabTitle> {{ 'STUDENTS.extra hours' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <form [formGroup]="filterFormExtra" (ngSubmit)="filterExtra()" class="register-form">
                <div class="row pt-4">
                  <div class="col-md-5 offset-md-7">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                          <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && e.name.errors }" />
                          <div *ngIf="submitted && e.name.errors" class="invalid-feedback">
                            <div *ngIf="e.name.errors.required">{{ 'STUDENTS.student name is required' | translate }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group mt-4">
                          <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                            {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="table-responsive">
                <table class="table mt-5">
                  <thead class=" text-primary">
                    <th> {{ 'STUDENTS.Name' | translate }}</th>
                    <th> {{ 'STUDENTS.level' | translate }}</th>
                    <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'STUDENTS.extra hours' | translate }} </th>
                    <th>{{ 'STUDENTS.gender' | translate }} </th>
                    <th> {{ 'STUDENTS.Class' | translate }}</th>
                    <th> {{ 'STUDENTS.Action' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of extraHour">
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.first_name}}
                        {{student.child.middle_name}} {{student.child.last_name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.level}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.date_of_birth}}
                      </td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.extra}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.gender}}</td>
                      <!-- <td >  </td> -->
                      <td *ngIf="student.class?.id; else elsePerfId">
                        <a routerLink="/students/{{student.class.id}}" data-toggle="tooltip"
                          title="Details">{{student.class.name}}</a>
                      </td>
                      <ng-template #elsePerfId>
                        <td class="text-danger"> {{ 'STUDENTS.Not Assign' | translate }}</td>
                      </ng-template>
                      <td> <button *ngIf="student.child.application.type != 'Extra' " class="btn btn-info p-2 mx-2"
                          (click)="open(content , student.id)"><i class="fas fa-eye"></i></button>
                        <button *ngIf="student.class" class="btn  btn-warning p-2 mx-2" data-toggle="tooltip"
                          title="Edit Status" (click)="edit(editStatus ,  student.class.id , student.id )">
                          <i class="fas fa-pen-square"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total2" [(pageSize)]="per_page2"
                [(page)]="page2" [maxSize]="7" [rotate]="true" (pageChange)="loadPageExtra($event)"></ngb-pagination>

            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid5">
            <ng-template ngbTabTitle> {{ 'STUDENTS.Winter Camp' | translate }}</ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                
                <div class="col-md-6 mt-5">
                  <form class="example-form" [formGroup]="ActiveBTNWinter" (ngSubmit)="onFormSubmit()" ngNativeValidate>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-slide-toggle color="primary" formControlName="enableWinterCamp" [checked]="useDefault"
                          (change)="toggleWinterBtn($event)">{{ 'STUDENTS.Enable Winter' | translate }}
                        </mat-slide-toggle>
                      </div>
                      <div class="col-md-7"  *ngIf="showMonthWinter"> 
                        <div class="d-inline mx-2">
                          
                          <mat-form-field appearance="outline">
                            <mat-select formControlName="month" [(value)]="selectedNationality" multiple>
                              <mat-option *ngFor="let item of monthList" [value]="item">{{item}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="d-inline">
                          <button mat-raised-button type="submit"> {{ 'BUTTON.Save' | translate }}</button>
                        </div>
                      </div>
                      
                    </div>




                    <!-- <p>Form Group Status: {{formGroup.status}}</p> -->


                  </form>
                </div>
                <div class="col-md-5 offset-md-1">
                  <form [formGroup]="filterFormWinter" (ngSubmit)="filterWinter()" class="register-form">
                    <div class="row pt-4">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                              <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && w.name.errors }" />
                              <div *ngIf="submitted && w.name.errors" class="invalid-feedback">
                                <div *ngIf="w.name.errors.required">{{ 'STUDENTS.student name is required' | translate
                                  }}
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group mt-4">
                              <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                              </button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>


              <div class="table-responsive">
                <table class="table mt-5">
                  <thead class=" text-primary">
                    <th> {{ 'STUDENTS.Name' | translate }}</th>
                    <th> {{ 'STUDENTS.level' | translate }}</th>
                    <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'STUDENTS.extra hours' | translate }} </th>
                    <th>{{ 'STUDENTS.gender' | translate }} </th>
                    <th> {{ 'STUDENTS.Class' | translate }}</th>
                    <th> {{ 'STUDENTS.Action' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentsWinterc">
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.first_name}}
                        {{student.child.middle_name}} {{student.child.last_name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.level}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.date_of_birth}}
                      </td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.extra}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.gender}}</td>
                      <!-- <td >  </td> -->
                      <td *ngIf="student.class?.id; else elsePerfId">
                        <a routerLink="/students/{{student.class.id}}" data-toggle="tooltip"
                          title="Details">{{student.class.name}}</a>
                      </td>
                      <ng-template #elsePerfId>
                        <td class="text-danger"> {{ 'STUDENTS.Not Assign' | translate }}</td>
                      </ng-template>
                      <td> <button *ngIf="student.child.application.type != 'Extra' " class="btn btn-info p-2 mx-2"
                          (click)="open(content , student.id)"><i class="fas fa-eye"></i></button>
                        <button *ngIf="student.class" class="btn  btn-warning p-2 mx-2" data-toggle="tooltip"
                          title="Edit Status" (click)="edit(editStatus ,  student.class.id , student.id )">
                          <i class="fas fa-pen-square"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total2" [(pageSize)]="per_page2"
                [(page)]="page2" [maxSize]="7" [rotate]="true" (pageChange)="loadPageExtra($event)"></ngb-pagination>

            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid6">
            <ng-template ngbTabTitle> {{ 'STUDENTS.Summer Camp' | translate }}</ng-template>
            <ng-template ngbTabContent>

              <div class="row">
               
                
                <div class="col-md-6 mt-5">
                  <form class="example-form" [formGroup]="ActiveBTNSummer" (ngSubmit)="onFormSubmitSummer()" ngNativeValidate>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-slide-toggle color="primary" formControlName="enableSummerCamp" [checked]="useDefault"
                          (change)="toggleSummerBtn($event)">{{ 'STUDENTS.Enable Summer' | translate }}
                        </mat-slide-toggle>
                      </div>
                      <div class="col-md-7" *ngIf="showMonthSummer">
                        <div class="d-inline mx-2" >
                         
                          <mat-form-field appearance="outline">
                            <mat-select formControlName="month" [(value)]="selectedNationality" multiple>
                              <mat-option *ngFor="let item of monthList" [value]="item">{{item}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="d-inline">
                          <button mat-raised-button type="submit">{{ 'BUTTON.Save' | translate }} </button>
                        </div>
                      </div>
                      
                    </div>




                    <!-- <p>Form Group Status: {{formGroup.status}}</p> -->


                  </form>
                </div>
                <div class="col-md-5 offset-md-1">
                  <form [formGroup]="filterFormSummer" (ngSubmit)="filterSummer()" class="register-form">
                    <div class="row pt-4">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                              <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && m.name.errors }" />
                              <div *ngIf="submitted && m.name.errors" class="invalid-feedback">
                                <div *ngIf="m.name.errors.required">{{ 'STUDENTS.student name is required' | translate
                                  }}
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group mt-4">
                              <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                              </button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table mt-5">
                  <thead class=" text-primary">
                    <th> {{ 'STUDENTS.Name' | translate }}</th>
                    <th> {{ 'STUDENTS.level' | translate }}</th>
                    <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'STUDENTS.extra hours' | translate }} </th>
                    <th>{{ 'STUDENTS.gender' | translate }} </th>
                    <th> {{ 'STUDENTS.Class' | translate }}</th>
                    <th> {{ 'STUDENTS.Action' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentsSummerc">
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.first_name}}
                        {{student.child.middle_name}} {{student.child.last_name}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.level}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.date_of_birth}}
                      </td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.extra}}</td>
                      <td routerLink="/application/{{student.child.application.id}}">{{student.child.gender}}</td>
                      <!-- <td >  </td> -->
                      <td *ngIf="student.class?.id; else elsePerfId">
                        <a routerLink="/students/{{student.class.id}}" data-toggle="tooltip"
                          title="Details">{{student.class.name}}</a>
                      </td>
                      <ng-template #elsePerfId>
                        <td class="text-danger"> {{ 'STUDENTS.Not Assign' | translate }}</td>
                      </ng-template>
                      <td> <button *ngIf="student.child.application.type != 'Extra' " class="btn btn-info p-2 mx-2"
                          (click)="open(content , student.id)"><i class="fas fa-eye"></i></button>
                        <button *ngIf="student.class" class="btn  btn-warning p-2 mx-2" data-toggle="tooltip"
                          title="Edit Status" (click)="edit(editStatus ,  student.class.id , student.id )">
                          <i class="fas fa-pen-square"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total2" [(pageSize)]="per_page2"
                [(page)]="page2" [maxSize]="7" [rotate]="true" (pageChange)="loadPageExtra($event)"></ngb-pagination>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>


      </div>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{ 'STUDENTS.Assign Student To Class' | translate }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="assignForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

        <div class="col-md-12">
          <div class="form-group ">
            <label> {{ 'STUDENTS.Choose Class' | translate }}</label>
            <select formControlName="class_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }">
              <option selected disabled value="">{{ 'STUDENTS.Choose Class' | translate }}</option>
              <option *ngFor="let item of class" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback">
              <div *ngIf="f.class_id.errors.required">
                {{ 'STUDENTS.class is required' | translate }}</div>
            </div>
          </div>

        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate
      }}</button>
  </div>
</ng-template>
<ng-template #editStatus let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{ 'STUDENTS.Change Status' | translate }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="statusForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

        <div class="col-md-12">
          <div class="form-group ">
            <label> {{ 'STUDENTS.Change Status' | translate }}</label>
            <select formControlName="status" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && s.status.errors }">
              <option selected disabled>{{ 'STUDENTS.Change Status' | translate }}</option>
              <option value="Pending"> {{ 'STUDENTS.Pending' | translate }}</option>
              <option value="Active"> {{ 'STUDENTS.Active' | translate }}</option>
            </select>
            <div *ngIf="submitted && s.status.errors" class="invalid-feedback">
              <div *ngIf="s.status.errors.required">
                {{ 'STUDENTS.status is required' | translate }}</div>
            </div>
          </div>

        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate
      }}</button>
  </div>
</ng-template>
<ng-template #Eclass let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{ 'STUDENTS.Change Class' | translate }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="assignForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

        <div class="col-md-12">
          <div class="form-group ">
            <label> {{ 'STUDENTS.Choose Class' | translate }}</label>
            <select formControlName="class_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }">
              <option selected value="">{{ 'STUDENTS.Choose Class' | translate }}</option>
              <option *ngFor="let item of class" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback">
              <div *ngIf="f.class_id.errors.required">
                {{ 'STUDENTS.class is required' | translate }}</div>
            </div>
          </div>

        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate
      }}</button>
  </div>
</ng-template>