<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'GENERAL.GeneralInfo' | translate }}</h4>
            </div>
            <div class="card-body">
                <ngb-tabset [destroyOnHide]="false">
                    <ngb-tab title="{{'SIDEBAR.general' | translate }}">
                        <ng-template ngbTabContent>
                            <form [formGroup]="generalForm" style="width: 100%;" (ngSubmit)="onSubmit()"
                                class="register-form mt-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label for="email"> {{ 'GENERAL.text_image' | translate }}</label>
                                                    <input #myInputTabLogo type="file" class="form-control"
                                                        (change)="onFileChangedTextImage($event)"> 
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div *ngFor="let selected of listOfFilesTextImage;let index = index">       
                                                    <button mat-raised-button class="mt-4"
                                                        (click)="removeSelectedTextImage(index)">{{ 'MEAL.Delete' | translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img style="max-height: 5em;" class="img-fluid" [src]="TextImage" alt="">
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="about_en"> {{ 'GENERAL.about_en' | translate }}</label>
                                            <!-- <textarea cols="5" placeholder = "Your message" formControlName="about_en" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.about_en.errors }"></textarea> -->
                                            <div>
                                                <textarea formControlName="about_en" [ngxSummernote]>
                             </textarea>
                                            </div>
                                            <div *ngIf="submitted && f.about_en.errors" class="invalid-feedback">
                                                <div *ngIf="f.about_en.errors.required">
                                                    {{ 'GENERAL.about_en is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="about_ar"> {{ 'GENERAL.about_ar' | translate }}</label>

                                            <div>
                                                <textarea formControlName="about_ar" [ngxSummernote]>
                             </textarea>
                                            </div>

                                            <div *ngIf="submitted && f.about_ar.errors" class="invalid-feedback">
                                                <div *ngIf="f.about_ar.errors.required">
                                                    {{ 'GENERAL.about_ar is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="contact_ar"> {{ 'GENERAL.contact_en' | translate }}</label>
                                            <textarea cols="5" placeholder="Your message" formControlName="contact_en"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.contact_ar.errors }"></textarea>

                                            <div *ngIf="submitted && f.contact_ar.errors" class="invalid-feedback">
                                                <div *ngIf="f.contact_ar.errors.required">
                                                    {{ 'GENERAL.contact_en is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="contact_ar"> {{ 'GENERAL.contact_ar' | translate }}</label>
                                            <textarea cols="5" placeholder="Your message" formControlName="contact_ar"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.contact_ar.errors }"></textarea>

                                            <div *ngIf="submitted && f.contact_ar.errors" class="invalid-feedback">
                                                <div *ngIf="f.contact_ar.errors.required">
                                                    {{ 'GENERAL.contact_ar is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <label for="file">File</label>
                                    <input 
                                        formControlName="file"
                                        id="file" 
                                        type="file" 
                                        class="form-control"
                                        (change)="onFileChange($event)">
                                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                        <div *ngIf="f.file.errors.required">File is required.</div>
                                    </div>
                                </div>
    
                            </div>   -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="facebook"> {{ 'GENERAL.facebook' | translate }}</label>
                                            <input type="text" formControlName="facebook" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.facebook.errors }" />
                                            <div *ngIf="submitted && f.facebook.errors" class="invalid-feedback">
                                                <div *ngIf="f.facebook.errors.required">
                                                    {{ 'GENERAL.facebook is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="twitter"> {{ 'GENERAL.twitter' | translate }}</label>
                                            <input type="text" formControlName="twitter" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.twitter.errors }" />
                                            <div *ngIf="submitted && f.twitter.errors" class="invalid-feedback">
                                                <div *ngIf="f.twitter.errors.required">
                                                    {{ 'GENERAL.GENERAL is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="instagram"> {{ 'GENERAL.instagram' | translate }}</label>
                                            <input type="text" formControlName="instagram" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.instagram.errors }" />
                                            <div *ngIf="submitted && f.instagram.errors" class="invalid-feedback">
                                                <div *ngIf="f.instagram.errors.required">
                                                    {{ 'GENERAL.instagram is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="title"> {{ 'GENERAL.title' | translate }}</label>
                                            <input type="text" formControlName="title" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                <div *ngIf="f.title.errors.required">
                                                    {{ 'GENERAL.title is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="title_ar"> {{ 'GENERAL.title_ar' | translate }}</label>
                                            <input type="text" formControlName="title_ar" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.title_ar.errors }" />
                                            <div *ngIf="submitted && f.title_ar.errors" class="invalid-feedback">
                                                <div *ngIf="f.title_ar.errors.required">
                                                    {{ 'GENERAL.title is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="phone"> {{ 'CONTACT.phone' | translate }}</label>
                                            <input type="text" formControlName="phone" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                                <div *ngIf="f.phone.errors.required">
                                                    {{ 'GENERAL.phone is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="color"> {{ 'GENERAL.website header' | translate }}</label>
                                            <input type="color" formControlName="color" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.color.errors }" />
                                            <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                                                <div *ngIf="f.color.errors.required">
                                                    {{ 'GENERAL.color is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="colorDashboard">
                                                {{ 'GENERAL.selected color' | translate }}</label>
                                            <div [style.background]="sitHeaderColor">
                                                <div style="min-height: 2em; width: 5em;"></div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="colorFooter"> {{ 'GENERAL.website footer' | translate }}</label>
                                            <input type="color" formControlName="colorFooter" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.colorFooter.errors }" />
                                            <div *ngIf="submitted && f.colorFooter.errors" class="invalid-feedback">
                                                <div *ngIf="f.colorFooter.errors.required">
                                                    {{ 'GENERAL.colorFooter is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="colorDashboard">
                                                {{ 'GENERAL.selected color' | translate }}</label>
                                            <div [style.background]="footerColor">
                                                <div style="min-height: 2em; width: 5em;"></div>
                                            </div>
                                        </div>

                                    </div>


                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="colorDashboard">
                                                {{ 'GENERAL.colorDashboard' | translate }}</label>
                                            <input type="color" formControlName="colorDashboard" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.colorDashboard.errors }" />
                                            <div *ngIf="submitted && f.colorDashboard.errors" class="invalid-feedback">
                                                <div *ngIf="f.colorDashboard.errors.required">
                                                    {{ 'GENERAL.colorDashboard is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="colorDashboard">
                                                {{ 'GENERAL.selected color' | translate }}</label>
                                            <div [style.background]="dashboardColor">
                                                <div style="min-height: 2em; width: 5em;"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email"> {{ 'VISIT.email' | translate }}</label>
                                            <input type="email" formControlName="email" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">
                                                    {{ 'VISIT.email is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label for="email"> {{ 'GENERAL.logo' | translate }}</label>
                                                    <input #myInput type="file" class="form-control"
                                                        (change)="onFileChanged($event)">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div *ngFor="let selected of listOfFiles;let index = index">
                                                    
                                                    <button mat-raised-button class="mt-4"
                                                        (click)="removeSelectedFile(index)">{{ 'MEAL.Delete' | translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                       

                                    </div>

                                   

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img style="max-height: 5em;" class="img-fluid" [src]="logo" alt="">
                                        </div>

                                    </div>
                                     <!--This is an example text that won't be displayed in the browser-->
                                     <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label for="email"> {{ 'GENERAL.tab_logo' | translate }}</label>
                                                    <input #myInputTabLogo type="file" class="form-control"
                                                        (change)="onFileChangedTabLogo($event)">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div *ngFor="let selected of listOfFilesTabLogo;let index = index">
                                                    
                                                    <button mat-raised-button class="mt-4"
                                                        (click)="removeSelectedTabLogo(index)">{{ 'MEAL.Delete' | translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                       

                                    </div>

                                    

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img style="max-height: 5em;" class="img-fluid" [src]="TabLogo" alt="">
                                        </div>

                                    </div>
                                   <!--This is an example text that won't be displayed in the browser-->
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label for="email"> {{ 'GENERAL.background image' | translate }}</label>
                                                    <input  #myInputCover type="file" class="form-control"
                                                        (change)="onFileChangedCover($event)">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div *ngFor="let selected of listOfFilesCover;let index = index">
                                                    
                                                    <button mat-raised-button class="mt-4"
                                                        (click)="removeSelectedFileCover(index)">{{ 'MEAL.Delete' | translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                       

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img style="max-height: 7em;" class="img-fluid" [src]="webPhoto" alt="">
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button [disabled]="loading" class="btn btn-primary  mb-5">
                                                <span *ngIf="loading"
                                                    class="spinner-border spinner-border-sm  mr-1"></span>
                                                {{ 'BUTTON.Save' | translate }}
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>{{ 'BILL.Invoice' | translate }}</ng-template>
                        <ng-template ngbTabContent>
                            <form [formGroup]="invoiceForm" style="width: 100%;" (ngSubmit)="onSubmitInvoice()"
                                class="register-form mt-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email"> {{ 'VISIT.email' | translate }}</label>
                                            <input type="email" formControlName="email" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">
                                                    {{ 'VISIT.email is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="address">
                                                {{ 'REGISTRATION-DETAILS.address' | translate }}</label>
                                            <input type="text" formControlName="address" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.address.errors }" />
                                            <div *ngIf="submitted && i.address.errors" class="invalid-feedback">
                                                <div *ngIf="i.address.errors.required">
                                                    {{ 'REGISTRATION-DETAILS.address is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="address_ar"> {{ 'GENERAL.address_ar' | translate }}</label>
                                            <input type="text" formControlName="address_ar" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.address_ar.errors }" />
                                            <div *ngIf="submitted && i.address_ar.errors" class="invalid-feedback">
                                                <div *ngIf="i.address_ar.errors.required">
                                                    {{ 'GENERAL.address_ar is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="city"> {{ 'GENERAL.city' | translate }}</label>
                                            <input type="text" formControlName="city" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.city.errors }" />
                                            <div *ngIf="submitted && i.city.errors" class="invalid-feedback">
                                                <div *ngIf="i.city.errors.required">
                                                    {{ 'GENERAL.city is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="city_ar"> {{ 'GENERAL.city_ar' | translate }}</label>
                                            <input type="text" formControlName="city_ar" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.city_ar.errors }" />
                                            <div *ngIf="submitted && i.city_ar.errors" class="invalid-feedback">
                                                <div *ngIf="i.city_ar.errors.required">
                                                    {{ 'GENERAL.city_ar is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="zip_code"> {{ 'GENERAL.zip_code' | translate }}</label>
                                            <input type="text" formControlName="zip_code" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.zip_code.errors }" />
                                            <div *ngIf="submitted && i.zip_code.errors" class="invalid-feedback">
                                                <div *ngIf="i.zip_code.errors.required">
                                                    {{ 'GENERAL.zip_code is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="phone"> {{ 'CONTACT.phone' | translate }}</label>
                                            <input type="text" formControlName="phone" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.phone.errors }" />
                                            <div *ngIf="submitted && i.phone.errors" class="invalid-feedback">
                                                <div *ngIf="i.phone.errors.required">
                                                    {{ 'GENERAL.phone is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="company_name"> {{ 'GENERAL.company_name' | translate }}</label>
                                            <input type="text" formControlName="company_name" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.company_name.errors }" />
                                            <div *ngIf="submitted && i.company_name.errors" class="invalid-feedback">
                                                <div *ngIf="i.company_name.errors.required">
                                                    {{ 'GENERAL.company_name is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="company_name_ar">
                                                {{ 'GENERAL.company_name_ar' | translate }}</label>
                                            <input type="text" formControlName="company_name_ar" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.company_name_ar.errors }" />
                                            <div *ngIf="submitted && i.company_name_ar.errors" class="invalid-feedback">
                                                <div *ngIf="i.company_name_ar.errors.required">
                                                    {{ 'GENERAL.title is required' | translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="registration_number">
                                                {{ 'GENERAL.registration_number' | translate }}</label>
                                            <input type="text" formControlName="registration_number"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.registration_number.errors }" />
                                            <div *ngIf="submitted && i.registration_number.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.registration_number.errors.required">
                                                    {{ 'GENERAL.registration_number is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="vat"> {{ 'BILL.vat' | translate }}</label>
                                            <input type="text" formControlName="vat" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.vat.errors }" />
                                            <div *ngIf="submitted && i.vat.errors" class="invalid-feedback">
                                                <div *ngIf="i.vat.errors.required">
                                                    {{ 'GENERAL.vat is required' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label for="email"> {{ 'GENERAL.logo' | translate }}</label>
                                                    <input  #myInputInvoice type="file" class="form-control"
                                                        (change)="onFileChangedinvoicelogo($event)">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-3">
                                                    <div *ngFor="let selected of listOfFilesInvoice;let index = index">
                                                        
                                                        <button mat-raised-button class="mt-4"
                                                            (click)="removeSelectedFileInvoice(index)">{{ 'MEAL.Delete' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img style="max-height: 5em;" class="img-fluid" [src]="invoicelogo" alt="">
                                        </div>

                                    </div>







                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button [disabled]="loading" class="btn btn-primary  mb-5">
                                                <span *ngIf="loading"
                                                    class="spinner-border spinner-border-sm  mr-1"></span>
                                                {{ 'BUTTON.Save' | translate }}
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>


            </div>
        </div>
    </div>

</div>