<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'SIDEBAR.terms and conditions' | translate }}</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="generalForm" style="width: 100%;" (ngSubmit)="onSubmit()"
                class="register-form mt-4">
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="about_en"> {{ 'GENERAL.English' | translate }}</label>
                            <!-- <textarea cols="5" placeholder = "Your message" formControlName="about_en" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.about_en.errors }"></textarea> -->
                            <div>
                                <textarea formControlName="about_en" [ngxSummernote]>
                                </textarea>
                            </div>
                            <div *ngIf="submitted && f.about_en.errors" class="invalid-feedback">
                                <div *ngIf="f.about_en.errors.required">
                                    {{ 'GENERAL.about_en is required' | translate }}</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="about_ar"> {{ 'GENERAL.Arabic' | translate }}</label>

                            <div>
                                <textarea formControlName="about_ar" [ngxSummernote]>
             </textarea>
                            </div>

                            <div *ngIf="submitted && f.about_ar.errors" class="invalid-feedback">
                                <div *ngIf="f.about_ar.errors.required">
                                    {{ 'GENERAL.about_ar is required' | translate }}</div>
                            </div>
                        </div>

                    </div>
                   


                  

                </div>
            </form>


            </div>
        </div>
    </div>

</div>