<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'CLASS.All Class' | translate }}</h4>
                <a  class=" font-weight-bolder" routerLink="/branch">  {{branchinfo.name}} </a>
                <a routerLink="/level//{{branchinfo.id}}" class="font-weight-bolder"><i class="fas fa-chevron-left"></i>
                  {{levelinfo.name}}
                </a>
                <span class="font-weight-bold text-danger"><i class="fas fa-chevron-left"></i>
                   {{ 'STUDENTS.Class' | translate }}
                </span>
            </div>
            <div class="card-body">
                <div class="row"  >
                    <div class="col-lg-3" *ngFor="let item of class">
                        <div class="padd">
                            <div class="widget navy-bg text-center">
                                <div style="height: 10em;">
                                    <div class="row h-100">
                                        <div class="col-sm-12 my-auto">
                                            {{item.name}}
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conta">
                                <button class="btn btn-primary btn-md" (click)="open(edit , item.id)" title="Edit"> <i
                                        class="fas fa-edit"></i></button> &nbsp;
                                <a routerLink="/students/{{item.id}}" class="btn btn-success btn-md" data-toggle="tooltip"
                                    title="Details"><i class="fas fa-eye"></i></a> </div>
                        </div>
                    </div>
 
                    <div class="col-lg-3" (click)="addClass(addNewClass)">
                        <div class="padd cursor-pointer">
                            <div class="dotted">
                                <div style="height: 12em;">
                                    <div class="row    h-100">
                                        <div class="col-sm-12 my-auto   text-center">
                                            {{ 'CLASS.Add Class' | translate }}
                                            <br>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
 <ng-template #addNewClass let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'CLASS.Enter Your Class' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <form [formGroup]="classForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'CLASS.Class Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'CLASS.Class is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="max_students_number"> {{ 'CLASS.max_students_number' | translate }}</label>
                        <input type="number" formControlName="max_students_number" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.max_students_number.errors }" />
                        <div *ngIf="submitted && f.max_students_number.errors" class="invalid-feedback">
                            <div *ngIf="f.max_students_number.errors.required">{{ 'CLASS.max_students_number is required' | translate }}</div>
                        </div>
                    </div>

                </div>
              
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 
 <ng-template #edit let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'CLASS.Edit Your CLASS' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <form [formGroup]="classForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'CLASS.Class Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'CLASS.Class is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="max_students_number"> {{ 'CLASS.max_students_number' | translate }}</label>
                        <input type="number" formControlName="max_students_number" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.max_students_number.errors }" />
                        <div *ngIf="submitted && f.max_students_number.errors" class="invalid-feedback">
                            <div *ngIf="f.max_students_number.errors.required">{{ 'CLASS.max_students_number is required' | translate }}</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 