<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title font-weight-bold"> {{ 'EVALUATION.evaluation' | translate }} </h4>
                <a [routerLink]="['/evaluation_level']" class="text-secondary"><i class="fas fa-chevron-left"></i>
                    {{ 'LEVEL.All Levels' | translate }}
                  </a>
                  
            </div>
            <div class="row">
                <div class="col-md-11">
                  <button class="btn btn-primary pull-right my-4" (click)="open(content)"> {{ 'EVALUATION.Add evaluation' | translate }}</button>
                </div>
              </div>
             
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'EVALUATION.id' | translate }}</th>
                                <th>{{ 'EVALUATION.question' | translate }}</th>
                                <th>{{ 'STUDENTS.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Evaluations ; let i = index">
                                <td>{{item.id}}</td>
                                <td>{{item.question}}</td>
                                <td> 
                                    <button class="btn  btn-warning p-2 mx-2" data-toggle="tooltip" title="Edit"
                                        (click)="edit(editQuestion ,item.id  )">
                                        <i class="fas fa-pen-square"></i>
                                    </button>
                                    <button class="btn  btn-danger p-2 mx-2" data-toggle="tooltip" title="Delete"
                                        (click)="delete(deleteUser ,item.id  )">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
 
                <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

            </div>
        </div>
    </div>

</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'EVALUATION.Add evaluation' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="question"> {{ 'EVALUATION.question' | translate }}</label>
                    <input type="text" formControlName="question" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.question.errors }" />
                    <div *ngIf="submitted && g.question.errors" class="invalid-feedback">
                        <div *ngIf="g.question.errors.required">{{ 'EVALUATION.question is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="col-md-12">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.Choose' | translate }}
                    </label>
                    <select (change)="selectChangeHandler($event)" formControlName="type"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && g.type.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  value="grade"  >{{ 'EVALUATION.grade' | translate }}
                        </option>
                        <option value="option"  >{{ 'EVALUATION.option' | translate }}
                        </option>
                        <option value="text"  >{{ 'EVALUATION.text' | translate }}
                        </option>
                    </select>
                    <div *ngIf="submitted && g.type.errors" class="invalid-feedback">
                        <div *ngIf="g.type.errors.required">
                            {{ 'EVALUATION.type is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="grade">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.grade_limit' | translate }}
                    </label>
                    <select formControlName="grade_limit"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && g.grade_limit.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  value="5"  >5
                        </option>
                        <option value="10"  >10
                        </option>
                       
                    </select>
                    <div *ngIf="submitted && g.grade_limit.errors" class="invalid-feedback">
                        <div *ngIf="g.grade_limit.errors.required">
                            {{ 'EVALUATION.grade_limit is required' | translate }}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option1' | translate }}</label>
                    <input type="text" formControlName="Option1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option1.errors }" />
                    <div *ngIf="submitted && g.Option1.errors" class="invalid-feedback">
                        <div *ngIf="g.Option1.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option2"> {{ 'EVALUATION.Option2' | translate }}</label>
                    <input type="text" formControlName="Option2" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option2.errors }" />
                    <div *ngIf="submitted && g.Option2.errors" class="invalid-feedback">
                        <div *ngIf="g.Option2.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option3"> {{ 'EVALUATION.Option3' | translate }}</label>
                    <input type="text" formControlName="Option3" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option3.errors }" />
                    <div *ngIf="submitted && g.Option3.errors" class="invalid-feedback">
                        <div *ngIf="g.Option3.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option4' | translate }}</label>
                    <input type="text" formControlName="Option4" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option4.errors }" />
                    <div *ngIf="submitted && g.Option4.errors" class="invalid-feedback">
                        <div *ngIf="g.Option4.errors.required">{{ 'EVALUATION.Option4 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>

        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>

<ng-template #deleteUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
                <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>

<ng-template #editQuestion let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVALUATION.edit evaluation' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="questionForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="question"> {{ 'EVALUATION.question' | translate }}</label>
                    <input type="text" formControlName="question" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.question.errors }" />
                    <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                        <div *ngIf="f.question.errors.required">{{ 'EVALUATION.question is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.Choose' | translate }}
                    </label>
                    <select  disabled="disabled"  formControlName="type"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option *ngFor="let customer of customers" [value]="customer.name">
                            {{customer.name}}
                        </option>
                     
                    </select>
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                        <div *ngIf="f.type.errors.required">
                            {{ 'EVALUATION.type is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="gradeEdit">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.grade_limit' | translate }}
                    </label>
                    <select formControlName="grade_limit"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.grade_limit.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  [value]="5"  >5
                        </option>
                        <option [value]="10" >10
                        </option>
                       
                    </select>
                    <div *ngIf="submitted && f.grade_limit.errors" class="invalid-feedback">
                        <div *ngIf="f.grade_limit.errors.required">
                            {{ 'EVALUATION.grade_limit is required' | translate }}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option1' | translate }}</label>
                    <input type="text" formControlName="Option1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option1.errors }" />
                    <div *ngIf="submitted && f.Option1.errors" class="invalid-feedback">
                        <div *ngIf="f.Option1.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option2"> {{ 'EVALUATION.Option2' | translate }}</label>
                    <input type="text" formControlName="Option2" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option2.errors }" />
                    <div *ngIf="submitted && f.Option2.errors" class="invalid-feedback">
                        <div *ngIf="f.Option2.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option3"> {{ 'EVALUATION.Option3' | translate }}</label>
                    <input type="text" formControlName="Option3" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option3.errors }" />
                    <div *ngIf="submitted && f.Option3.errors" class="invalid-feedback">
                        <div *ngIf="f.Option3.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option4' | translate }}</label>
                    <input type="text" formControlName="Option4" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option4.errors }" />
                    <div *ngIf="submitted && f.Option4.errors" class="invalid-feedback">
                        <div *ngIf="f.Option4.errors.required">{{ 'EVALUATION.Option4 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>