<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
           

            <router-outlet></router-outlet>
            <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>

