<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title font-weight-bold">  {{ 'SIDEBAR.special-request' | translate }} </h4>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-8">
            <!-- <button class="btn btn-primary pull-right"> Add Entry</button> -->
           </div>
        </div>
        <div class="card-body">
            
              <div class="table-responsive">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>{{ 'WAITING.child_name' | translate }}</th>
                    <th>{{ 'WAITING.level_id' | translate }}</th>
                    <th>{{ 'STUDENTS.date_of_birth' | translate }}</th>
                    <th>{{ 'REGISTRATION.father_phone' | translate }}</th>
                    <th>{{ 'USERMANAGMENT.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list ; let i = index" >
                    <td>{{item.child.first_name}} {{item.child.middle_name}} {{item.child.last_name}}</td>
                    <td>{{item.child.level}}</td>
                    <td>{{item.child.date_of_birth}}</td>
                    <td>{{item.parent.mobile}}</td>
                    <td> <button class="btn btn-info p-2" (click)="open(content ,  item.id)"><i class="fas fa-eye"></i></button></td>
                  </tr>
                
                </tbody>
              </table>
              </div>
 
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="pagination.total" [(pageSize)]="pagination.per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
         </div>
      </div>
    </div>
  
  </div>
 
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'WAITING.request' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   
    <div class="modal-body">
      <div class="row">
      
        
        <div class="col-md-12 text-muted">{{details.request}}</div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('cancel')">{{ 'CONTACT.cancel' | translate }}</button>
    </div>
  </ng-template>