<div class="row">
    <div class="col-md-12">
  
      <h4 class="card-title font-weight-bolder"> {{ 'STUDENTS.Student Details' | translate }} </h4>
      <a [routerLink]="['/students']" class="text-secondary"><i class="fas fa-chevron-left"></i>
        {{ 'STUDENTS.All Students' | translate }}
      </a>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <!-- <button routerLink="/bill/{{applicationId}}" class="btn btn-primary pull-right">{{ 'REGISTRATION-DETAILS.View Invoices' | translate }}</button>
          <button routerLink="/create-Invoice/{{applicationId}}" class="btn btn-primary pull-right">{{ 'REGISTRATION-DETAILS.Create Invoices' | translate }}</button>
          <button *ngIf="!notActive" routerLink="/assign-to-plan/{{applicationId}}" class="btn btn-primary pull-right">{{ 'REGISTRATION-DETAILS.assign-to-plan' | translate }}</button>
          -->
          <div class="alert alert-success mt-5" style="margin-top: 5em !important;">
  
            <p class="mb-0">
              {{ 'REGISTRATION-DETAILS.max_students_number' | translate }}
              <strong>{{max_students_number }}</strong>
            </p>
            <p class="mb-0">
              {{ 'REGISTRATION-DETAILS.current_enroll_number' | translate }}
              <strong>{{current_enroll_number}}</strong>
  
            </p>
  
          </div>
          <div id="print-section">
            <div class="card-box card-box px-4 p-3 mt-3">
              <div class="row">
                <div class="col-md-12">
  
                  <h4 class="font-weight-bolder mt-0"> {{children.first_name}} {{children.middle_name}}
                    {{children.last_name}}</h4>
  
                </div>
                <div class="col-md-6">
  
                  <div>
  
                    <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.Date Of Birth' | translate }}:
                      {{children.date_of_birth}}</p>
                    <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.Applying For' | translate }} : {{levelName}}
                    </p>
                    <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.Gender' | translate }}: {{children.gender}}</p>
                    <p class="text-secondary"> {{ 'REGISTRATION.lives_with' | translate }}: {{children.lives_with}}</p>
                    <p class="text-secondary"> {{ 'REGISTRATION.parents_are' | translate }}: {{children.parents_are}}</p>
                    <p class="text-secondary"> {{ 'REGISTRATION.branch' | translate }}: {{branchName}}</p>
                    <p class="text-secondary"> {{ 'REGISTRATION.name_ar' | translate }}: {{children.name_ar}}</p>
                    <p class="text-secondary"> {{ 'REGISTRATION.type' | translate }}: {{application.type}}</p>
                    <p class="text-secondary" *ngIf="children.extra"> {{ 'REGISTRATION.extra' | translate }}: {{children.extra}}</p>
                  </div>
                  <p class="font-weight-bolder" [ngStyle]="{'color':getColor(status)}"> {{students.status}}</p>
                </div>
                <div class="col-md-6">
                  <p class="text-secondary"> {{ 'REGISTRATION.father name' | translate }}: {{children.father_name}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.father_job' | translate }}: {{children.father_job}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.father_email' | translate }}: {{children.father_email}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.father_phone' | translate }}: {{children.father_phone}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.mother name' | translate }}: {{children.mother_name}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.mother_job' | translate }}: {{children.mother_job}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.mother_email' | translate }}: {{children.mother_email}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION.mother_phone' | translate }}: {{children.mother_phone}}</p>
                  <p class="text-secondary"> {{ 'NAVBAR.language' | translate }}: 
                    <span *ngFor="let item of language"> - {{item}} </span>
                  </p>
                  <p class="text-secondary"> {{ 'REGISTRATION.nationality' | translate }}: 
                    <span *ngFor="let item of nationality"> - {{item}} </span>
                  </p>
                </div>
              </div>
  
            </div> 
            <div class="card-box card-box mt-3">
              <div class="box-header">
                <div class="p-3">
                  <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Medical Information' | translate }} </h4>
                </div>
              </div> 
              <div class=" p-3">
                <div class="row">
                  <div class="col-md-12 mb-3"  *ngFor="let item of medical; let i = index">
                    <!-- <label *ngIf="medicalPartEn">{{form_elem.question}}</label> -->
                    <label *ngIf="medicalPartAr"> <strong> {{i + 1}} -  {{ 'REGISTRATION-DETAILS.Question' | translate }}</strong><span class="mx-2 text-primary">{{item.question_ar}}</span></label>
                    <label *ngIf="medicalPartEn"> <strong> {{i + 1}} -  {{ 'REGISTRATION-DETAILS.Question' | translate }}</strong><span class="mx-2 text-primary">{{item.question}}</span><br></label>
                    <br>
  
                    <strong> {{ 'REGISTRATION-DETAILS.Answer' | translate }}</strong><span class="mx-2" *ngIf="item.valid==1;else noContent">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                    <ng-template #noContent> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                    <br>
                    <strong > {{ 'REGISTRATION-DETAILS.Comment' | translate }}</strong><span class="mx-2">{{item.comment}}</span> <br>
  
                  </div>
                </div>
              </div>
  
            </div>
            <div class="card-box card-box mt-3">
              <div class="box-header">
                <div class="p-3">
                  <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Emergency Contact' | translate }} </h4>
                </div>
              </div>
              <div class=" p-3">
                <div class="row">
                <div class="col-md-6">
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.first_name' | translate }}: {{application.contact_first_name}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.last_name' | translate }}: {{application.contact_last_name}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.mobile' | translate }}: {{application.contact_mobile}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.alt_mobile' | translate }}: {{application.contact_alt_mobile}}</p>
  
                </div>
                <div class="col-md-6">
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.address' | translate }}: {{application.contact_address}}</p>
                  <p class="text-secondary"> {{ 'REGISTRATION-DETAILS.relation' | translate }}: {{application.contact_relation}}</p>
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.can_pick_child' | translate }}: </span><span *ngIf="application.contact_can_pick_child == 1; else no">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                  <ng-template #no> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                </div>
                   
                </div>
              </div>
  
            </div>
            <div class="card-box card-box mt-3">
              <div class="box-header">
                <div class="p-3">
                  <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Child Ability' | translate }} </h4>
                </div>
              </div>
              <div class=" p-3">
                <div class="row">
                <div class="col-md-4">
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.can_eat_alone' | translate }}: </span><span *ngIf="application.can_eat_alone == 1; else can_eat_alone">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                  <ng-template #can_eat_alone> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>               
                </div>
                <div class="col-md-4">
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.use_right_hand' | translate }}: </span><span *ngIf="application.use_right_hand == 1; else use_right_hand">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                  <ng-template #use_right_hand> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>               
                </div>
                <div class="col-md-4">
                  <span class="text-secondary"> {{ 'REGISTRATION-DETAILS.go_toilet_alone' | translate }}: </span><span *ngIf="application.go_toilet_alone == 1; else use_right_hand">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                  <ng-template #go_toilet_alone> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>               
                </div>
               
                   
                </div>
              </div>
  
            </div>
            
          </div>
         
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  
