<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title font-weight-bold">  {{ 'CONTACT.title' | translate }} </h4>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-8">
            <!-- <button class="btn btn-primary pull-right"> Add Entry</button> -->
           </div>
        </div>
        <div class="card-body">
            
              <div class="table-responsive">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>{{ 'CONTACT.name' | translate }}</th>
                    <th>{{ 'CONTACT.email' | translate }}</th>
                    <th>{{ 'CONTACT.phone' | translate }}</th>
                    <!-- <th>message</th> -->
                    <th>{{ 'CONTACT.action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list ; let i = index" >
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <!-- <td>{{item.message | slice:0:20}}</td> -->
                    <td> <button class="btn btn-info p-2" (click)="open(content ,  item.id)"><i class="fas fa-eye"></i></button></td>
                  </tr>
                
                </tbody>
              </table>
              </div>
 
              <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="pagination.total" [(pageSize)]="pagination.per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
         </div>
      </div>
    </div>
  
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'CONTACT.Message Details' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   
    <div class="modal-body">
      <div class="row">
        <div class="col-md-3">{{ 'CONTACT.name' | translate }}</div>
        <div class="col-md-9 text-muted">{{details.name}}</div>
        <div class="col-md-3">{{ 'CONTACT.email' | translate }}</div>
        <div class="col-md-9 text-muted"><a href="mailto:{{details.email}}">{{details.email}}</a></div>

        <div class="col-md-3">{{ 'CONTACT.phone' | translate }}</div>
        <div class="col-md-9 text-muted"><a href="tel:{{details.phone}}">{{details.phone}}</a></div>
        <div class="col-md-3">{{ 'CONTACT.message' | translate }}</div>
        <div class="col-md-9 text-muted">{{details.message}}</div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('cancel')">{{ 'CONTACT.cancel' | translate }}</button>
    </div>
  </ng-template>
  