<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title font-weight-bold"> {{ 'EVALUATION.evaluation' | translate }} </h4>
                
            </div>
            <div class="row">
                
                <div class="col-md-8 offset-md-4">
                    <div class="row p-3">
                        <div class="col-md-8">
                            <div class="row">
                                <form style="width: 100%; display: inherit;" [formGroup]="branchForm" (ngSubmit)="FilterLByLevel()" class="register-form">
          
                                    <div class="col-md-4">
                                      <div class="form-group ">
                                        <label>{{ 'REGISTRATION.branch' | translate }} </label>
                                        <select (change)="selectBranch($event)" formControlName="name" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitted && d.name.errors }">
                                          <option selected value="all">{{ 'REGISTRATION.all' | translate }}</option>
                                          <option *ngFor="let item of Branch" [value]="item.id">{{item.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group ">
                                        <label>{{ 'REGISTRATION.Level' | translate }} </label>
                                        <select formControlName="level" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitted && d.level.errors }">
                                          <option selected value="all">{{ 'REGISTRATION.all' | translate }}</option>
                                          <option *ngFor="let item of level" [value]="item.id">{{item.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group mt-4">
                                        <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                          <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                          {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                                        </button>
                      
                                      </div>
                                    </div>
                                    
                                  
                                  
                                </form>
                            </div>
                        </div>
                        <div class="col-md-2 text-center center-block">
                            <button class="btn btn-success pull-right my-4" (click)="addFormEva(evaluation)"> {{ 'EVALUATION.Add evaluation form' | translate }}</button>
                            
                        </div>
                        <div class="col-md-2 text-center center-block">
                            <a [routerLink]="['/Completed_Evaluation']" class="btn btn-success pull-right my-4" >
                                {{ 'EVALUATION.Completed_Evaluation' | translate }}
                              </a>
                        </div>
                    
                    
                </div>
                    
                  </div>
                
              </div>
             
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'EVALUATION.evaluation name' | translate }}</th>
                                <th>{{ 'STUDENTS.level' | translate }}</th>
                                <th>{{ 'STUDENTS.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Evaluations ; let i = index">
                               
                                <td>{{item.name}}</td>
                                <td>
                                    <p *ngFor="let level of item.levels">
                                        {{level.branch.name}} / {{level.name}}
                                        <button class="btn btn-danger p-2  btn-round mx-2" data-toggle="tooltip" title="Delete"
                                            (click)="deleteAssignLevel(deleteAssign , item.id, level.id  )">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </p>
                                </td>
                                
                                <td> 
                                   
                                    <button class="btn  btn-info p-2 mx-1" data-toggle="tooltip" title="Assign Form"
                                        (click)="assignForm(assign , item.id  )">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn  btn-success p-2 mx-1" data-toggle="tooltip" title="Add Question"
                                    (click)="open(addQuestion, item.id)">
                                    <i class="fas fa-question"></i>
                                    </button>
                                    <button class="btn  btn-warning p-2 mx-1" data-toggle="tooltip" title="Edit Form"
                                    (click)="editEvaluationForm(editForm ,item.id  )">
                                    <i class="fas fa-pen-square"></i>
                                   </button>
                                   <a routerLink="/formDetails/{{item.id}}"   class="btn  btn-primary p-2 mx-1" data-toggle="tooltip" title="show Form">
                                    <i class="fas fa-eye"></i>
                                   </a>
                                    <button class="btn  btn-danger p-2 mx-1" data-toggle="tooltip" title="Delete"
                                    (click)="delete(deleteUser , item.id  )">
                                    <i class="fas fa-trash"></i>
                                  </button>

                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
 
                <!-- <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination> -->

            </div>
        </div>
    </div>

</div>
<ng-template #evaluation let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'EVALUATION.Add evaluation form' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addFormEvaluation" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="name"> {{ 'STUDENTS.Name' | translate }}</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && k.name.errors }" />
                    <div *ngIf="submitted && k.name.errors" class="invalid-feedback">
                        <div *ngIf="k.name.errors.required">{{ 'EVALUATION.name is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  <ng-template #editForm let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'EVALUATION.edit Form' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="editEvaluation" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="name"> {{ 'STUDENTS.Name' | translate }}</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.name.errors }" />
                    <div *ngIf="submitted && e.name.errors" class="invalid-feedback">
                        <div *ngIf="e.name.errors.required">{{ 'EVALUATION.name is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  <ng-template #assign let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'EVALUATION.assign' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="assignEvaluation" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group "> 
                    <label>{{ 'REGISTRATION.branch' | translate }} </label>
                    <select  (change)="selectBranch($event)" formControlName="branch" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.branch.errors }">
                        <option  selected value="" disabled>
                            {{ 'REGISTRATION.branch' | translate }}</option>
                        <option *ngFor="let item of Branch" [value]="item.id">{{item.name}}</option>

                    </select>
                    <div *ngIf="submitted && s.branch.errors" class="invalid-feedback">
                        <div *ngIf="s.branch.errors.required">
                            {{ 'PLAN.Select branch is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group "> 
                    <label>{{ 'LEVEL.Level' | translate }} </label>
                    <select  formControlName="level" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">
                        <option selected value="" disabled>
                            {{ 'LEVEL.Level' | translate }}</option>
                        <option *ngFor="let item of level" [value]="item.id">{{item.name}}</option>

                    </select>
                    <div *ngIf="submitted && s.level.errors" class="invalid-feedback">
                        <div *ngIf="s.level.errors.required">
                            {{ 'LEVEL.Level is required' | translate }}</div>
                    </div>
                </div>
            </div>
            
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'EVALUATION.Add evaluation' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="question"> {{ 'EVALUATION.question' | translate }}</label>
                    <input type="text" formControlName="question" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.question.errors }" />
                    <div *ngIf="submitted && g.question.errors" class="invalid-feedback">
                        <div *ngIf="g.question.errors.required">{{ 'EVALUATION.question is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="col-md-12">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.Choose' | translate }}
                    </label>
                    <select (change)="selectChangeHandler($event)" formControlName="type"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && g.type.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  value="grade"  >{{ 'EVALUATION.grade' | translate }}
                        </option>
                        <option value="option"  >{{ 'EVALUATION.option' | translate }}
                        </option>
                        <option value="text"  >{{ 'EVALUATION.text' | translate }}
                        </option>
                    </select>
                    <div *ngIf="submitted && g.type.errors" class="invalid-feedback">
                        <div *ngIf="g.type.errors.required">
                            {{ 'EVALUATION.type is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="grade">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.grade_limit' | translate }}
                    </label>
                    <select formControlName="grade_limit"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && g.grade_limit.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  value="5"  >5
                        </option>
                        <option value="10"  >10
                        </option>
                       
                    </select>
                    <div *ngIf="submitted && g.grade_limit.errors" class="invalid-feedback">
                        <div *ngIf="g.grade_limit.errors.required">
                            {{ 'EVALUATION.grade_limit is required' | translate }}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option1' | translate }}</label>
                    <input type="text" formControlName="Option1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option1.errors }" />
                    <div *ngIf="submitted && g.Option1.errors" class="invalid-feedback">
                        <div *ngIf="g.Option1.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option2"> {{ 'EVALUATION.Option2' | translate }}</label>
                    <input type="text" formControlName="Option2" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option2.errors }" />
                    <div *ngIf="submitted && g.Option2.errors" class="invalid-feedback">
                        <div *ngIf="g.Option2.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option3"> {{ 'EVALUATION.Option3' | translate }}</label>
                    <input type="text" formControlName="Option3" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option3.errors }" />
                    <div *ngIf="submitted && g.Option3.errors" class="invalid-feedback">
                        <div *ngIf="g.Option3.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option4' | translate }}</label>
                    <input type="text" formControlName="Option4" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option4.errors }" />
                    <div *ngIf="submitted && g.Option4.errors" class="invalid-feedback">
                        <div *ngIf="g.Option4.errors.required">{{ 'EVALUATION.Option4 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>

        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  <ng-template #addQuestion let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'EVALUATION.Add evaluation' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="question"> {{ 'EVALUATION.question' | translate }}</label>
                    <input type="text" formControlName="question" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.question.errors }" />
                    <div *ngIf="submitted && g.question.errors" class="invalid-feedback">
                        <div *ngIf="g.question.errors.required">{{ 'EVALUATION.question is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="col-md-12">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.Choose' | translate }}
                    </label>
                    <select (change)="selectChangeHandler($event)" formControlName="type"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && g.type.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  value="grade"  >{{ 'EVALUATION.grade' | translate }}
                        </option>
                        <option value="option"  >{{ 'EVALUATION.option' | translate }}
                        </option>
                        <option value="text"  >{{ 'EVALUATION.text' | translate }}
                        </option>
                    </select>
                    <div *ngIf="submitted && g.type.errors" class="invalid-feedback">
                        <div *ngIf="g.type.errors.required">
                            {{ 'EVALUATION.type is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="grade">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.grade_limit' | translate }}
                    </label>
                    <select formControlName="grade_limit"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && g.grade_limit.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  value="5"  >5
                        </option>
                        <option value="10"  >10
                        </option>
                       
                    </select>
                    <div *ngIf="submitted && g.grade_limit.errors" class="invalid-feedback">
                        <div *ngIf="g.grade_limit.errors.required">
                            {{ 'EVALUATION.grade_limit is required' | translate }}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option1' | translate }}</label>
                    <input type="text" formControlName="Option1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option1.errors }" />
                    <div *ngIf="submitted && g.Option1.errors" class="invalid-feedback">
                        <div *ngIf="g.Option1.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option2"> {{ 'EVALUATION.Option2' | translate }}</label>
                    <input type="text" formControlName="Option2" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option2.errors }" />
                    <div *ngIf="submitted && g.Option2.errors" class="invalid-feedback">
                        <div *ngIf="g.Option2.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option3"> {{ 'EVALUATION.Option3' | translate }}</label>
                    <input type="text" formControlName="Option3" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option3.errors }" />
                    <div *ngIf="submitted && g.Option3.errors" class="invalid-feedback">
                        <div *ngIf="g.Option3.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOption">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option4' | translate }}</label>
                    <input type="text" formControlName="Option4" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && g.Option4.errors }" />
                    <div *ngIf="submitted && g.Option4.errors" class="invalid-feedback">
                        <div *ngIf="g.Option4.errors.required">{{ 'EVALUATION.Option4 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>

        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  <ng-template #deleteAssign let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
                <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>
<ng-template #deleteUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
                <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>

<ng-template #editQuestion let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVALUATION.edit evaluation' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="questionForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="question"> {{ 'EVALUATION.question' | translate }}</label>
                    <input type="text" formControlName="question" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.question.errors }" />
                    <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                        <div *ngIf="f.question.errors.required">{{ 'EVALUATION.question is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.Choose' | translate }}
                    </label>
                    <select  disabled="disabled"  formControlName="type"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option *ngFor="let customer of customers" [value]="customer.name">
                            {{customer.name}}
                        </option>
                     
                    </select>
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                        <div *ngIf="f.type.errors.required">
                            {{ 'EVALUATION.type is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="gradeEdit">
                <div class="form-group ">
                    <label>{{ 'EVALUATION.grade_limit' | translate }}
                    </label>
                    <select formControlName="grade_limit"
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.grade_limit.errors }">
                        <option [selected] ="true" value="choose"  >{{ 'EVALUATION.Choose' | translate }}
                        </option>
                        <option  [value]="5"  >5
                        </option>
                        <option [value]="10" >10
                        </option>
                       
                    </select>
                    <div *ngIf="submitted && f.grade_limit.errors" class="invalid-feedback">
                        <div *ngIf="f.grade_limit.errors.required">
                            {{ 'EVALUATION.grade_limit is required' | translate }}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option1' | translate }}</label>
                    <input type="text" formControlName="Option1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option1.errors }" />
                    <div *ngIf="submitted && f.Option1.errors" class="invalid-feedback">
                        <div *ngIf="f.Option1.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option2"> {{ 'EVALUATION.Option2' | translate }}</label>
                    <input type="text" formControlName="Option2" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option2.errors }" />
                    <div *ngIf="submitted && f.Option2.errors" class="invalid-feedback">
                        <div *ngIf="f.Option2.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option3"> {{ 'EVALUATION.Option3' | translate }}</label>
                    <input type="text" formControlName="Option3" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option3.errors }" />
                    <div *ngIf="submitted && f.Option3.errors" class="invalid-feedback">
                        <div *ngIf="f.Option3.errors.required">{{ 'EVALUATION.Option1 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" *ngIf="questionOptionEdit">
                <div class="form-group">
                    <label for="Option1"> {{ 'EVALUATION.Option4' | translate }}</label>
                    <input type="text" formControlName="Option4" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Option4.errors }" />
                    <div *ngIf="submitted && f.Option4.errors" class="invalid-feedback">
                        <div *ngIf="f.Option4.errors.required">{{ 'EVALUATION.Option4 is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>