<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{ 'VISIT.available time' | translate }}</h4>

      </div>
      <div class="card-body">
        <div class="table-responsive mt-4" *ngFor="let time of times">
          <p class="d-inline">{{ 'VISIT.day' | translate }}: <strong>{{time.name}}</strong></p>
          <button class="btn btn-info p-2 float-right mt-0 pt-0 d-inline" data-toggle="tooltip" title="Add"
            (click)="open(content , time.name)">
            <i class="fas fa-plus-square"></i>
          </button>
          <table class="table">
            <thead class=" text-primary">
              <th> {{ 'VISIT.from' | translate }}</th>
              <th> {{ 'VISIT.to' | translate }}</th>
              <th>{{ 'VISIT.max_visits' | translate }}</th>
              <th> {{ 'VISIT.action' | translate }}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of time.available">

                <td>{{item.from}}</td>
                <td>{{item.to}}</td>
                <td>{{item.max_visits}}</td>
                <td> <button class="btn  btn-warning p-2 mx-2" data-toggle="tooltip" title="Edit"
                    (click)="edit(editTime ,item.id , time.name )">
                    <i class="fas fa-pen-square"></i>
                  </button>
                  <button class="btn  btn-danger p-2 mx-2" data-toggle="tooltip" title="Delete"
                    (click)="delete(deleteTime ,item.id , time.name )">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
 
              </tr>

            </tbody>
          </table>
        </div>
       

      </div>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'VISIT.add Time' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">


    <form [formGroup]="addForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <label> {{ 'VISIT.from' | translate }}</label>

            <ngb-timepicker formControlName="From" [(ngModel)]="time"></ngb-timepicker>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label> {{ 'VISIT.to' | translate }}</label>

            <ngb-timepicker formControlName="To" [(ngModel)]="to"></ngb-timepicker>

          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
              <label for="max_visits"> {{ 'VISIT.max_visits' | translate }}</label>
              <input type="text" formControlName="max_visits" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.max_visits.errors }" />
              <div *ngIf="submitted && f.max_visits.errors" class="invalid-feedback">
                  <div *ngIf="f.max_visits.errors.required">{{ 'VISIT.max_visits is required' | translate }}
                  </div>
              </div>
          </div>
      </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'VISIT.Save' | translate }}</button>
  </div>
</ng-template>
<ng-template #editTime let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'VISIT.edit Time' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">


    <form [formGroup]="editForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group ">
            <label> {{ 'VISIT.from' | translate }}</label>


            <ngb-timepicker [(ngModel)]="timeFrom" formControlName="from"></ngb-timepicker>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group ">
            <label> {{ 'VISIT.to' | translate }}</label>

            <ngb-timepicker formControlName="to" [(ngModel)]="timeTo"></ngb-timepicker>

          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
              <label for="max_visits"> {{ 'VISIT.max_visits' | translate }}</label>
              <input type="text" formControlName="max_visits" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.max_visits.errors }" />
              <div *ngIf="submitted && f.max_visits.errors" class="invalid-feedback">
                  <div *ngIf="f.max_visits.errors.required">{{ 'VISIT.max_visits is required' | translate }}
                  </div>
              </div>
          </div>
      </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>
<ng-template #deleteTime let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'VISIT.delete Time' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

<div class="row"><div class="col-md-12 text-center">
  <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
  <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
</div> </div>
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>