<div class="wrapper">
    <div class="bg-page">

        <div class="container">
            <div class="row">

                <div class="col-sm-6 offset-md-3">
                    <app-toasts aria-live="polite" aria-atomic="true" class="toastNotification"></app-toasts>
                    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="register-form">

                        <div class="card-sign">
                            <div class="header-title">
                                <h4 class="p-3">Forgot Password</h4>
                            </div>
                            <div class="row p-3">
                               
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">  Email</label>
                                        <input type="text" formControlName="email" class="form-control" placeholder=" Email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                Next<i class="fas fa-arrow-right"></i>
                            </button>

                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="footer register-footer text-center">

            </div>
        </div>
    </div>
</div>