<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title font-weight-bold"> {{ 'LISTS.list Details' | translate }} </h4>
                <a [routerLink]="['/List']" class="text-secondary"><i class="fas fa-chevron-left"></i>
                    {{ 'LISTS.lists' | translate }}
                  </a>
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    <div class=" p-3">

                        <div class=" text-center pull-right">
                            <form [formGroup]="addClient" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                               <div class="row">
                                <div class="col-md-6">
                                    <label> {{ 'LISTS.Select Customers' | translate }} </label>
                                    <mat-form-field [floatLabel]="'never'" appearance="outline">
                                       
                                        <mat-select [ngClass]="{'is-invalid': (
                                            addClient.get('language').errors)}" formControlName="language"
                                            placeholder="{{ 'LISTS.Select email' | translate }}" multiple>
                                            <div class="col-md-12">
                                                <div class="form-group mt-2"> 
                                                    <input [(ngModel)]="searchTextlang" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="{{ 'BUTTON.Search' | translate }}">
                                                  </div>
                                            </div>
                                            <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">{{ 'LISTS.all Customer' | translate }} </mat-option>
                                            <mat-option *ngFor="let Language of Languages | filter : searchTextlang"
                                                [value]="Language.email">
                                                {{Language.email}}</mat-option>
                                                
                                        </mat-select>
                                        <span class="invalid-feedback mt-2"
                                            *ngIf=" submitted && addClient.get('language').errors">
                                            <span *ngIf="addClient.get('language').errors.required ">
                                                {{ 'CREATEAPPLICATION.Languages is required' | translate }}
                                            </span>
                
                                        </span>
                                    </mat-form-field>
                
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-4">
                                      <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                        {{ 'LISTS.Add Customer' | translate }} <i class="fas fa-arrow-right"></i>
                                      </button>
                    
                                    </div>
                                  </div>
                                </div>
                
                            </form>
                            
                            <!-- <button class="btn btn-success pull-right my-4" (click)="addFormlist(AddList)">
                                {{ 'LISTS.Add list' | translate }}</button> -->
                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'LISTS.index' | translate }}</th>
                                <th>{{ 'STUDENTS.Name' | translate }}</th>
                                <th>{{ 'REGISTRATION-DETAILS.Phone' | translate }}</th>
                                <th>{{ 'REGISTRATION-DETAILS.Email' | translate }}</th>
                                <!-- <th>{{ 'STUDENTS.Action' | translate }}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of AllLists ; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.mobile}}</td>
                                <td>{{item.email}}</td>
                                <!-- <td>
                                  
                                    <button class="btn  btn-danger p-2 mx-1" data-toggle="tooltip" title="Delete list"
                                        (click)="delete(deleteUser , item.email )">
                                        <i class="fas fa-trash"></i>
                                    </button>


                                </td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination> -->

            </div>
        </div>
    </div>

</div>
<!-- <ng-template #AddList let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{ 'LISTS.Add list' | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <form [formGroup]="addClient" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'STUDENTS.Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && k.name.errors }" />
                        <div *ngIf="submitted && k.name.errors" class="invalid-feedback">
                            <div *ngIf="k.name.errors.required">{{ 'EMAIL.name is required' | translate }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <label> {{ 'CREATEAPPLICATION.Languages' | translate }} </label>
                    <mat-form-field [floatLabel]="'never'" appearance="outline">
                        <mat-select [ngClass]="{'is-invalid': (
                            addClient.get('language').errors)}" formControlName="language"
                            placeholder="{{ 'CREATEAPPLICATION.Languages' | translate }}" multiple>
                          
                            <mat-option *ngFor="let Language of Languages"
                                [value]="Language.name">
                                {{Language.name}}</mat-option>
                        </mat-select>
                        <span class="invalid-feedback mt-2"
                            *ngIf=" submitted && addClient.get('language').errors">
                            <span *ngIf="addClient.get('language').errors.required ">
                                {{ 'CREATEAPPLICATION.Languages is required' | translate }}
                            </span>

                        </span>
                    </mat-form-field>

                </div>
               
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> -->

<ng-template #deleteUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
                <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>
