<div class="row">
    <div class="col-md-12">

        <h4 class="card-title font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Create Custom Bill' | translate }} </h4>
        <a routerLink="/application/{{applicationId}}" class="text-secondary"><i class="fas fa-chevron-left"></i>
            {{ 'REGISTRATION-DETAILS.Details' | translate }}
        </a>

        <div class="row">
            <div class="col-md-8 offset-md-2">

                <div class="card-box px-4 p-3 mt-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]="assignForm" (ngSubmit)="onSubmit()" class="register-form">

                                <div class="card-sign pb-2">


                                    <div class="header-title">

                                        <h4 class="px-3"> {{ 'REGISTRATION-DETAILS.Create Custom Bill' | translate }}
                                        </h4>
                                        <hr>
                                    </div>
                                    <div class="row p-3">


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="amount"> {{ 'PLAN.amount' | translate }}</label>
                                                <input type="text" formControlName="amount" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                                                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                                    <div *ngIf="f.amount.errors.required">
                                                        {{ 'PLAN.amount is required' | translate }}</div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="form-group ">
                                                <label>{{ 'EVALUATION.Choose' | translate }}
                                                </label>
                                                <select  formControlName="student_id" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.student_id.errors }">
                                                    <option [selected]="true" value="choose">
                                                        {{ 'EVALUATION.Choose' | translate }}
                                                    </option>
                                                    <option *ngFor="let student of students" [value]="student.id">
                                                        {{student.child.first_name}} {{student.child.middle_name}} {{student.child.last_name}}
                                                    </option>

                                                </select>
                                                <div *ngIf="submitted && f.student_id.errors" class="invalid-feedback">
                                                    <div *ngIf="f.student_id.errors.required">
                                                        {{ 'EVALUATION.student_id is required' | translate }}</div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                              <label for="Date">{{ 'EVENT.Date' | translate }}</label>
                                  
                                  
                                              <input [minDate]="{year: 1980, month: 1, day: 1}"  type="text"
                                                formControlName="event_date" placeholder="YYYY-MM-DD " class="form-control BrithDate" ngbDatepicker
                                                #d="ngbDatepicker" (click)="d.toggle()" [ngClass]="{ 'is-invalid': submitted && f.event_date.errors }" />
                                              <div *ngIf="submitted && f.event_date.errors" class="invalid-feedback">
                                                <div *ngIf="f.event_date.errors.required">
                                                  {{ 'EVENT.Date is required' | translate }}</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-12 mx-4" >
                                            <!--  -->
                        
                                            <div class="form-group form-check">
                                                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                                                    class="form-check-input"
                                                    [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                                <label for="acceptTerms"> {{ 'PLAN.Amount includes VAT' | translate }} </label>
                                                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                                    {{ 'PLAN.Amount includes VAT is required' | translate }}</div>
                                            </div> <!--  -->
                        
                                        </div>
                                          <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="description"> {{ 'PLAN.description' | translate }}</label>
                                                <textarea cols="5"  formControlName="description" class="form-control"
                                                 [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                                
                                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                                    <div *ngIf="f.description.errors.required">{{ 'PLAN.description is required' | translate }}</div>
                                                </div>
                                            </div>
                        
                                        </div> 


                                    </div>
                                </div>

                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary  mb-5">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                        {{ 'BUTTON.Save' | translate }} <i class="fas fa-arrow-right"></i>
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>