<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'EVALUATION.Completed_Evaluation' | translate }}</h4>
            </div>
            <div class="card-body">
                <ngb-tabset #t="ngbTabset">
                    <ngb-tab id="tab-selectbyid1" title="{{ 'EVALUATION.Approved Evaluation' | translate }}">
                        <ng-template ngbTabContent>
                            <h5 class="my-4">
                                {{ 'EVALUATION.Approved Evaluation' | translate }}
                            </h5>
                            <div class="table-responsive">

                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                     
                                      <th>{{ 'EVALUATION.teacher name' | translate }}</th>
                                      <th>{{ 'EVALUATION.teacher email' | translate }}</th>
                                      <th>{{ 'EVALUATION.teacher Mobile' | translate }}</th>
                                      <th>{{ 'EVALUATION.student name' | translate }}</th>
                                      
                                      <!-- <th> {{ 'STUDENTS.Action' | translate }}</th> -->
                                      <!-- <th>level</th> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of ApprovalEvaluations ; let i = index">
                                        <td>{{item.teacher.first_name}}</td>
                                        <td>{{item.teacher.email}}</td>
                                        <td>{{item.teacher.mobile}}</td>
                                        <td></td>
                                    </tr>
                      
                                  </tbody>
                                </table>
                                <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page"
                                [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                              </div>
                      
                             
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-selectbyid2">
                        <ng-template ngbTabTitle>{{ 'EVALUATION.unapproved Evaluation' | translate }}</ng-template>
                        <ng-template ngbTabContent>
                            <h5 class="my-4">
                                {{ 'EVALUATION.unapproved Evaluation' | translate }}
                            </h5>
                            <div class="table-responsive">

                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                     
                                      <th>{{ 'EVALUATION.teacher name' | translate }}</th>
                                      <th>{{ 'EVALUATION.teacher email' | translate }}</th>
                                      <th>{{ 'EVALUATION.teacher Mobile' | translate }}</th>
                                      <th>{{ 'EVALUATION.student name' | translate }}</th>
                                      
                                      <th> {{ 'STUDENTS.Action' | translate }}</th>
                                      <!-- <th>level</th> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of UnApprovalEvaluations ; let i = index">
                                        <td>{{item.teacher.first_name}}</td>
                                        <td>{{item.teacher.email}}</td>
                                        <td>{{item.teacher.mobile}}</td>
                                        <td></td>
                                        <td><button class="btn btn-primary" (click)="Approve(item.id)">{{ 'EVALUATION.approve' | translate }}</button></td>
                                    </tr>
                      
                                  </tbody>
                                </table>
                                <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total2" [(pageSize)]="per_page2"
                                [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                              </div>
                        </ng-template>
                    </ngb-tab>
                   


                </ngb-tabset>


            </div>
        </div>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Details</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tier</th>
                            <th>Days</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tier</td>
                            <td>31</td>
                            <td>500 SR</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6 offset-md-6">
                <div class="row">
                    <div class="col-md-6">Subtotal</div>
                    <div class="col-md-6">360 SR</div>
                    <div class="col-md-6">Discound</div>
                    <div class="col-md-6">0 SR</div>
                    <div class="col-md-6">VAT</div>
                    <div class="col-md-6">10 SR</div>
                    <div class="col-md-6 font-weight-bolder">Total</div>
                    <div class="col-md-6 font-weight-bolder">350 SR</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.close('Save click')">{{ 'CONTACT.cancel' |
            translate }}</button>
    </div>
</ng-template>