<div class="row">
    <div class="col-md-12">

        <h4 class="card-title font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Registration' | translate }} </h4>
        <a [routerLink]="['/registration']" class="text-secondary"><i class="fas fa-chevron-left"></i>
            {{ 'REGISTRATION-DETAILS.All registrations' | translate }}
        </a>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="AddChildForm" (ngSubmit)="onSubmit()" class="Guardian-form">

                    <div class="card-box card-box px-4 p-3 mt-3 ">
                        <div class="box-header">
                            <div class="p-3">
                                <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Child Information' |
                                    translate }}</h4>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="child_first_name"> {{ 'REGISTRATION-DETAILS.first_name' | translate
                                        }}</label>
                                    <input value="[applicationInfo.first_name]" type="text"
                                        formControlName="child_first_name"
                                        placeholder="{{ 'REGISTRATION-DETAILS.first_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_first_name.errors }" />
                                    <div *ngIf="submitted && f.child_first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_first_name.errors.required"> Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Middle">{{ 'REGISTRATION-DETAILS.Middle_name' | translate }} </label>
                                    <input type="text" formControlName="child_middle_name"
                                        placeholder="{{ 'REGISTRATION-DETAILS.Middle_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_middle_name.errors }" />
                                    <div *ngIf="submitted && f.child_middle_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_middle_name.errors.required"> Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION-DETAILS.last_name' | translate }} </label>
                                    <input type="text" formControlName="child_last_name"
                                        placeholder="{{ 'REGISTRATION-DETAILS.last_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_last_name.errors }" />
                                    <div *ngIf="submitted && f.child_last_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_last_name.errors.required"> Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Date"> {{ 'REGISTRATION-DETAILS.Date Of Birth' | translate }} </label>


                                    <input [minDate]="{year: 1980, month: 1, day: 1}" [(ngModel)]="dateOfBirth"
                                        type="text" formControlName="child_date_of_birth" placeholder="YYYY-MM-DD "
                                        class="form-control BrithDate" ngbDatepicker #d="ngbDatepicker"
                                        (click)="d.toggle()"
                                        [ngClass]="{ 'is-invalid': submitted && f.child_date_of_birth.errors }" />
                                    <div *ngIf="submitted && f.child_date_of_birth.errors" class="invalid-feedback">
                                        <div *ngIf="f.child_date_of_birth.errors.required">Date is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION-DETAILS.Gender' | translate }}</label>
                                    <select formControlName="gender" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>

                                    </select>
                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                        <div *ngIf="f.gender.errors.required">gender is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'REGISTRATION.nationality' | translate }} </label>
                                <mat-form-field>
                                    <mat-select formControlName="nationality" [(value)]="selectedNationality" multiple>
                                        <mat-option *ngFor="let Nationality of Nationalities"
                                            [value]="Nationality.name">{{Nationality.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'NAVBAR.language' | translate }} </label>
                                <mat-form-field>
                                    <mat-select formControlName="languagess" [(value)]="selectedLanguages" multiple>
                                        <mat-option *ngFor="let Language of Languages" [value]="Language.name">
                                            {{Language.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <!--  -->
                            <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label for="Middle"> {{ 'REGISTRATION-DETAILS.address' | translate }}</label>
                                <input type="text" formControlName="address"
                                    placeholder=" {{ 'REGISTRATION-DETAILS.address' | translate }}"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">
                                        {{ 'CREATEAPPLICATION.address is required' | translate }} </div>
                                </div>
                            </div>
                        </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.father name' | translate }}</label>
                                    <input type="text" formControlName="father_name"
                                        placeholder="{{ 'REGISTRATION.father name' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }" />
                                    <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_name.errors.required">
                                            {{ 'CREATEAPPLICATION.Father name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION.father_job' | translate }}</label>
                                    <input type="text" formControlName="father_job"
                                        placeholder="{{ 'REGISTRATION.father_job' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_job.errors }" />
                                    <div *ngIf="submitted && f.father_job.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_job.errors.required">
                                            {{ 'CREATEAPPLICATION.father_job is required' | translate }} </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.father_phone' | translate }}</label>
                                    <input type="text" formControlName="father_Mobile"
                                        placeholder="{{ 'REGISTRATION.father_phone' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_Mobile.errors }" />
                                    <div *ngIf="submitted && f.father_Mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_Mobile.errors.required">
                                            {{ 'CREATEAPPLICATION.father_Mobile is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.father_email' | translate }}</label>
                                    <input type="text" formControlName="father_email"
                                        placeholder="{{ 'REGISTRATION.father_email' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.father_email.errors }" />
                                    <div *ngIf="submitted && f.father_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.father_email.errors.required">
                                            {{ 'CREATEAPPLICATION.Email is required' | translate }}</div>
                                        <div *ngIf="f.father_email.errors.email">
                                            {{ 'CREATEAPPLICATION.Email must be a valid email address' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.mother name' | translate }}</label>
                                    <input type="text" formControlName="Mother_name"
                                        placeholder="{{ 'CREATEAPPLICATION.Mother name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Mother_name.errors }" />
                                    <div *ngIf="submitted && f.Mother_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Mother_name.errors.required">
                                            {{ 'CREATEAPPLICATION.Mother name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group ">
                                    <label> {{ 'REGISTRATION.mother_job' | translate }}</label>
                                    <input type="text" formControlName="mother_job"
                                        placeholder="{{ 'REGISTRATION.mother_job' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.mother_job.errors }" />
                                    <div *ngIf="submitted && f.mother_job.errors" class="invalid-feedback">
                                        <div *ngIf="f.mother_job.errors.required">
                                            {{ 'CREATEAPPLICATION.mother_job is required' | translate }} </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.mother_phone' | translate }}</label>
                                    <input type="text" formControlName="Mother_Mobile"
                                        placeholder="{{ 'REGISTRATION.mother_phone' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Mother_Mobile.errors }" />
                                    <div *ngIf="submitted && f.Mother_Mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.Mother_Mobile.errors.required">
                                            {{ 'CREATEAPPLICATION.Mother_Mobile is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Middle"> {{ 'REGISTRATION.mother_email' | translate }}</label>
                                    <input type="text" formControlName="Mother_email"
                                        placeholder="{{ 'REGISTRATION.mother_email' | translate }}" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Mother_email.errors }" />
                                    <div *ngIf="submitted && f.Mother_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.Mother_email.errors.required">
                                            {{ 'CREATEAPPLICATION.Email is required' | translate }}</div>
                                        <div *ngIf="f.Mother_email.errors.email">
                                            {{ 'CREATEAPPLICATION.Email must be a valid email address' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label>{{ 'REGISTRATION.The child lives with' | translate }}</label>
                                    <select formControlName="lives_with" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.lives_with.errors }">
                                        <option selected value="" disabled>
                                            {{ 'REGISTRATION.The child lives with' | translate }}</option>
                                        <option value="Father">{{ 'REGISTRATION.Father' | translate }}</option>
                                        <option value="Mother">{{ 'REGISTRATION.Mother' | translate }}</option>
                                        <option value="both">{{ 'REGISTRATION.both' | translate }}</option>
                                        <option value="others">{{ 'REGISTRATION.others' | translate }}</option>

                                    </select>
                                    <div *ngIf="submitted && f.lives_with.errors" class="invalid-feedback">
                                        <div *ngIf="f.lives_with.errors.required">
                                            {{ 'REGISTRATION.lives_with is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label>{{ 'REGISTRATION.The parents are' | translate }}</label>
                                    <select formControlName="parents_are" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.parents_are.errors }">
                                        <option selected value="" disabled>
                                            {{ 'REGISTRATION.The parents are' | translate }}</option>
                                        <option value="Together">{{ 'REGISTRATION.Together' | translate }}
                                        </option>
                                        <option value="separate">{{ 'REGISTRATION.separate' | translate }}
                                        </option>

                                    </select>
                                    <div *ngIf="submitted && f.parents_are.errors" class="invalid-feedback">
                                        <div *ngIf="f.parents_are.errors.required">
                                            {{ 'CREATEAPPLICATION.parents_are is required' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label for="Middle"> {{ 'REGISTRATION.IDIqama' | translate }}</label>
                                <input type="text" formControlName="IDIqama"
                                    placeholder=" {{ 'REGISTRATION.IDIqama' | translate }}"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.IDIqama.errors }" />
                                <div *ngIf="submitted && f.IDIqama.errors" class="invalid-feedback">
                                    <div *ngIf="f.IDIqama.errors.required">
                                        {{ 'CREATEAPPLICATION.IDIqama is required' | translate }} </div>
                                </div>
                               
                            </div>
                        </div> -->
                            <!--  -->


                        </div>
                    </div>
                    <div class="card-box card-box px-4 p-3 mt-3">

                        <div class="box-header">
                            <div class="p-3">
                                <h4 class="m-0 font-weight-bolder">{{ 'REGISTRATION-DETAILS.Medical Information' |
                                    translate }}</h4>
                            </div>
                        </div>
                        <div class="row p-3">


                            <div class="col-md-12" *ngFor="let form_elem of Medical ">
                                <div class="form-group">
                                    <label *ngIf="medicalPartEn">{{form_elem.question}}</label>
                                    <label *ngIf="medicalPartAr">{{form_elem.question_ar}}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="{{form_elem.radio}}" [value]="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="{{form_elem.radio}}" [value]="0">{{
                                            'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                    <!-- <label><input type="radio" formControlName="{{form_elem.radio}}" value="1" /> yes</label> 
                                                <label><input type="radio" formControlName="{{form_elem.radio}}" value="0" />no</label> -->
                                </div>
                                <div class="form-group">
                                    <!-- <label for="Middle"> {{form_elem.input}}</label> -->
                                    <input type="text" formControlName="{{form_elem.input}}"
                                        placeholder="{{ 'REGISTRATION-DETAILS.If yes please specify' | translate }}"
                                        class="form-control" />

                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="card-box card-box px-4 p-3 mt-3">

                        <div class="box-header">
                            <div class="p-3">
                                <h4 class="m-0 font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Child Ability' | translate
                                    }}</h4>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.can_eat_alone' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_eat"
                                                [value]="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_eat"
                                                [value]="0">{{ 'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.use_right_hand' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_hand"
                                                [value]="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="Ability_hand"
                                                [value]="0">{{ 'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.go_toilet_alone' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Ability_toilet" [value]="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Ability_toilet" [value]="0">{{
                                            'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box card-box px-4 p-3 mt-3">
                        <div class="box-header">
                            <div class="p-3">
                                <h4 class="m-0 font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Emergency Contact' |
                                    translate }}</h4>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_first_name">
                                        {{ 'REGISTRATION-DETAILS.first_name' | translate }}</label>
                                    <input type="text" formControlName="Emergency_first_name"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.first_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_first_name.errors }" />
                                    <div *ngIf="submitted && f.Emergency_first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_first_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_last_name">
                                        {{ 'REGISTRATION-DETAILS.last_name' | translate }}</label>
                                    <input type="text" formControlName="Emergency_last_name"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.last_name' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_last_name.errors }" />
                                    <div *ngIf="submitted && f.Emergency_last_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_last_name.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Name is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_mobile">
                                        {{ 'REGISTRATION-DETAILS.Phone' | translate }}</label>
                                    <input type="text" formControlName="Emergency_mobile"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.Phone' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_mobile.errors }" />
                                    <div *ngIf="submitted && f.Emergency_mobile.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_mobile.errors.required">
                                            {{ 'PROFILE.Mobile is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_Alternative_Mobile">
                                        {{ 'REGISTRATION-DETAILS.alt_mobile' | translate }}</label>
                                    <input type="text" formControlName="Emergency_Alternative_Mobile"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.alt_mobile' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_Alternative_Mobile.errors }" />
                                    <div *ngIf="submitted && f.Emergency_Alternative_Mobile.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.Emergency_Alternative_Mobile.errors.required">
                                            {{ 'REGISTRATION-DETAILS.alt_mobile required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_Relation_Family">
                                        {{ 'REGISTRATION-DETAILS.relation' | translate }}</label>
                                    <input type="text" formControlName="Emergency_Relation_Family"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.relation' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_Relation_Family.errors }" />
                                    <div *ngIf="submitted && f.Emergency_Relation_Family.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.Emergency_Relation_Family.errors.required">
                                            {{ 'REGISTRATION-DETAILS.Relation is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Emergency_Address">
                                        {{ 'REGISTRATION-DETAILS.address' | translate }}</label>
                                    <input type="text" formControlName="Emergency_Address"
                                        placeholder=" {{ 'REGISTRATION-DETAILS.address' | translate }}"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.Emergency_Address.errors }" />
                                    <div *ngIf="submitted && f.Emergency_Address.errors" class="invalid-feedback">
                                        <div *ngIf="f.Emergency_Address.errors.required">
                                            {{ 'REGISTRATION-DETAILS.address is required' | translate }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'REGISTRATION-DETAILS.can_pick_child' | translate }}</label>
                                    <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Emergency_Permission" [value]="1">
                                            {{ 'REGISTRATION-DETAILS.yes' | translate }}
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                formControlName="Emergency_Permission" [value]="0">{{
                                            'REGISTRATION-DETAILS.No' | translate }}
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-danger btn-block mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                            {{ 'BUTTON.Save' | translate }}
                        </button>

                    </div>
                </form>
            </div>


        </div>

    </div>

</div>