<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'BRANCH.All Branches' | translate }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3" *ngFor="let item of branch">
                        <div class="padd">
                            <div class="widget navy-bg text-center">
                                <div style="height: 10em;">
                                    <div class="row h-100">
                                        <div class="col-sm-12 my-auto">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conta">
                                <button class="btn btn-primary btn-md" (click)="open(edit , item.id)" title="Edit"> <i
                                        class="fas fa-edit"></i></button> &nbsp;
                                <a routerLink="/level/{{item.id}}" class="btn btn-success btn-md" data-toggle="tooltip"
                                    title="Details"><i class="fas fa-eye"></i></a> </div>
                        </div>
                    </div>

                    <div class="col-lg-3" (click)="show(test)">
                        <div class="padd cursor-pointer">
                            <div class="dotted">
                                <div style="height: 12em;">
                                    <div class="row    h-100">
                                        <div class="col-sm-12 my-auto   text-center">
                                            {{ 'BRANCH.Add Branch' | translate }}
                                            <br>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<ng-template #test let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'BRANCH.Enter Your Branch' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <form [formGroup]="branchForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'BRANCH.Branch Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'BRANCH.Branch is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="phone"> {{ 'BRANCH.phone' | translate }}</label>
                        <input type="text" formControlName="phone" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">{{ 'BRANCH.phone is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="url"> {{ 'BRANCH.url' | translate }}</label>
                        <input type="text" formControlName="url" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.url.errors }" />
                        <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                            <div *ngIf="f.url.errors.required">{{ 'BRANCH.url is required' | translate }}</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>
<ng-template #edit let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'BRANCH.Edit Your Branch' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <form [formGroup]="branchForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'BRANCH.Branch Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'BRANCH.Branch is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="phone"> {{ 'BRANCH.phone' | translate }}</label>
                        <input type="text" formControlName="phone" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">{{ 'BRANCH.phone is required' | translate }}</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="url"> {{ 'BRANCH.url' | translate }}</label>
                        <input type="text" formControlName="url" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.url.errors }" />
                        <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                            <div *ngIf="f.url.errors.required">{{ 'BUTTON.url is required' | translate }}</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>