<div class="wrapper">
    <div class="bg-page">

        <div class="container">
            <div class="row">

                <div class="col-sm-6 offset-md-3">

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form">

                        <div class="card-sign pb-2">
                            

                            <div class="header-title">
                                <app-toasts aria-live="polite" aria-atomic="true" style="z-index: 999999999;"></app-toasts>
                                <h4 class="p-3"> Login</h4>
                            </div>
                            <div class="row p-3">
                               
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email"> Email</label>
                                        <input type="text" formControlName="email" class="form-control" placeholder="Email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="password">password</label>
                                        <input type="password" formControlName="password" placeholder="password"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">password is required</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="forgot ">
                                        <a  style="    COLOR: #000!IMPORTANT;" [routerLink]="['/forgot-password']" href="#" class=" pull-right">Forgot password</a>
                                    </div>

                                </div>
                               
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                Login <i class="fas fa-arrow-right"></i>
                            </button>

                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="footer register-footer text-center">

            </div>
        </div>
    </div>
</div>