<div class="sidebar-wrapper" [style.background]="color">
  <div class="logo" [style.background]="color">

    <a [routerLink]="['/dashboard']" class="simple-text logo-normal">
      {{ title }}
    </a>
  </div>
  <ul class="nav">
    <li>
      <a [routerLink]="['/dashboard']">
        <i class="fas fa-th-large"></i>
        <p>{{ 'SIDEBAR.dashboard' | translate }}</p>
      </a>
    </li>
    <!-- <li>
      <a [routerLink]="['/registration']">
        <i class="fas fa-user"></i>
        <p>{{ 'SIDEBAR.registration' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/waiting_list']">
        <i class="fas fa-newspaper"></i>
        <p>{{'SIDEBAR.waiting' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/students']">
        <i class="fas fa-user-graduate"></i>
        <p>{{'SIDEBAR.students' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/branch']">
        <i class="fas fa-code-branch"></i>
        <p>{{'STUDENTS.Class' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/visit']">
        <i class="fas fa-user-clock"></i>
        <p>{{'SIDEBAR.visit' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/events']">
        <i class="fas fa-calendar-check"></i>
        <p>{{'SIDEBAR.event' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/meals']">
        <i class="fas fa-utensils"></i>
        <p>{{'SIDEBAR.meal' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/Student_Evaluation']">
        <i class="fas fa-question-circle"></i>
        <p>{{'SIDEBAR.evaluation' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/Enquires']">
        <i class="fas fa-file-signature"></i>
        <p>{{ 'SIDEBAR.contact' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/Payment_Plans']">
        <i class="fas fa-money-check-alt"></i>
        <p>{{'SIDEBAR.plan' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/special-request']">
        <i class="fab fa-stripe-s"></i>
        <p>{{'SIDEBAR.special-request' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/UserManagement']">
        <i class="fas fa-user-cog"></i>
        <p>{{'SIDEBAR.UserManagement' | translate }}</p>
      </a>
    </li> -->


    <!-- <li>
      <a [routerLink]="['/Website_Settings']">
        <i class="fas fa-cog"></i>
        <p>{{'SIDEBAR.general' | translate }}</p>
      </a>
    </li>
    <li>
      <a [routerLink]="['/EmailTemplate']">
        <i class="fas fa-envelope"></i>
        <p>{{'SIDEBAR.EmailTemplate' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/Tags']">
        <i class="fas fa-clipboard-list"></i>
        <p>{{'SIDEBAR.List' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/All_Customer']">
        <i class="fas fa-user-tag"></i>
        <p>{{'LISTS.all Customer' | translate }}</p>
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/Medical']">
        <i class="fas fa-stethoscope"></i>
        <p>{{'SIDEBAR.Medical' | translate }}</p>
      </a>
    </li> -->
    <li>
      <a data-toggle="collapse" href="#students">
        <i class="fas fa-user-graduate"></i>
        <p>{{'SIDEBAR.students' | translate }}
          <b class="caret"></b>
        </p>
      </a>

      <div class="collapse" id="students">
        <ul class="nav">
          <li>
            <a [routerLink]="['/registration']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.registration' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/waiting_list']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.waiting' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/students']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.students' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/Student_Evaluation']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.evaluation' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/special-request']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.special-request' | translate }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    
    <li>
      <a data-toggle="collapse" href="#ClassesEvents">
        <i class="fas fa-school"></i>
        <p>{{'SIDEBAR.ClassesEvents' | translate }}
          <b class="caret"></b>
        </p>
      </a>

      <div class="collapse" id="ClassesEvents">
        <ul class="nav">
          <li>
            <a [routerLink]="['/branch']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'STUDENTS.Class' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/events']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.event' | translate }}</span>
            </a>
          </li>
         
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#EnquiriesVisits">
        <i class="fas fa-file-signature"></i>
        <p>{{'SIDEBAR.EnquiriesVisits' | translate }}
          <b class="caret"></b>
        </p>
      </a>

      <div class="collapse" id="EnquiriesVisits">
        <ul class="nav">
          <li>
            <a [routerLink]="['/Enquires']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{ 'SIDEBAR.contact' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/visit']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.visit' | translate }}</span>
            </a>
          </li>
         
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#Marketing">
        <i class="fas fa-bullhorn"></i>
        <p>{{'SIDEBAR.Marketing' | translate }}
          <b class="caret"></b>
        </p>
      </a>

      <div class="collapse" id="Marketing">
        <ul class="nav">
          <li>
            <a [routerLink]="['/All_Customer']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'LISTS.all Customer' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/Tags']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.List' | translate }}</span>
            </a>
          </li>
         
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#Financial">
        <i class="fas fa-coins"></i>
        <p>{{'SIDEBAR.Financial' | translate }}
          <b class="caret"></b>
        </p>
      </a>

      <div class="collapse" id="Financial">
        <ul class="nav">
          <li>
            <a [routerLink]="['/Payment_Plans']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.plan' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/Payment']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.payment' | translate }}</span>
            </a>
          </li>
         
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#Settings">
        <i class="fas fa-cog"></i>
        <p>{{'SIDEBAR.Settings' | translate }}
          <b class="caret"></b>
        </p>
      </a>

      <div class="collapse" id="Settings">
        <ul class="nav">
          <li>
            <a [routerLink]="['/Medical']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.Medical' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/FAQ']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'FAQ.FAQ' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/Website_Settings']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.general' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/EmailTemplate']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.EmailTemplate' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/meals']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.meal' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/UserManagement']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.UserManagement' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/terms']">
              <span class="sidebar-normal"><i class="fas fa-grip-lines"></i>{{'SIDEBAR.terms and conditions' | translate }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
   
   

    <!-- <li>
      <a [routerLink]="['/FAQ']">
        <i class="fas fa-info-circle"></i>
        <p>{{'FAQ.FAQ' | translate }}</p>
      </a>
    </li> -->



  </ul>
</div>