<div class="row">
    <div class="col-md-12">
      
      <div class="card">
        <div class="card-header mb-3">
          <h4 class="card-title font-weight-bolder"> {{ 'BILL.Bills' | translate }} </h4>
        <a routerLink="/application/{{applicationId}}"  class="text-secondary"><i class="fas fa-chevron-left"></i>
            {{ 'REGISTRATION-DETAILS.Details' | translate }}
        </a>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-8">
            <!-- <button class="btn btn-primary pull-right"> Add Entry</button> -->
           </div>
        </div>
        <div class="card-body">
            
              <div class="table-responsive">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>{{ 'BILL.serial' | translate }}</th>
                    <th>{{ 'BILL.due_month' | translate }}</th>
                    <th>{{ 'BILL.status' | translate }}</th>
                    <th>{{ 'BILL.due_amount' | translate }}</th>
                    <th>{{ 'BILL.paid_amount' | translate }}</th>
                    <th>{{ 'BILL.payment_date' | translate }}</th>
                    <th>{{ 'BILL.vat' | translate }}</th>
                    <th>{{ 'BILL.quantity' | translate }}</th>
                    <th>{{ 'BILL.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of Bills">
                    <td>{{item.serial}}</td>
                    <td> {{item.payment_date  | slice:0:11 }}</td>
                    <td [ngStyle]="{'color':getColor(item.status)}"><strong>{{item.status}}</strong></td>
                    <td>{{item.due_amount}}</td>
                    <td>{{item.paid_amount}}</td>
                    <td>{{item.due_month}}</td>
                    <td>{{item.vat *100}}</td>
                    <td>{{item.quantity}}</td>
                   
                    <td> <button class="btn btn-info p-2 mx-1" routerLink="/Invoice/{{item.id}}" ><i class="fas fa-eye"></i></button>
                      <button *ngIf="item.status != 'Cancelled'" class="btn btn-danger p-2 mx-1" (click)="cancel(item)" ><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
                
                </tbody>
              </table>
              </div>

         </div>
      </div>
    </div>
  
  </div>
  