<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title font-weight-bold"> {{ 'SIDEBAR.Medical' | translate }} </h4>
        </div>
        <div class="row">
          <div class="col-md-11">
            <button class="btn btn-primary pull-right" (click)="open(content)"> {{ 'FAQ.Add Question' | translate }}</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mt-4" *ngFor="let item of medicalQ">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title><strong>{{ 'FAQ.question' | translate }}</strong> : {{item.question}}</mat-card-title>
                  <br>
                  <mat-card-title><strong>{{ 'FAQ.ar_question' | translate }}</strong> : {{item.question_ar}}</mat-card-title>
                </mat-card-header>
                
                
                <mat-card-actions>
                    <br> <br>
                  <button mat-raised-button color="accent" (click)="edit(EditMedical , item.id)" class="mx-1"> {{ 'USERMANAGMENT.edit' | translate }}</button>
                  <button mat-raised-button color="warn"
                  (click)="delete(deleteTime , item.id )">{{ 'FAQ.Delete' | translate }}</button>
                  <!-- <button *ngIf="item.answers == '' " mat-raised-button color="primary"
                    (click)="addAnswer(aAnswer , item.id)">{{ 'FAQ.Add answer' | translate }}</button> -->
                </mat-card-actions>
              
              </mat-card>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  
  </div>
  
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'FAQ.Add Question' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        
        <form [formGroup]="questionForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="question"> {{ 'FAQ.question' | translate }}</label>
              <input type="text" formControlName="question" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.question.errors }" />
              <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                <div *ngIf="f.question.errors.required">{{ 'FAQ.question is required' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="ar_question"> {{ 'FAQ.ar_question' | translate }}</label>
              <input type="text" formControlName="ar_question" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ar_question.errors }" />
              <div *ngIf="submitted && f.ar_question.errors" class="invalid-feedback">
                <div *ngIf="f.ar_question.errors.required">{{ 'FAQ.question is required' | translate }}</div>
              </div>
            </div>
  
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  <ng-template #EditMedical let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'MEDICAL.edit question' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        
        <form [formGroup]="editMedicalForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="question"> {{ 'FAQ.question' | translate }}</label>
              <input type="text" formControlName="question" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.question.errors }" />
              <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                <div *ngIf="f.question.errors.required">{{ 'FAQ.question is required' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="ar_question"> {{ 'FAQ.ar_question' | translate }}</label>
              <input type="text" formControlName="ar_question" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ar_question.errors }" />
              <div *ngIf="submitted && f.ar_question.errors" class="invalid-feedback">
                <div *ngIf="f.ar_question.errors.required">{{ 'FAQ.question is required' | translate }}</div>
              </div>
            </div>
  
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  
  
  
  
  <ng-template #deleteTime let-modal>
    <div class="modal-header">
      <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
  
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
          <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>