<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title font-weight-bold">{{ 'REGISTRATION.title' | translate }} </h4>
      </div>
      <div class="row">
        
        <div class="col-md-4">
          <a [routerLink]="['/Add_Application']" class="btn btn-primary  mt-5 mx-3">
            <i class="fas fa-user-plus"></i>
            {{ 'REGISTRATION.addApplication' | translate }}
          </a>
        </div>
        <div class="col-md-8 ">
          <form [formGroup]="branchForm" (ngSubmit)="onSubmit()" class="register-form">
            
            
            <div class="row p-3">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="ParentName"> {{ 'REGISTRATION.Child Name' | translate }}</label>
                  <input type="text" formControlName="ParentName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.ParentName.errors }" />
                  <div *ngIf="submitted && f.ParentName.errors" class="invalid-feedback">
                    <div *ngIf="f.ParentName.errors.required">{{ 'STUDENTS.student name is required' | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group ">
                  <label>{{ 'REGISTRATION.branch' | translate }} </label>
                  <select (change)="selectBranch($event)" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <option selected value="all">{{ 'REGISTRATION.all' | translate }}</option>
                    <option *ngFor="let item of branch" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" *ngIf="filterlevelId">
                <div class="form-group ">
                  <label>{{ 'REGISTRATION.Level' | translate }} </label>
                  <select formControlName="level" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                    <option selected value="all">{{ 'REGISTRATION.all' | translate }}</option>
                    <option *ngFor="let item of levels" [value]="item.name">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" *ngIf="filterlevelName">
                <div class="form-group ">
                  <label>{{ 'REGISTRATION.Level' | translate }} </label>
                  <select formControlName="level" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                    <option selected value="all">{{ 'REGISTRATION.all' | translate }}</option>
                    <option *ngFor="let item of levels" [value]="item.name">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group mt-4">
                  <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                    {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                  </button>

                </div>
              </div>




            </div>


          </form>
          <!-- <form [formGroup]="filterByName" (ngSubmit)="filterName()" class="register-form">
            <div class="row pt-4">
              <div class="col-md-5 offset-md-7">
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label for="name"> {{ 'STUDENTS.student name' | translate }}</label>
                      <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.name.errors }" />
                      <div *ngIf="submitted && e.name.errors" class="invalid-feedback">
                        <div *ngIf="e.name.errors.required">{{ 'STUDENTS.student name is required' | translate }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group mt-4">
                      <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                        {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form> -->
        </div>

      </div>
      <div class="card-body">

        <div class="table-responsive">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ 'REGISTRATION.Child Name' | translate }}</th>
                <th>{{ 'REGISTRATION.father name' | translate }}</th>
                <th>{{ 'REGISTRATION.mother name' | translate }}</th>
                <th>{{ 'REGISTRATION.branch' | translate }}</th>
                <th>{{ 'REGISTRATION.Level' | translate }}</th>
                <th>{{ 'REGISTRATION.Status' | translate }}</th>
                <th> {{ 'STUDENTS.Action' | translate }}</th>
                <!-- <th>level</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list ; let i = index">
                <td routerLink="/application/{{item.id}}">
                  <span *ngFor="let elemet of item.children ">{{elemet.first_name}}</span>
                </td>
                <td routerLink="/application/{{item.id}}">
                  <span *ngFor="let elemet of item.children ">{{elemet.father_name}}</span>
                </td>
                <td routerLink="/application/{{item.id}}">
                  <span *ngFor="let elemet of item.children ">{{elemet.mother_name}}</span>
                </td>
                <!-- <td routerLink="/application/{{item.id}}">{{item.children[0].father_name}}</td>
                <td routerLink="/application/{{item.id}}">{{item.children[0].mother_name}}</td> -->
                <td routerLink="/application/{{item.id}}">{{item.branch}}</td>
                <td routerLink="/application/{{item.id}}">
                  <span *ngFor="let elemet of item.children ">{{elemet.level}}</span>
                </td>
                <!-- <td routerLink="/application/{{item.id}}">{{item.children[0].level}}</td> -->
                <td routerLink="/application/{{item.id}}" [ngStyle]="{'color':getColor(item.status)}"
                  class="font-weight-bolder">{{item.status}}</td>
                <td>
                  <button *ngIf="item.status != 'Active' && item.status != 'Cancelled'" data-toggle="tooltip" (click)="delete(deleteTime , item.id)"
                    class="btn btn-danger" title="Delete">{{ 'MEAL.Delete' | translate }} </button>
                    <button *ngIf="item.status == 'Active'" data-toggle="tooltip" (click)="cancel(cancelTime , item.id)"
                    class="btn btn-danger" title="Delete">{{ 'CONTACT.cancel' | translate }}</button>
                </td>
               
              </tr>

            </tbody>
          </table>
        </div>

        <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page"
          [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>

</div>


<ng-template #deleteTime let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
        <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate
      }}</button>
  </div>
</ng-template>
<ng-template #cancelTime let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
        <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate
      }}</button>
  </div>
</ng-template>