<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> {{ 'VISIT.Visit' | translate }}</h4>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <a [routerLink]="['/avialable_time']" class="btn btn-primary">{{ 'VISIT.add Time' | translate }} </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>  {{ 'VISIT.name' | translate }}</th>
                <th> {{ 'VISIT.email' | translate }}</th>
                <th> {{ 'VISIT.mobile' | translate }}</th>
                <th>{{ 'VISIT.visit_date' | translate }} </th>
                <th> {{ 'VISIT.from' | translate }}</th>
                <th> {{ 'VISIT.to' | translate }}</th>
                <th> {{ 'VISIT.code' | translate }}</th>
                <th> {{ 'VISIT.branch' | translate }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let visit of visits">
                  <td>{{visit.name}} </td>
                  <td>{{visit.email}}</td>
                  <td>{{visit.mobile}}</td>
                  <td>{{visit.visit_date}}</td>
                  <td>{{visit.from}}</td>
                  <td>{{visit.to}}</td>
                  <td>{{visit.code}}</td>
                  <td *ngIf="visit.branch != null">{{visit.branch.name}}</td>
                
                </tr>
  
              </tbody>
            </table>
          </div>
          <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  
        </div>
      </div>
    </div>
  
  </div>
  
 