<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{ 'STUDENTS.All Students' | translate }}</h4>
        <a class=" font-weight-bolder" routerLink="/branch">  {{branchinfo.name}} </a>
        <a routerLink="/level//{{branchinfo.id}}" class="font-weight-bolder"><i class="fas fa-chevron-left"></i>
          {{levelinfo.name}}
        </a>
        <span class="font-weight-bold text-danger"><i class="fas fa-chevron-left"></i>
          {{classDetails}}
        </span>
        
        <h6 class="card-title font-weight-bolder mt-2" *ngIf="Teacher_frist != null ; else noContent"> {{ 'STUDENTS.teacher name' | translate }}
          <h6 *ngFor="let item of Teacher_frist" class="mt-2">{{item.first_name}} {{item.middle_name}} </h6>
        </h6>
        <ng-template #noContent> <h6 class="mt-2">{{ 'STUDENTS.teacher name' | translate }} : {{ 'USERMANAGMENT.not assigned yet' | translate }}</h6></ng-template>

         <!-- <p>{{ 'STUDENTS.Class Name' | translate }}: <span class="font-weight-bold text-danger">{{classDetails}}</span></p>  -->
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <button *ngIf="Teacher_frist" class="btn btn-info p-2" (click)="open(content)"> {{ 'STUDENTS.upgrade student' | translate }}</button>
            <button  class="btn btn-danger p-2"  (click)="delete(deleteUser)"> {{ 'STUDENTS.Unassign Teacher' | translate }}</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>  {{ 'STUDENTS.check' | translate }}</th>
              <th>  {{ 'STUDENTS.Name' | translate }}</th>
              <th> {{ 'STUDENTS.level' | translate }}</th>
              <th> {{ 'STUDENTS.date_of_birth' | translate }}</th>
              <th>{{ 'STUDENTS.gender' | translate }} </th>
             
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td><input type="checkbox" 
                  (change)="onChange($event.target.checked, student.id)"
                  [checked]="checked(student.id)"
                ></td>
                <td>{{student.child.first_name}} {{student.child.middle_name}} {{student.child.last_name}}</td>
                <td>{{student.class.level.name}}</td>
                <td>{{student.child.date_of_birth}}</td>
                <td>{{student.child.gender}}</td>
                

              </tr>
            
            </tbody>
          </table>
        </div>

        <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

      </div>
    </div>
  </div>
  
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{ 'STUDENTS.upgrade student' | translate }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="assignForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
        <div class="col-md-12">
          <div class="form-group ">
            <label> {{ 'STUDENTS.Choose Level' | translate }}</label>
            <select formControlName="level" class="form-control" (change)="selectClass($event)"
              [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
              <option  [selected]="true"   value="">{{ 'STUDENTS.Choose Level' | translate }}</option>
              <option *ngFor="let item of levels" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="submitted && f.level.errors" class="invalid-feedback">
              <div *ngIf="f.level.errors.required">
                {{ 'STUDENTS.level is required' | translate }}</div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="form-group ">
            <label> {{ 'STUDENTS.Choose Class' | translate }}</label>
            <select formControlName="class_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.class_id.errors }">
              <option selected >{{ 'STUDENTS.Choose Class' | translate }}</option>
           
              <option *ngFor="let item of class" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="submitted && f.class_id.errors" class="invalid-feedback">
              <div *ngIf="f.class_id.errors.required">
                {{ 'STUDENTS.class is required' | translate }}</div>
            </div>
          </div>

        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>
<ng-template #deleteUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
        <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>