<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title font-weight-bold"> {{ 'LISTS.all Customer' | translate }} </h4>
                <!-- <a [routerLink]="['/List']" class="text-secondary"><i class="fas fa-chevron-left"></i>
                    {{ 'LISTS.lists' | translate }}
                  </a> -->
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    <div class=" p-3">

                        <div class=" text-center pull-right">
                            <!-- <form [formGroup]="addClient" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                               <div class="row">
                                <div class="col-md-6">
                                    <label> {{ 'LISTS.Select email' | translate }} </label>
                                    <mat-form-field [floatLabel]="'never'" appearance="outline">
                                        <mat-select [ngClass]="{'is-invalid': (
                                            addClient.get('language').errors)}" formControlName="language"
                                            placeholder="{{ 'LISTS.Select email' | translate }}" multiple>
                                        
                                            <mat-option *ngFor="let Language of Languages"
                                                [value]="Language.email">
                                                {{Language.email}}</mat-option>
                                        </mat-select>
                                        <span class="invalid-feedback mt-2"
                                            *ngIf=" submitted && addClient.get('language').errors">
                                            <span *ngIf="addClient.get('language').errors.required ">
                                                {{ 'CREATEAPPLICATION.Languages is required' | translate }}
                                            </span>
                
                                        </span>
                                    </mat-form-field>
                
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-4">
                                      <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                        {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                                      </button>
                    
                                    </div>
                                  </div>
                                </div>
                
                            </form> -->
                            
                            <button class="btn btn-success pull-right my-4" (click)="addFormlist(AddList)">
                                {{ 'LISTS.Add Customer' | translate }}</button>
                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'LISTS.index' | translate }}</th>
                                <th>{{ 'STUDENTS.Name' | translate }}</th>
                                <th>{{ 'REGISTRATION-DETAILS.Phone' | translate }}</th>
                                <th>{{ 'REGISTRATION-DETAILS.Email' | translate }}</th>
                                <th>{{ 'EVENT.Date' | translate }}</th>
                                <th>{{ 'SIDEBAR.List' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allCustomer ; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.mobile}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.date | date }}</td>
                                <td>
                                   <span *ngFor="let list of item.lists let n = index"><strong>{{n+1}}-</strong>{{list.name}} </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination> -->

            </div>
        </div>
    </div>

</div>
<ng-template #AddList let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'LISTS.Add Customer' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addFormLists" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="name"> {{ 'USERMANAGMENT.name' | translate }}</label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">{{ 'USERMANAGMENT.name is required' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="mobile"> {{ 'USERMANAGMENT.mobile' | translate }}</label>
              <input type="text" formControlName="mobile" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">{{ 'USERMANAGMENT.mobile is required' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
                <label for="email">  {{ 'LOGIN.Email' | translate }}</label>
                <input type="text" formControlName="email" class="form-control" placeholder="{{ 'LOGIN.Email' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ 'LOGIN.Email is required' | translate }}</div>
                    <div *ngIf="f.email.errors.email"> {{ 'LOGIN.Email must be a valid email address' | translate }}</div>
                </div>
            </div>

        </div>
       
          
  
  
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
