<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title font-weight-bold"> {{ 'MEAL.meal' | translate }} </h4>
      </div>
      <div class="row">
        <div class="col-md-11">
          <button class="btn btn-primary pull-right" (click)="open(content)"> {{ 'MEAL.Add meal' | translate }}</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mt-4" *ngFor="let meal of meals">
            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>{{meal.name}}</mat-card-title>
                <mat-card-subtitle> {{meal.price}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{meal.photo}}" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  {{meal.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>

                <!-- <button mat-raised-button color="accent">Edit</button> -->
                <button mat-raised-button color="warn"
                  (click)="delete(deleteTime , meal.id)">{{ 'MEAL.Delete' | translate }}</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{ 'MEAL.Add meal' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="MealForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

        <div class="col-md-12">
          <div class="form-group">
            <label for="name"> {{ 'MEAL.name' | translate }}</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">{{ 'MEAL.MEAL is required' | translate }}</div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="price"> {{ 'MEAL.price' | translate }}</label>
            <input type="text" formControlName="price" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
              <div *ngIf="f.price.errors.required">{{ 'MEAL.price is required' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="description"> {{ 'MEAL.description' | translate }}</label>
            <input type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">{{ 'MEAL.description is required' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <input type="file" (change)="onFileChanged($event)">

        </div>


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>




<ng-template #deleteTime let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
        <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>