<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title font-weight-bold"> {{ 'USERMANAGMENT.users' | translate }} </h4>
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <ngb-tabset [destroyOnHide]="false">
                <ngb-tab title="Admin ">
                  <ng-template ngbTabContent>
                    <div class="row">
                      <div class="col-md-11">
                        <button class="btn btn-primary pull-right my-4" (click)="open(contentAdmin , 'Admin')"> {{ 'USERMANAGMENT.Add Admin' | translate }}</button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            {{ 'USERMANAGMENT.first_name' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.mobile' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.email' | translate }}
                          </th>
                          
                          <th> {{ 'USERMANAGMENT.Action' | translate }}</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of Admin">
                            <td>
                                {{item.first_name}}
                            </td>
                            <td>
                              {{item.mobile}}
                          </td>
                          <td>
                              {{item.email}}
                          </td>
                          
                              <td> <button class="btn  btn-warning p-2 mx-2" data-toggle="tooltip" title="Edit"
                                (click)="edit(editUser ,item.id  )">
                                  <i class="fas fa-pen-square"></i>
                                </button>
                                <button class="btn  btn-danger p-2 mx-2" data-toggle="tooltip" title="Delete"
                                (click)="delete(deleteUser ,item.id  )">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                           
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                    <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total2" [(pageSize)]="per_page2" [(page)]="page2" [maxSize]="7" [rotate]="true" (pageChange)="loadPageAdmin($event)"></ngb-pagination>

                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Teacher </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row">
                      <div class="col-md-11">
                        <button class="btn btn-primary pull-right my-4" (click)="open(contentTeacher, 'Teacher')"> {{ 'USERMANAGMENT.Add Teacher' | translate }}</button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            {{ 'USERMANAGMENT.first_name' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.mobile' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.email' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.occupation' | translate }}
                          </th>
                         
                          <th>
                            {{ 'USERMANAGMENT.class_id' | translate }}
                          </th>
                          
                          <th> {{ 'USERMANAGMENT.Action' | translate }}</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of Teacher">
                            <td>
                                {{item.first_name}}
                            </td>
                            <td>
                              {{item.mobile}}
                          </td>
                          <td>
                              {{item.email}}
                          </td>
                          <td>
                            {{item.occupation}}
                        </td>
                          <!--  -->
                          <td *ngIf="item.classes != '';else noContent" >
                            <!-- {{class.name}} -->
                            <span *ngFor="let class of item.classes">
                              <p>{{class.branch.name}}/{{class.level.name}}/{{class.name}} </p>
                              <!-- <table class="table">
                                <tr> <td></td></tr>
                              </table> -->
                            </span>
                        </td>
                        <ng-template #noContent> <td>{{ 'USERMANAGMENT.not assigned yet' | translate }}</td></ng-template>

                              <td> 
                                <button class="btn  btn-success p-2 mx-2" data-toggle="tooltip" title="Assign"
                                (click)="assign(assignTeacher ,item.id  )">
                                <i class="fas fa-plus"></i>
                                </button>
                                <button class="btn  btn-warning p-2 mx-2" data-toggle="tooltip" title="Edit"
                                (click)="edit(editUser ,item.id  )">
                                  <i class="fas fa-pen-square"></i>
                                </button>
                                <button class="btn  btn-danger p-2 mx-2" data-toggle="tooltip" title="Delete"
                                (click)="delete(deleteUser ,item.id  )">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                           
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                    <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total1" [(pageSize)]="per_page1" [(page)]="page1" [maxSize]="7" [rotate]="true" (pageChange)="loadPageTecher($event)"></ngb-pagination>

                  </ng-template>
                </ngb-tab>
                <ngb-tab  >
                  <ng-template  ngbTabTitle> {{ 'REGISTRATION-DETAILS.Guardians' | translate }}   </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row">
                      <div class="col-md-11">
                        <button class="btn btn-primary pull-right my-4" (click)="register(contentGuardian)"> {{ 'USERMANAGMENT.add Guardian' | translate }}</button>
                      </div>
                    </div>
                    <div class="table-responsive  mt-5">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            {{ 'USERMANAGMENT.first_name' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.mobile' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.email' | translate }}
                          </th>
                          <th>
                            {{ 'USERMANAGMENT.childs name' | translate }}
                          </th>
                          
                          <th> {{ 'USERMANAGMENT.Action' | translate }}</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of Parent">
                            <td>
                                {{item.first_name}}
                            </td>
                            <td>
                              {{item.mobile}}
                          </td>
                          <td>
                              {{item.email}}
                          </td>
                          <td  style="width: 19em;">
                            <span *ngIf="item.children.length >0">
                              <span  *ngFor="let child of item.children">
                             
                                <span *ngIf="child != null">{{child.first_name}} </span>
                                <span *ngIf="child != null">{{child.middle_name}} </span>
                                <span *ngIf="child != null">{{child.last_name}} </span>
                                <br>
                              </span>
                            </span>
                            
                        </td>
                          
                              <td> <button class="btn  btn-warning p-2 mx-2" data-toggle="tooltip" title="Edit"
                                (click)="edit(editUser ,item.id  )">
                                  <i class="fas fa-pen-square"></i>
                                </button>
                                <button class="btn  btn-danger p-2 mx-2" data-toggle="tooltip" title="Delete"
                                (click)="delete(deleteUser ,item.id  )">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                           
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                    <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

                  </ng-template>
                </ngb-tab>
                
              </ngb-tabset>
               
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  
  </div>
  
  <ng-template #contentTeacher let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'USERMANAGMENT.Add Teacher' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="userForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="first_name"> {{ 'USERMANAGMENT.name' | translate }}</label>
              <input type="text" formControlName="first_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
              <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">{{ 'USERMANAGMENT.name is required' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="mobile"> {{ 'USERMANAGMENT.mobile' | translate }}</label>
              <input type="text" formControlName="mobile" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">{{ 'USERMANAGMENT.mobile is required' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="national_id"> {{ 'REGISTRATION.IDIqama' | translate }}</label>
              <input type="text" formControlName="national_id" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.national_id.errors }" />
              <div *ngIf="submitted && f.national_id.errors" class="invalid-feedback">
                <div *ngIf="f.national_id.errors.required">{{ 'REGISTRATION.IDIqama is required' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="occupation"> {{ 'USERMANAGMENT.occupation' | translate }}</label>
              <input type="text" formControlName="occupation" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.occupation.errors }" />
              <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                <div *ngIf="f.occupation.errors.required">{{ 'REGISTRATION.occupation is required' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="degree"> {{ 'USERMANAGMENT.degree' | translate }}</label>
              <input type="text" formControlName="degree" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.degree.errors }" />
              <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
                <div *ngIf="f.degree.errors.required">{{ 'REGISTRATION.degree is required' | translate }}</div>
              </div>
            </div>
          </div>
          
          <div class="col-md-12">
            <div class="form-group">
                <label for="email">  {{ 'LOGIN.Email' | translate }}</label>
                <input type="text" formControlName="email" class="form-control" placeholder="{{ 'LOGIN.Email' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ 'LOGIN.Email is required' | translate }}</div>
                    <div *ngIf="f.email.errors.email"> {{ 'LOGIN.Email must be a valid email address' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="password">{{ 'LOGIN.password' | translate }}</label>
                <input type="password" formControlName="password" placeholder="{{ 'LOGIN.password' | translate }}"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{ 'LOGIN.password is required' | translate }}</div>
                    <div *ngIf="f.password.errors.minlength">{{ 'LOGIN.Password characters' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group ">
                <label>{{ 'USERMANAGMENT.Confirm Password' | translate }}</label>
                <input type="password" formControlName="password_confirmation"
                    class="form-control" placeholder="{{ 'USERMANAGMENT.Confirm Password' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
                <div *ngIf="submitted && f.password_confirmation.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.password_confirmation.errors.required">{{ 'REGISTER.Confirm required' | translate }}
                        </div>
                    <div *ngIf="f.password_confirmation.errors.mustMatch">{{ 'REGISTER.Passwords must match' | translate }}</div>
                </div>
            </div>
        </div>
          
  
  
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>

  <ng-template #contentAdmin let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'USERMANAGMENT.Add Admin' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="userForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="first_name"> {{ 'USERMANAGMENT.name' | translate }}</label>
              <input type="text" formControlName="first_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
              <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">{{ 'USERMANAGMENT.name is required' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="mobile"> {{ 'USERMANAGMENT.mobile' | translate }}</label>
              <input type="text" formControlName="mobile" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">{{ 'USERMANAGMENT.mobile is required' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
                <label for="email">  {{ 'LOGIN.Email' | translate }}</label>
                <input type="text" formControlName="email" class="form-control" placeholder="{{ 'LOGIN.Email' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ 'LOGIN.Email is required' | translate }}</div>
                    <div *ngIf="f.email.errors.email"> {{ 'LOGIN.Email must be a valid email address' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="password">{{ 'LOGIN.password' | translate }}</label>
                <input type="password" formControlName="password" placeholder="{{ 'LOGIN.password' | translate }}"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{ 'LOGIN.password is required' | translate }}</div>
                    <div *ngIf="f.password.errors.minlength">{{ 'LOGIN.Password characters' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group ">
                <label>{{ 'USERMANAGMENT.Confirm Password' | translate }}</label>
                <input type="password" formControlName="password_confirmation"
                    class="form-control" placeholder="{{ 'USERMANAGMENT.Confirm Password' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
                <div *ngIf="submitted && f.password_confirmation.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.password_confirmation.errors.required">{{ 'REGISTER.Confirm required' | translate }}
                        </div>
                    <div *ngIf="f.password_confirmation.errors.mustMatch">{{ 'REGISTER.Passwords must match' | translate }}</div>
                </div>
            </div>
        </div>
          
  
  
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>

  <ng-template #assignTeacher let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'USERMANAGMENT.assign teacher' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="assignForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group "> 
               
                <label>{{ 'USERMANAGMENT.class_id' | translate }} </label>
                <select  formControlName="class_id" class="form-control"
               
                    [ngClass]="{ 'is-invalid': submitted && g.class_id.errors }">
                    <option selected value="" disabled>
                        {{ 'USERMANAGMENT.class_id' | translate }}</option>
                    <option *ngFor="let item of allClass" [value]="item.id">{{item.name}}</option>

                </select>
                <div *ngIf="submitted && g.class_id.errors" class="invalid-feedback">
                    <div *ngIf="g.class_id.errors.required">
                        {{ 'USERMANAGMENT.class_id is required' | translate }}</div>
                </div>
            </div>
        </div>
          
  
  
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>

  
  <ng-template #editUser let-modal>
    <div class="modal-header">
      <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'USERMANAGMENT.edit' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="userForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
        <div class="col-md-12">
          <div class="form-group">
            <label for="first_name"> {{ 'USERMANAGMENT.name' | translate }}</label>
            <input type="text" formControlName="first_name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
            <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
              <div *ngIf="f.first_name.errors.required">{{ 'USERMANAGMENT.name is required' | translate }}</div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="mobile"> {{ 'USERMANAGMENT.mobile' | translate }}</label>
            <input type="text" formControlName="mobile" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">{{ 'USERMANAGMENT.mobile is required' | translate }}</div>
            </div>
          </div>
        </div>
        
      </form>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  
  
  <ng-template #deleteUser let-modal>
    <div class="modal-header">
      <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
  
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
          <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>

  <ng-template #contentGuardian  let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'USERMANAGMENT.add Guardian' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addUser" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="first_name"> {{ 'REGISTRATION-DETAILS.first_name' | translate }}</label>
              <input type="text" formControlName="first_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && r.first_name.errors }" />
              <div *ngIf="submitted && r.first_name.errors" class="invalid-feedback">
                <div *ngIf="r.first_name.errors.required">{{ 'REGISTRATION-DETAILS.first_name' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="Middle_name"> {{ 'REGISTRATION-DETAILS.Middle_name' | translate }}</label>
              <input type="text" formControlName="Middle_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && r.Middle_name.errors }" />
              <div *ngIf="submitted && r.Middle_name.errors" class="invalid-feedback">
                <div *ngIf="r.Middle_name.errors.required">{{ 'REGISTRATION-DETAILS.Middle_name' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="last_name"> {{ 'REGISTRATION-DETAILS.last_name' | translate }}</label>
              <input type="text" formControlName="last_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && r.last_name.errors }" />
              <div *ngIf="submitted && r.last_name.errors" class="invalid-feedback">
                <div *ngIf="r.last_name.errors.required">{{ 'REGISTRATION-DETAILS.last_name' | translate }}</div>
              </div>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="mobile"> {{ 'USERMANAGMENT.mobile' | translate }}</label>
              <input type="text" formControlName="mobile" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && r.mobile.errors }" />
              <div *ngIf="submitted && r.mobile.errors" class="invalid-feedback">
                <div *ngIf="r.mobile.errors.required">{{ 'USERMANAGMENT.mobile is required' | translate }}</div>
              </div>
            </div>
          </div>
         
         
         
          
          <div class="col-md-12">
            <div class="form-group">
                <label for="email">  {{ 'LOGIN.Email' | translate }}</label>
                <input type="text" formControlName="email" class="form-control" placeholder="{{ 'LOGIN.Email' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && r.email.errors }" />
                <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
                    <div *ngIf="r.email.errors.required">{{ 'LOGIN.Email is required' | translate }}</div>
                    <div *ngIf="r.email.errors.email"> {{ 'LOGIN.Email must be a valid email address' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="password">{{ 'LOGIN.password' | translate }}</label>
                <input type="password" formControlName="password" placeholder="{{ 'LOGIN.password' | translate }}"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && r.password.errors }" />
                <div *ngIf="submitted && r.password.errors" class="invalid-feedback">
                    <div *ngIf="r.password.errors.required">{{ 'LOGIN.password is required' | translate }}</div>
                    <div *ngIf="r.password.errors.minlength">{{ 'LOGIN.Password characters' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group ">
                <label>{{ 'USERMANAGMENT.Confirm Password' | translate }}</label>
                <input type="password" formControlName="password_confirmation"
                    class="form-control" placeholder="{{ 'USERMANAGMENT.Confirm Password' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && r.password_confirmation.errors }" />
                <div *ngIf="submitted && r.password_confirmation.errors"
                    class="invalid-feedback">
                    <div *ngIf="r.password_confirmation.errors.required">{{ 'REGISTER.Confirm required' | translate }}
                        </div>
                    <div *ngIf="r.password_confirmation.errors.mustMatch">{{ 'REGISTER.Passwords must match' | translate }}</div>
                </div>
            </div>
        </div>
          
  
  
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>