
<div class="row">
    <div class="col-md-12" >
  
      <h4 class="card-title font-weight-bolder"> {{ 'BILL.Invoice' | translate }} </h4>
      <a (click)="goBack()"  class="text-secondary"><i class="fas fa-chevron-left"></i>
        {{ 'BILL.All Bills' | translate }}
      </a>
      <div class="ar">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <button style="background: transparent; border: 0;" printSectionId="print-sectionx" ngxPrint><i
              class="fas fa-print"></i> {{ 'REGISTRATION-DETAILS.Print' | translate }}</button>
             
        
         
          <div id="print-sectionx">
            <div class="card-box card-box px-4 p-3 mt-3" style="direction: rtl;">
              <div class="row">
                <div class="col-lg-12">
                    <div class=" wrapper-content animated fadeInRight">
                        <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 style="display: inline-block;">{{company_name}}</h4>  <img style=" max-height: 4em;
                                        margin: .5em;display: inline-block;" class="img-fluid" [src]="invoicelogo" alt="">
                                        <h5>{{ 'BILL.From' | translate }}:</h5>
                                        
                                        <address >
                                            <strong>{{ 'BILL.company_name' | translate }} : </strong><strong>{{company_name}}</strong><br>
                                            <strong>{{ 'BILL.address' | translate }} : </strong><strong>{{address}}</strong><br>
                                            <strong>{{ 'BILL.city' | translate }} : </strong> {{city}} - {{zip_code}}<br>
                                            <!-- <strong>{{ 'BILL.zip_code' | translate }} : </strong> <p style=" margin: 0;  display: inline-block; ">{{zip_code}}</p><br> -->
                                            <strong>{{ 'BILL.email' | translate }} : </strong> {{email}}<br> 
                                            <strong>{{ 'BILL.phone' | translate }} : </strong> {{phone}}<br>
                                            <strong>{{ 'BILL.registration_number' | translate }} : </strong> {{registration_number}}<br>
                                            
                                            <!-- <abbr title="Phone">P:</abbr> (120) 9000-4321 -->
                                        </address>
                                        <h5>{{ 'BILL.To' | translate }}:</h5>
                                        
                                        <address *ngIf="children">
                                            <strong>{{ 'BILL.clientName' | translate }} : </strong><strong>{{parent.first_name}} </strong><br>
                                            <!-- <strong>{{ 'BILL.clienLevel' | translate }} : </strong> {{children.level}}<br> -->
                                            <strong>{{ 'BILL.address' | translate }} : </strong> {{parent.address}}<br>
                                            <strong>{{ 'BILL.phone' | translate }} : </strong> {{parent.mobile}}<br>
                                            <strong>{{ 'BILL.email' | translate }} : </strong> {{parent.email}}<br>
                                        </address>
                                        
                                    </div>
    
                                    <div class="col-sm-6 text-right">
                                        <h4 class="my-0">{{ 'BILL.InvoiceNo' | translate }}</h4>
                                        <h4 *ngIf="serial" class="text-primary mt-0">{{serial}}</h4>
                                        <!-- <span> {{ 'BILL.To' | translate }}</span> -->
                                        
                                        <p>
                                            <span><strong>{{ 'BILL.due_monthInvoice' | translate }}</strong> {{invoice.payment_date | slice:0:11 }}</span><br>
                                            <span><strong>{{ 'BILL.payment_dateInvoice' | translate }}</strong> {{invoice.due_month}}</span>
                                        </p>
                                    </div>
                                </div>
    
                                <div class="table-responsive m-t">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'BILL.Item' | translate }}</th>
                                            <th>{{ 'BILL.unitPrice' | translate }}</th>
                                            <th>{{ 'BILL.quantityInvoice' | translate }}</th>
                                            <th>{{ 'BILL.is_vat_include' | translate }}</th>
                                            
                                            
                                            <th>{{ 'BILL.TaxRate' | translate }}</th>
                                            <th>{{ 'BILL.valueTax' | translate }}</th>
                                            
                                            <!-- *ngIf="discount_percent  != '0' && discount_value  != '0'" -->
                                            <th *ngIf="discountPercentToValue  != '0' ">{{ 'BILL.Discount' | translate }}</th>
                                            <th>{{ 'BILL.Total Price' | translate }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td ><span *ngIf="InvoiceName; else no"><div *ngIf="InvoiceName"><strong>{{InvoiceName}}</strong>
                                            
                                            </div></span> 
                                                <ng-template #no> {{ 'REGISTRATION-DETAILS.Other' | translate }}</ng-template>
                                                <div class="text-muted">{{descriptionPlan}}</div>
                                            </td>                        
                                            <td> SR {{amount}} </td>   
                                            <td>{{invoice.quantity}}</td>
                                            <td> <span *ngIf="is_vat_included==1;else noContent">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                                                <ng-template #noContent> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                                              </td>                 
                                            
                                            <td>% {{vat}}</td>
                                            <td>{{valueTax}}</td>
                                           
                                            <td  *ngIf="discountPercentToValue  != '0' ">
                                                <div *ngIf="discount_percent != '0'">
                                                    {{discountPercentToValue}} SR
                                                </div>
                                                <div *ngIf="discount_value  != '0'">
                                                    {{discount_value}} SR
                                                </div>
                                                <div *ngIf="discount_value == 0 &&  discount_percent == 0">
                                                   0
                                                </div>
                                            </td>

                                           
                                           
                                            <td>SR {{totalPrice}} </td>
                                        </tr>
                                     
    
                                        </tbody>
                                    </table>
                                </div><!-- /table-responsive -->

                             <div class="row">
                                 <div class="col-md-6">
                                    <div class="well m-t"><strong>ملاحظه</strong>
                                    
                                        {{ 'BILL.noteDescription' | translate }}
                                        <br>
                                        اسم الحساب:
                                        <br>
                                        رقم الIBAN :
                                        <br>
                                        {{ 'BILL.noteDescription2' | translate }}
                                       <br>
                                        finance@kidsTent.com
                                        
                                    </div>
                                 </div>
                                 <div class="col-md-6 col-md-6 text-right">
                                    <!-- <span *ngIf="description">
                                        <strong>{{ 'PLAN.description' | translate }} : </strong><strong>{{description}} </strong><br>
                                       </span> -->
                                       <strong>{{ 'BILL.Subtotal' | translate }} : </strong> {{amount}}<br>
                                       <strong>{{ 'BILL.valueTax' | translate }} : </strong> {{valueTax}}<br>
                                       <span *ngIf="discountPercentToValue  != '0' "><strong>{{ 'BILL.Discount' | translate }} : </strong> <td  *ngIf="discountPercentToValue  != '0' ">
                                        <div *ngIf="discount_percent != '0'">
                                            {{discountPercentToValue}} SR
                                        </div>
                                        <div *ngIf="discount_value  != '0'">
                                            {{discount_value}} SR
                                        </div>
                                        <div *ngIf="discount_value == 0 &&  discount_percent == 0">
                                           0
                                        </div>
                                    </td><br></span>
                                       <strong>{{ 'BILL.Total Price' | translate }} : </strong> <strong>{{totalPrice}} SR</strong><br>
                                       
                                 </div>
                             </div>
                               
    
                                
                            </div>
                    </div>
                </div>
              </div>
  
            </div>
           
          </div>
          <div class="row">
              <div class="col-md-7">
                <div class="">
                    <button *ngIf="removePaidBtn" class="btn btn-primary pull-left" (click)="paidInvoice()"><i class="fa fa-dollar"></i> 
                        {{ 'BILL.Paid' | translate }}
                    </button>
                </div>
              </div>
          </div>

         
  
        </div>
  
      </div>
    </div>
    </div>
  
  </div>

  
  