/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
:root {
    --primary-color: #fff;
    --background-color: #e5e5e5;
    --text-color: #2d2d2d;
  }
  
  .btn-primary {
    background-color: var(--background-color);
    color: var(--text-color);
   
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
    background-color: var(--background-color) !important;
   opacity: .7;
}
  
.ar
{
    text-align: right !important;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}
.ar .fa-arrow-right
        {
            transform: rotate(180deg);
        }
.ar .sidebar .nav li > a{
    font-size: 15px;
}
.ar .navbar .navbar-collapse .nav-item a {
    font-size: 16px;
}

.ar .sidebar, .ar .off-canvas-sidebar
{
    left: auto;
    right: 0;
}
.ar .main-panel {
    position: relative;
    float: left;
}  
.ar .nav i, .ar .off-canvas-sidebar .nav i {
    float: right;
} 
 
.ar .nav {
    padding-right: 0;
}   
.ar  .sidebar .nav .caret, .ar .off-canvas-sidebar .nav .caret {
    left: 10px;
    right: auto;
}
.ar  .float-right {
            float: left!important;
        }
        .ar  .table {
           
            direction: rtl;
        }
        .ar  .form-control
        {
            text-align: right;
        }
        .ar .col-1, .ar .col-2,.ar  .col-3,.ar  .col-4,.ar  .col-5,.ar  .col-6,.ar  .col-7,.ar  .col-8, .ar .col-9, .ar .col-10,.ar  .col-11,.ar  .col-12, .ar .col, .ar .col-auto, .ar .col-sm-1,.ar  .col-sm-2,.ar  .col-sm-3,.ar  .col-sm-4, .ar .col-sm-5,.ar  .col-sm-6,.ar  .col-sm-7,.ar  .col-sm-8,.ar  .col-sm-9, .ar .col-sm-10,.ar  .col-sm-11,.ar  .col-sm-12,.ar  .col-sm, .ar .col-sm-auto,.ar  .col-md-1, .ar .col-md-2,.ar  .col-md-3,.ar  .col-md-4,.ar  .col-md-5,.ar  .col-md-6,.ar  .col-md-7, .ar .col-md-8,.ar  .col-md-9, .ar .col-md-10, .ar .col-md-11, .ar .col-md-12,.ar  .col-md, .ar .col-md-auto,.ar  .col-lg-1, .ar .col-lg-2,.ar  .col-lg-3, .ar .col-lg-4, .ar .col-lg-5, .ar .col-lg-6,.ar  .col-lg-7,.ar  .col-lg-8,.ar  .col-lg-9, .ar .col-lg-10,.ar  .col-lg-11,.ar  .col-lg-12, .ar .col-lg, .ar .col-lg-auto, .ar .col-xl-1,.ar  .col-xl-2,.ar  .col-xl-3, .ar .col-xl-4, .ar .col-xl-5,.ar  .col-xl-6, .ar .col-xl-7, .ar .col-xl-8, .ar .col-xl-9, .ar .col-xl-10,.ar  .col-xl-11,.ar  .col-xl-12,.ar  .col-xl, .ar .col-xl-auto {
            direction: rtl;
        }
        .ar  .form-check {
            padding-right: 1.25rem;
        }
        
        .ar .form-check .form-check-sign
            {
                position: absolute;
                right: -2px;
            }
        .ar .form-check-input {
            margin-right: -1.25rem;
        }
        .ar .pull-right {
            float: left;
        }
        .ar .radioPlan .form-check-input {
            margin-right: 0.25rem 
        }
        .mat-select-trigger
        {
            text-align: right;
        }
        .ar .dropdown-menu.show {
            direction: ltr;
        }
        .ar  .svg-inline--fa.fa-arrow-right.fa-w-14
        {
            transform: rotate(180deg);
        }
        .ar .modal-header .close {
            padding: 1rem 1rem;
            margin: -1rem auto -1rem -1rem;
        }
        .ar .offset-md-2 {
            margin-right: 16.666667%;
        }
        .ar .fa-chevron-left{
            transform: rotate(180deg);
        }
    
        @media screen and (min-width: 992px)
        {
            .ar .sidebar .sidebar-wrapper li.active > a:not([data-toggle=collapse]):before, .ar  .sidebar .sidebar-wrapper li.active > [data-toggle=collapse] + div .nav li:before {
                border-left: 17px solid #DDDDDD;
                left: -16px;
            } 
            .ar .footer .copyright {
                float: left;
                padding-right: 15px;
            }
            .ar .sidebar .sidebar-wrapper li.active > a:not([data-toggle=collapse]):after
            {
                border-left: 17px solid #f4f3ef;
                left: -15px;
            }
        }
        @media screen and (max-width: 991px)
        {
            .ar .sidebar, .ar.bootstrap-navbar
            {
                right: auto;
                left: 0;
            }
            .ar .navbar.navbar-absolute {
                direction: ltr;
            }
        }
        @media (min-width: 768px)
        {
            .ar .offset-md-3 {
                margin-right: 25%;
                margin-left: 0;
            }
            .ar .offset-md-9 {
                margin-right: 75%;
            }
            .ar .offset-md-7 {
                margin-right: 58.333333%;
            }
        }

    