<div class="row">
    <div class="col-md-12">

        <h4 class="card-title font-weight-bolder"> {{ 'REGISTRATION-DETAILS.Add Plan' | translate }} </h4>
        <a routerLink="/application/{{applicationId}}"  class="text-secondary"><i class="fas fa-chevron-left"></i>
            {{ 'REGISTRATION-DETAILS.Details' | translate }}
        </a>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                
                    <div class="card-box px-4 p-3 mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <form [formGroup]="assignForm" (ngSubmit)="onSubmit()" class="register-form">

                                    <div class="card-sign pb-2">
                                        
            
                                        <div class="header-title">
                                         
                                            <h4 class="px-3"> {{ 'PLAN.Assign Payment Plan to Application' | translate }} </h4>
                                            <hr>
                                        </div>
                                        <div class="row p-3">
                                           
                                           
                                            <div class="col-md-12">
                                                <div class="form-group "> 
                                                   
                                                    <label>{{ 'PLAN.Select Plan' | translate }} </label>
                                                    <select  formControlName="plan" class="form-control"
                                                   
                                                        [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">
                                                        <option selected value="" disabled>
                                                            {{ 'PLAN.plans' | translate }}</option>
                                                        <option *ngFor="let item of plans" [value]="item.id">{{item.name}}</option>
            
                                                    </select>
                                                    <div *ngIf="submitted && f.plan.errors" class="invalid-feedback">
                                                        <div *ngIf="f.plan.errors.required">
                                                            {{ 'PLAN.Select Plan is required' | translate }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Date">{{ 'PLAN.plan_start_date' | translate }}</label>
            
             
                                                    <input [minDate]="{year: 1980, month: 1, day: 1}"
                                                       type="text"
                                                        formControlName="date" placeholder="YYYY-MM-DD "
                                                        class="form-control BrithDate" ngbDatepicker #d="ngbDatepicker"
                                                        (click)="d.toggle()"
                                                        [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                                        <div *ngIf="f.date.errors.required">
                                                            {{ 'PLAN.Date is required' | translate }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                           
                                        </div>
                                    </div>
            
                                    <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary  mb-5">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                                            {{ 'BUTTON.Save' | translate }} <i class="fas fa-arrow-right"></i>
                                        </button>
            
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

        </div>

    </div>

</div>