<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title font-weight-bold"> {{ 'WAITING.waiting' | translate }} </h4>
            </div>
            <div class="row">
                <div class="col-md-11">
                  <button class="btn btn-primary pull-right my-4" (click)="open(content)"> {{ 'WAITING.Add WAITING' | translate }}</button>
                </div>
              </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'WAITING.child_name' | translate }}</th>
                                <th>{{ 'WAITING.parent_name' | translate }}</th>
                                
                                <th>{{ 'WAITING.email' | translate }}</th>
                                <th>{{ 'WAITING.mobile' | translate }}</th>
                                <th>{{ 'WAITING.level_id' | translate }}</th>
                                <th>{{ 'WAITING.description' | translate }}</th>
                                <th>{{ 'STUDENTS.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr *ngFor="let item of Watting ; let i = index">
                                <td>{{item.child_name}}</td>
                                <td>{{item.parent_name}}</td>
                                
                                <td>{{item.email}}</td>
                                <td>{{item.mobile}}</td>
                                <td>{{item.level.name}}</td>
                                <td>{{item.description}}</td>
                                <td> 
                                    <button class="btn  btn-warning p-2 mx-2" data-toggle="tooltip" title="Edit"
                                        (click)="edit(editQuestion ,item.id  )">
                                        <i class="fas fa-pen-square"></i>
                                    </button>
                                    <button class="btn  btn-danger p-2 mx-2" data-toggle="tooltip" title="Delete"
                                        (click)="delete(deleteUser ,item.id  )">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="pagination.total"
                    [(pageSize)]="pagination.per_page" [(page)]="page" [maxSize]="7" [rotate]="true"
                    (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>

</div>
 <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ 'WAITING.Add WAITING' | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <form [formGroup]="addForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="parent_name"> {{ 'WAITING.parent_name' | translate }}</label>
                    <input type="text" formControlName="parent_name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.parent_name.errors }" />
                    <div *ngIf="submitted && f.parent_name.errors" class="invalid-feedback">
                        <div *ngIf="f.parent_name.errors.required">{{ 'WAITING.parent_name is required' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="child_name"> {{ 'WAITING.child_name' | translate }}</label>
                    <input type="text" formControlName="child_name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.child_name.errors }" />
                    <div *ngIf="submitted && f.child_name.errors" class="invalid-feedback">
                        <div *ngIf="f.child_name.errors.required">{{ 'WAITING.child_name is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="mobile"> {{ 'WAITING.mobile' | translate }}</label>
                    <input type="text" formControlName="mobile" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">{{ 'WAITING.mobile is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="email">  {{ 'LOGIN.Email' | translate }}</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="{{ 'LOGIN.Email' | translate }}"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">{{ 'LOGIN.Email is required' | translate }}</div>
                        <div *ngIf="f.email.errors.email"> {{ 'LOGIN.Email must be a valid email address' | translate }}</div>
                    </div>
                </div>
    
            </div>
            <!-- <div class="col-md-12">
                <div class="form-group ">
                  <label>{{ 'REGISTRATION.branch' | translate }} </label>
                  <select (change)="selectBranch($event)" formControlName="branch" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.branch.errors }">
                    <option selected value="all">{{ 'REGISTRATION.branch' | translate }}</option>
                    <option *ngFor="let item of branch" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div> -->
            <div class="col-md-12">
                <div class="form-group "> 
                   
                    <label>{{ 'WAITING.level_id' | translate }} </label>
                    <select  formControlName="level_id" class="form-control"
                   
                        [ngClass]="{ 'is-invalid': submitted && f.level_id.errors }">
                        <option selected value="" disabled>
                            {{ 'WAITING.level_id' | translate }}</option>
                        <option *ngFor="let item of level" [value]="item.level_id">{{item.name}}</option>

                    </select>
                    <div *ngIf="submitted && f.level_id.errors" class="invalid-feedback">
                        <div *ngIf="f.level_id.errors.required">
                            {{ 'WAITING.level is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">{{ 'WAITING.description' | translate }}</label>
                    <textarea class="form-control" rows="5" id="comment" formControlName="description"
                        placeholder="{{ 'WAITING.description' | translate }}" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>

                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">
                            {{ 'WAITING.description  is required' | translate }}</div>
                    </div>
                </div>
            </div>





        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>

<ng-template #deleteUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
                <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>

<ng-template #editQuestion let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'WAITING.edit WAITING' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="editForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="parent_name"> {{ 'WAITING.parent_name' | translate }}</label>
                    <input type="text" formControlName="parent_name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.parent_name.errors }" />
                    <div *ngIf="submitted && e.parent_name.errors" class="invalid-feedback">
                        <div *ngIf="e.parent_name.errors.required">{{ 'WAITING.parent_name is required' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="child_name"> {{ 'WAITING.child_name' | translate }}</label>
                    <input type="text" formControlName="child_name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.child_name.errors }" />
                    <div *ngIf="submitted && e.child_name.errors" class="invalid-feedback">
                        <div *ngIf="e.child_name.errors.required">{{ 'WAITING.child_name is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="mobile"> {{ 'WAITING.mobile' | translate }}</label>
                    <input type="text" formControlName="mobile" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.mobile.errors }" />
                    <div *ngIf="submitted && e.mobile.errors" class="invalid-feedback">
                        <div *ngIf="e.mobile.errors.required">{{ 'WAITING.mobile is required' | translate }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="email">  {{ 'LOGIN.Email' | translate }}</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="{{ 'LOGIN.Email' | translate }}"
                        [ngClass]="{ 'is-invalid': submitted && e.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="e.email.errors.required">{{ 'LOGIN.Email is required' | translate }}</div>
                        <div *ngIf="e.email.errors.email"> {{ 'LOGIN.Email must be a valid email address' | translate }}</div>
                    </div>
                </div>
    
            </div>
            <!-- <div class="col-md-12">
                <div class="form-group ">
                  <label>{{ 'REGISTRATION.branch' | translate }} </label>
                  <select (change)="selectBranch($event)" formControlName="branch" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.branch.errors }">
                    <option selected value="all">{{ 'REGISTRATION.branch' | translate }}</option>
                    <option *ngFor="let item of branch" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div> -->
            <div class="col-md-12">
                <div class="form-group "> 
                   
                    <label>{{ 'WAITING.level_id' | translate }} </label>
                    <select  formControlName="level_id" class="form-control"
                   
                        [ngClass]="{ 'is-invalid': submitted && e.level_id.errors }">
                        <option selected value="" disabled>
                            {{ 'WAITING.level_id' | translate }}</option>
                        <option *ngFor="let item of level" [value]="item.level_id">{{item.name}}</option>

                    </select>
                    <div *ngIf="submitted && e.level_id.errors" class="invalid-feedback">
                        <div *ngIf="e.level_id.errors.required">
                            {{ 'WAITING.level is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">{{ 'WAITING.description' | translate }}</label>
                    <textarea class="form-control" rows="5" id="comment" formControlName="description"
                        placeholder="{{ 'WAITING.description' | translate }}" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.description.errors }"></textarea>

                    <div *ngIf="submitted && e.description.errors" class="invalid-feedback">
                        <div *ngIf="e.description.errors.required">
                            {{ 'WAITING.description  is required' | translate }}</div>
                    </div>
                </div>
            </div>





        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 