
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title font-weight-bold">  {{ 'DASHBOARD.Statistics' | translate }} </h4>
      </div>
      <div class="row">
        <div class="col-md-5 offset-md-7">
          <form [formGroup]="branchForm" (ngSubmit)="onSubmit()" class="register-form">

            <div class="row p-3">

              <div class="col-md-8">
                <div class="form-group ">
                  <label>{{ 'REGISTRATION.branch' | translate }} </label>
                  <select formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <option selected value="all">{{ 'REGISTRATION.all' | translate }}</option>
                    <option *ngFor="let item of branch" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
             
              <div class="col-md-4">
                <div class="form-group mt-4">
                  <button [disabled]="loading" class="btn btn-primary btn-block mb-5">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                    {{ 'BUTTON.Search' | translate }} <i class="fas fa-arrow-right"></i>
                  </button>

                </div>
              </div>




            </div>


          </form>
         </div>
      </div>
    </div>
  </div>
</div>      

<div class="row mt-4">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-success">
              <i class="fas fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <p class="card-title">{{statistics.active_student}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> {{ 'DASHBOARD.active_student' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-danger">
              <i class="fas fa-user-slash text-danger"></i>
              
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <p class="card-title">{{statistics.pending_student}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> {{ 'DASHBOARD.pending_student' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-school text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <p class="card-title">{{statistics.branch}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> {{ 'REGISTRATION.branch' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-primary">
              <i class="fas fa-chalkboard-teacher text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <p class="card-title">{{statistics.teachers}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>{{ 'DASHBOARD.teachers' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 ">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-clipboard-list text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <p class="card-title">{{statistics.capacity.enroll}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>{{ 'DASHBOARD.enroll' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-fill text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <p class="card-title">{{statistics.capacity.capacity}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>{{ 'DASHBOARD.capacity' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center text-success">
              <i class="fas fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'DASHBOARD.total' | translate }}</p>
              <!-- <p class="card-title">{{statistics.customer_count}}<p> -->
              <p class="card-title">{{statistics.active_student}}<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>{{ 'DASHBOARD.customer_count' | translate }}
          
        </div>
      </div>
    </div>
  </div>
</div>

