<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title font-weight-bold"> {{ 'LISTS.lists' | translate }} </h4>
                <!-- <a [routerLink]="['/Email_level']" class="text-secondary"><i class="fas fa-chevron-left"></i>
                    {{ 'LEVEL.All Levels' | translate }}
                  </a> -->
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    <div class="row p-3">

                        <div class="col-md-11 text-center pull-right">
                            
                            <button class="btn btn-primary pull-right my-4" (click)="addFormlist(AddList)">
                                {{ 'LISTS.Add list' | translate }}</button>
                             <!-- <a routerLink="/AllList" class="btn btn-success pull-right my-4" >
                                    {{ 'LISTS.Show All List' | translate }}</a>  -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'LISTS.index' | translate }}</th>
                                <th>{{ 'STUDENTS.Name' | translate }}</th>
                               
                                <th>{{ 'STUDENTS.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Lists ; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <button class="btn  btn-warning p-2 mx-1" data-toggle="tooltip" title="Edit list"
                                        (click)="editListForm(editForm ,item.id  )">
                                        <i class="fas fa-pen-square"></i>
                                    </button>
                                    <a routerLink="/ListDetails/{{item.id}}" class="btn  btn-info p-2 mx-1"
                                        data-toggle="tooltip" title="show list">
                                        <i class="fas fa-eye"></i>
                                      </a>
                                    <button class="btn  btn-danger p-2 mx-1" data-toggle="tooltip" title="Delete list"
                                        (click)="delete(deleteUser , item.id  )">
                                        <i class="fas fa-trash"></i>
                                    </button>


                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- <ngb-pagination class="d-flex justify-content-center" [(collectionSize)]="total" [(pageSize)]="per_page" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination> -->

            </div>
        </div>
    </div>

</div>
<ng-template #AddList let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{ 'LISTS.Add list' | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <form [formGroup]="addFormLists" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'STUDENTS.Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && k.name.errors }" />
                        <div *ngIf="submitted && k.name.errors" class="invalid-feedback">
                            <div *ngIf="k.name.errors.required">{{ 'EMAIL.name is required' | translate }}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="col-md-12">
                    <div class="form-group">
                        <label for="subject"> {{ 'EMAIL.Subject' | translate }}</label>
                        <input type="text" formControlName="subject" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && k.subject.errors }" />
                        <div *ngIf="submitted && k.subject.errors" class="invalid-feedback">
                            <div *ngIf="k.subject.errors.required">{{ 'Email.subject is required' | translate }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="body"> {{ 'EMAIL.body' | translate }}</label>
                        <textarea formControlName="body" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && k.body.errors }" class="form-control"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                        <div *ngIf="submitted && k.body.errors" class="invalid-feedback">
                            <div *ngIf="k.body.errors.required">{{ 'Email.body is required' | translate }}
                            </div>
                        </div>
                    </div>

                </div> -->

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>
<ng-template #editForm let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{ 'LISTS.edit list' | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <form [formGroup]="editList" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name"> {{ 'STUDENTS.Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && e.name.errors }" />
                        <div *ngIf="submitted && e.name.errors" class="invalid-feedback">
                            <div *ngIf="e.name.errors.required">{{ 'Email.name is required' | translate }}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="col-md-12">
                <div class="form-group">
                    <label for="subject"> {{ 'EMAIL.Subject' | translate }}</label>
                    <input type="text" formControlName="subject" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && e.subject.errors }" />
                    <div *ngIf="submitted && e.subject.errors" class="invalid-feedback">
                        <div *ngIf="e.subject.errors.required">{{ 'Email.subject is required' | translate }}
                        </div>
                    </div>
                </div>

            </div> -->
               

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>
<ng-template #deleteUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
                <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EMAIL.Email Details' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">{{ 'STUDENTS.Name' | translate }}</div>
            <div class="col-md-9 text-muted">{{formDetails.name}}</div>
            <div class="col-md-3">{{ 'EMAIL.Subject' | translate }}</div>
            <div class="col-md-9 text-muted">{{formDetails.subject}}</div>
            <div class="col-md-3">{{ 'EMAIL.body' | translate }}</div>
            <div class="col-md-9 text-muted">{{formDetails.body}}</div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"
            (click)="modal.close('cancel')">{{ 'BUTTON.cancel' | translate }}</button>
    </div>
</ng-template>