<footer class="footer">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
            {{ 'FOOTER.© All right reserved 2020' | translate }}
        </div>
    </div>
</footer>
