<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title font-weight-bold"> {{ 'FAQ.FAQ' | translate }} </h4>
      </div>
      <div class="row">
        <div class="col-md-11">
          <button class="btn btn-primary pull-right" (click)="open(content)"> {{ 'FAQ.Add Question' | translate }}</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mt-4" *ngFor="let item of FAQ">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title><strong>{{ 'FAQ.question' | translate }}</strong> : {{item.question}}</mat-card-title>
                <br> <mat-card-title><strong>{{ 'FAQ.ar_question' | translate }}</strong> : {{item.ar_question}}</mat-card-title>
              </mat-card-header>
              
              <mat-card-content>
                <br> <br>
                <p *ngFor="let answer of item.answers">  
                  <strong>{{ 'FAQ.answer' | translate }}</strong> : {{answer.answer | slice:0:150}}<br>
                  <strong>{{ 'FAQ.ar_answer' | translate }}</strong> : {{answer.ar_answer | slice:0:150 }}
                </p>
              </mat-card-content>
              <mat-card-actions>

                <!-- <button mat-raised-button color="accent">Edit</button> -->
                <span *ngFor="let answer of item.answers">
                <button mat-raised-button color="warn"
                  (click)="delete(deleteTime , item.id , answer.id)">{{ 'FAQ.Delete' | translate }}</button>
                  </span>
                <button *ngIf="item.answers == '' " mat-raised-button color="primary"
                  (click)="addAnswer(aAnswer , item.id)">{{ 'FAQ.Add answer' | translate }}</button>
              </mat-card-actions>
            
            </mat-card>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{ 'FAQ.Add Question' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      
      <form [formGroup]="questionForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

        <div class="col-md-12">
          <div class="form-group">
            <label for="question"> {{ 'FAQ.question' | translate }}</label>
            <input type="text" formControlName="question" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.question.errors }" />
            <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
              <div *ngIf="f.question.errors.required">{{ 'FAQ.question is required' | translate }}</div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="ar_question"> {{ 'FAQ.ar_question' | translate }}</label>
            <input type="text" formControlName="ar_question" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ar_question.errors }" />
            <div *ngIf="submitted && f.ar_question.errors" class="invalid-feedback">
              <div *ngIf="f.ar_question.errors.required">{{ 'FAQ.question is required' | translate }}</div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>
<ng-template #aAnswer let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{ 'FAQ.Add answer' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      
      <form [formGroup]="answerForm" style="width: 100%;" (ngSubmit)="onSubmit()" class="register-form">

        <div class="col-md-12">
          <div class="form-group">
            <label for="answer"> {{ 'FAQ.answer' | translate }}</label>
            <input type="text" formControlName="answer" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.answer.errors }" />
            <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
              <div *ngIf="f.answer.errors.required">{{ 'FAQ.answer is required' | translate }}</div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="ar_answer"> {{ 'FAQ.ar_answer' | translate }}</label>
            <input type="text" formControlName="ar_answer" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ar_answer.errors }" />
            <div *ngIf="submitted && f.ar_answer.errors" class="invalid-feedback">
              <div *ngIf="f.ar_answer.errors.required">{{ 'FAQ.answer is required' | translate }}</div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('Save click')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>




<ng-template #deleteTime let-modal>
  <div class="modal-header">
    <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
        <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
  </div>
</ng-template>