<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> {{ 'PLAN.All PLAN' | translate }}</h4>
        </div>
        <div class="row">
          <div class="col-md-11">
            <button  (click)="addPlan(addnewPlan)" class="btn btn-primary pull-right">{{ 'PLAN.add Plan' | translate }} </button>
            <!-- <button  (click)="addVAT(addnewVAT)" class="btn btn-primary pull-right">{{ 'PLAN.Edit VAT' | translate }} </button> -->
 
        </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
               
                <th>  {{ 'PLAN.name' | translate }}</th>
                <th> {{ 'PLAN.amount' | translate }}</th>
                <th> {{ 'PLAN.discount_value' | translate }}</th>
                <th>{{ 'PLAN.discount_percent' | translate }} </th>
                <th> {{ 'PLAN.repetation' | translate }}</th>
                <th> {{ 'PLAN.duration' | translate }}</th>
                <th> {{ 'PLAN.gap' | translate }}</th>
                
                <th> {{ 'PLAN.description' | translate }}</th>
                <th> {{ 'PLAN.is_vat_include' | translate }}</th>
                <th> {{ 'PLAN.Action' | translate }}</th>
              </thead>
              <tbody>
                
                <tr *ngFor="let plan of plans">
                  <td>{{plan.name}} </td>
                  <td>{{plan.amount}}</td>
                  <td>{{plan.discount_value}}</td>
                  <td>{{plan.discount_percent}}</td>
                  <td>{{plan.repetation}}</td>
                  <td>{{plan.duration}}</td>
                  <td>{{plan.gap}}</td>
                  <td>{{plan.description | slice:0:20}}</td>
                  <td> <span *ngIf="plan.is_vat_included==1;else noContent">{{ 'REGISTRATION-DETAILS.yes' | translate }}</span>
                    <ng-template #noContent> {{ 'REGISTRATION-DETAILS.No' | translate }}</ng-template>
                  </td>
                  <td >
                    <button class="btn btn-warning btn-md mx-1" (click)="open(edit , plan.id)" title="Edit"> <i
                        class="fas fa-edit"></i></button>
                        <button class="btn btn-danger btn-md mx-1" (click)="delete(deleteTime , plan.id)" data-toggle="tooltip" title="Delete">
                             <i class="fas fa-trash"></i></button>
                  </td>
                
                </tr>
  
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  
  </div>
  
  <ng-template #addnewPlan let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'PLAN.Enter Your PLAN' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        
            <form [formGroup]="PlanForm"  (ngSubmit)="onSubmit()" class="register-form">
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <label for="name"> {{ 'PLAN.PLAN Name' | translate }}</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{ 'PLAN.PLAN is required' | translate }}</div>
                        </div>
                    </div>

                </div>
             
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="amount"> {{ 'PLAN.amount' | translate }}</label>
                        <input type="text" formControlName="amount" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                            <div *ngIf="f.amount.errors.required">{{ 'PLAN.amount is required' | translate }}</div>
                        </div>
                    </div>
                </div>
              
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description"> {{ 'PLAN.description' | translate }}</label>
                        
                            <textarea class="form-control" formControlName="description" rows="4" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>    
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">{{ 'PLAN.description is required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" >
                    <div class="form-group radioPlan">
                        <label>{{ 'PLAN.Select discount' | translate }}</label>
                        <br>
                        <div class="form-check-inline" (change)="selectChangeHandler($event)" >
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input"
                                    formControlName="discountRadio" value="value">
                                {{ 'PLAN.value' | translate }}
                            </label>
                        </div>
                        <div class="form-check-inline" (change)="selectChangeHandler($event)" >
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input"
                                    formControlName="discountRadio"
                                    value="percent">{{ 'PLAN.percent' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 " *ngIf="isVisible">
                    <div class="form-group">
                        <label for="discount_input"> {{ 'PLAN.discount_input' | translate }}</label>
                        <input type="text" formControlName="discount_input" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.discount_input.errors }" />
                        <div *ngIf="submitted && f.discount_input.errors" class="invalid-feedback">
                            <div *ngIf="f.discount_input.errors.required">{{ 'PLAN.discount_input is required' | translate }}</div>
                        </div>
                    </div>
                </div>
               
               <div class="clearfix visible-lg"></div>
               <div class="col-md-4">
                <div class="form-group">
                    <label for="duration"> {{ 'PLAN.duration' | translate }}</label>
                    <input type="text" formControlName="duration" class="form-control" [(ngModel)]="durationX"
                        [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
                    <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                        <div *ngIf="f.duration.errors.required">{{ 'PLAN.duration is required' | translate }}</div>
                    </div>
                </div>
            </div> 
               <div class="col-md-4">
                    <div class="form-group">
                        <label for="repetation"> {{ 'PLAN.repetation' | translate }}</label>
                        <input type="text" formControlName="repetation" class="form-control" [(ngModel)]="repetationX"
                            [ngClass]="{ 'is-invalid': submitted && f.repetation.errors }" />
                        <div *ngIf="submitted && f.repetation.errors" class="invalid-feedback">
                            <div *ngIf="f.repetation.errors.required">{{ 'PLAN.repetation is required' | translate }}</div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="gap"> {{ 'PLAN.gap' | translate }}</label>
                        <input type="text" formControlName="gap" class="form-control" [(ngModel)]="gapX"
                            [ngClass]="{ 'is-invalid': submitted && f.gap.errors }" />
                        <div *ngIf="submitted && f.gap.errors" class="invalid-feedback">
                            <div *ngIf="f.gap.errors.required">{{ 'PLAN.gap is required' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-4" >
                    <!--  -->

                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                            class="form-check-input"
                            [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms"> {{ 'PLAN.Amount includes VAT' | translate }} </label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                            {{ 'PLAN.Amount includes VAT is required' | translate }}</div>
                    </div> <!--  -->

                </div>
                <div class="col-md-12">
                    <div class="alert alert-info">

                        {{ 'PLAN.durationX' |  translate:{'name': durationX} }}
                        {{ 'PLAN.RepetationX' |  translate:{'name': repetationX} }}
                        {{ 'PLAN.gapX' |  translate:{'name': gapX} }}
                      </div>
                </div>
            </div>
            </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 
<ng-template #edit let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'PLAN.Edit Your Plan' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="PlanForm"  (ngSubmit)="onSubmit()" class="register-form">
            <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name"> {{ 'PLAN.PLAN Name' | translate }}</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">{{ 'PLAN.PLAN is required' | translate }}</div>
                    </div>
                </div>

            </div>
         
            <div class="col-md-12">
                <div class="form-group">
                    <label for="amount"> {{ 'PLAN.amount' | translate }}</label>
                    <input type="text" formControlName="amount" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                        <div *ngIf="f.amount.errors.required">{{ 'PLAN.amount is required' | translate }}</div>
                    </div>
                </div>
            </div>
          
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description"> {{ 'PLAN.description' | translate }}</label>
                    
                        <textarea class="form-control" formControlName="description" rows="4" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>    
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">{{ 'PLAN.description is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" >
                <div class="form-group radioPlan">
                    <label>{{ 'PLAN.Select discount' | translate }}</label>
                    <br>
                    <div class="form-check-inline" (change)="selectChangeHandler($event)" >
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                formControlName="discountRadio" value="value">
                            {{ 'PLAN.value' | translate }}
                        </label>
                    </div>
                    <div class="form-check-inline" (change)="selectChangeHandler($event)" >
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                formControlName="discountRadio"
                                value="percent">{{ 'PLAN.percent' | translate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 " *ngIf="isVisible">
                <div class="form-group">
                    <label for="discount_input"> {{ 'PLAN.discount_input' | translate }}</label>
                    <input type="text" formControlName="discount_input" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.discount_input.errors }" />
                    <div *ngIf="submitted && f.discount_input.errors" class="invalid-feedback">
                        <div *ngIf="f.discount_input.errors.required">{{ 'PLAN.discount_input is required' | translate }}</div>
                    </div>
                </div>
            </div>
           
           <div class="clearfix visible-lg"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="repetation"> {{ 'PLAN.repetation' | translate }}</label>
                    <input type="text" formControlName="repetation" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.repetation.errors }" />
                    <div *ngIf="submitted && f.repetation.errors" class="invalid-feedback">
                        <div *ngIf="f.repetation.errors.required">{{ 'PLAN.repetation is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="duration"> {{ 'PLAN.duration' | translate }}</label>
                    <input type="text" formControlName="duration" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
                    <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                        <div *ngIf="f.duration.errors.required">{{ 'PLAN.duration is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="gap"> {{ 'PLAN.gap' | translate }}</label>
                    <input type="text" formControlName="gap" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.gap.errors }" />
                    <div *ngIf="submitted && f.gap.errors" class="invalid-feedback">
                        <div *ngIf="f.gap.errors.required">{{ 'PLAN.gap is required' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mx-4" >
                <!--  -->

                <div class="form-group form-check">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                        class="form-check-input"
                        [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <label for="acceptTerms"> {{ 'PLAN.Amount includes VAT' | translate }} </label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                        {{ 'PLAN.Amount includes VAT is required' | translate }}</div>
                </div> <!--  -->

            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template> 
<ng-template #deleteTime let-modal>
    <div class="modal-header">
      <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'EVENT.Delete' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
  
  <div class="row"><div class="col-md-12 text-center">
    <h2 class="text-danger"><i class="fas fa-trash-alt"></i></h2>
    <h5> {{ 'VISIT.are you sure you want to delete' | translate }}</h5>
  </div> </div>
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
        (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
  </ng-template>
  <ng-template #addnewVAT let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-0" id="modal-basic-title">{{ 'PLAN.Edit VAT Amount' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        
            <form [formGroup]="VATForm"  (ngSubmit)="onSubmit()" class="register-form">
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="vat"> {{ 'PLAN.VAT Amount' | translate }}</label>
                        <input type="text" formControlName="vat" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.vat.errors }" />
                        <div *ngIf="submitted && f.vat.errors" class="invalid-feedback">
                            <div *ngIf="f.vat.errors.required">{{ 'PLAN.VAT Amount is required' | translate }}</div>
                        </div>
                    </div>

                </div>
             
            
            </div>
            </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="modal.close('cancel')">{{ 'BUTTON.Save' | translate }}</button>
    </div>
</ng-template>