<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{ 'PAYMENT.Billing' | translate }}</h4>
            </div>
            <div class="card-body">
                <ngb-tabset #t="ngbTabset">
                    <ngb-tab id="tab-selectbyid1" title="{{ 'PAYMENT.invoices' | translate }}">
                        <ng-template ngbTabContent>
                            <h5 class="my-4">
                                {{ 'PAYMENT.invoices' | translate }}
                            </h5>
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{ 'BILLDETAILS.issue Date' | translate }}</th>
                                        <th>{{ 'DASHBOARD.total' | translate }}</th>
                                        <th>{{ 'REGISTRATION.Status' | translate }}</th>
                                        <th> {{ 'BILLDETAILS.Paid on' | translate }}</th>
                                        <th> {{ 'BILLDETAILS.Due Date' | translate }}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                           <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                            <!--<a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a> -->
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <a [routerLink]="['/Billing_Details']" class="btn btn-link   ">
                                                  
                                                #454545
                                            </a>
                                        </td>
                                        <td>2-2-2010</td>
                                        <td>52 SR</td>
                                        <td class="text-success">Paid</td>
                                        <td>2-2-2010</td>
                                        <td>2-2-2010</td>
                                    </tr>

                                </tbody>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-selectbyid2">
                        <ng-template ngbTabTitle>{{ 'PAYMENT.Payment Methods' | translate }}</ng-template>
                        <ng-template ngbTabContent>
                            <h5 class="mt-4">

                                {{ 'PAYMENT.Selecting a payment Method' | translate }}
                            </h5>
                            <div class="row">
                                <div class="col-md-8 offset-md-2">


                                    <div class="card-1 my-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">
                                                <div class="row text-center">
                                                    <div class="col-md-4"><i class="fab fa-cc-visa fa-3x"></i></div>
                                                    <div class="col-md-4">expires 2024</div>
                                                    <div class="col-md-4">5555 **** **** **** </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">
                                                <div class="row text-center">
                                                    <div class="col-md-4"><i class="fab fa-cc-mastercard fa-3x"></i>
                                                    </div>
                                                    <div class="col-md-4">expires 2024</div>
                                                    <div class="col-md-4">5555 **** **** **** </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="form-check ">
                                            <label class="form-check-label font-weight-bolder	text-primary text-center">
                                                Add Payment Method
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-selectbyid3">
                        <ng-template ngbTabTitle>{{ 'PAYMENT.Plans' | translate }}</ng-template>
                        <ng-template ngbTabContent>
                            <h5 class="my-4">

                                {{ 'PAYMENT.Selecting a payment Method' | translate }}
                            </h5>
                            <div class="">
                                <div class="">
                                    <div class="panel pricing-table">

                                        <div class="pricing-plan">
                                            <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt=""
                                                class="pricing-img">
                                            <h2 class="pricing-header">Foundation 100K</h2>
                                            <p>For small institutions with up to 20 students.</p>
                                            <ul class="pricing-features">

                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Customizable website
                                                    templates</li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Up to 30 student
                                                    registrations </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Up to 20 active students
                                                </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-times text-danger"></i>Includes parent and teacher
                                                    app </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-times text-danger"></i>Parent visit management
                                                </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-times text-danger"></i>Invoicing and accounting
                                                    tool</li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-times text-danger"></i>White labeled apps </li>

                                            </ul>
                                            <span class="pricing-price mt-2">$150</span>
                                            <a href="#" class="pricing-button">Select</a>
                                        </div>

                                        <div class="pricing-plan">
                                            <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt=""
                                                class="pricing-img">
                                            <h2 class="pricing-header">Growth 100K</h2>
                                            <p>For medium sized institutions with up to 60 students. </p>
                                            <ul class="pricing-features">

                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Customizable website
                                                    templates</li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Up to 30 student
                                                    registrations </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Up to 20 active students
                                                </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Includes parent and
                                                    teacher app </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Parent visit management
                                                </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-times text-danger"></i>Invoicing and accounting
                                                    tool</li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-times text-danger"></i>White labeled apps </li>
                                            </ul>
                                            <span class="pricing-price mt-2">$170</span>
                                            <a href="#" class="pricing-button is-featured">Select</a>
                                        </div>

                                        <div class="pricing-plan">
                                            <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt=""
                                                class="pricing-img">
                                            <h2 class="pricing-header">Scale 100K</h2>
                                            <p>For large institutions with more than 120 students. </p>
                                            <ul class="pricing-features">

                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Customizable website
                                                    templates</li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Up to 30 student
                                                    registrations </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Up to 20 active students
                                                </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Includes parent and
                                                    teacher app </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Parent visit management
                                                </li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>Invoicing and accounting
                                                    tool</li>
                                                <li class="pricing-features-item"><i
                                                        class="fas fa-check text-success"></i>White labeled apps </li>
                                            </ul>
                                            <span class="pricing-price mt-2">$190</span>
                                            <a href="#" class="pricing-button">Select</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>


            </div>
        </div>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Details</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tier</th>
                            <th>Days</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tier</td>
                            <td>31</td>
                            <td>500 SR</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6 offset-md-6">
                <div class="row">
                    <div class="col-md-6">Subtotal</div>
                    <div class="col-md-6">360 SR</div>
                    <div class="col-md-6">Discound</div>
                    <div class="col-md-6">0 SR</div>
                    <div class="col-md-6">VAT</div>
                    <div class="col-md-6">10 SR</div>
                    <div class="col-md-6 font-weight-bolder">Total</div>
                    <div class="col-md-6 font-weight-bolder">350 SR</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.close('Save click')">{{ 'CONTACT.cancel' |
            translate }}</button>
    </div>
</ng-template>